<ng-container *appShowOnInstance="['ec', 'os']">
  <eui-card class="eui-u-mt-s eui-u-mb-l" *ngIf="coverpage">
    <eui-card-header>
      <eui-card-header-title>
        <a
          [routerLink]="['/coverpage', proposalRef]"
          (click)="$event.preventDefault()"
          ><strong>{{
            'page.collection.drafts.coverPage' | translate
          }}</strong></a
        >
      </eui-card-header-title>
      <eui-card-header-subtitle
        *ngIf="coverpage.updatedOn && coverpage.updatedBy"
      >
        <app-proposal-last-updated-on
          [date]="coverpage.updatedOn"
          [name]="coverpage.updatedBy"
        ></app-proposal-last-updated-on>
      </eui-card-header-subtitle>
    </eui-card-header>
  </eui-card>
</ng-container>
<!-- MEMORANDUM SECTION-->
<eui-card class="eui-u-mt-s eui-u-mb-l" *ngIf="memorandum">
  <eui-card-header>
    <eui-card-header-title>
      <a
        [routerLink]="['/memorandum', memorandum.metadata.internalRef]"
        (click)="$event.preventDefault()"
        ><strong>{{
          'page.collection.drafts.explanatory-memorandum' | translate
        }}</strong></a
      >
    </eui-card-header-title>
    <eui-card-header-subtitle
      *ngIf="memorandum.updatedOn && memorandum.updatedBy"
    >
      <app-proposal-last-updated-on
        [date]="memorandum.updatedOn"
        [name]="memorandum.updatedBy"
      ></app-proposal-last-updated-on>
    </eui-card-header-subtitle>
  </eui-card-header>
</eui-card>
<!-- EXAPLANATORY | DRAFTS -->
<ng-container *appShowOnInstance="['cn']">
  <eui-card class="eui-u-mt-s eui-u-mb-l">
    <eui-card-header>
      <eui-card-header-title>
        <a
          [routerLink]="['/explanatory', proposalRef]"
          (click)="$event.preventDefault()"
          ><strong>{{
            'page.collection.drafts.explanatory' | translate
          }}</strong></a
        >
      </eui-card-header-title>
      <eui-card-header-right-content>
        <button euiButton euiPrimary (click)="handleCreateDraft()">
          <span>
            {{ 'page.collection.drafts.explanatory.add-button' | translate }}
          </span>
        </button>
      </eui-card-header-right-content>
    </eui-card-header>
    <eui-card-content>
      <app-proposal-create-draft
        #createDraftDialog
        [showCreateButton]="false"
        [fromProposal]="true"
      ></app-proposal-create-draft>
      <table
        class="eui-u-mt-m"
        euiTable
        euiTableResponsive
        [rows]="explanatories"
        *ngIf="true"
      >
        <ng-template euiTemplate="header">
          <tr>
            <th>
              {{ 'page.collection.drafts.explanatory.table.title' | translate }}
            </th>
            <th>
              {{
                'page.collection.drafts.explanatory.table.language' | translate
              }}
            </th>
            <th>
              {{
                'page.collection.drafts.explanatory.table.last-updated-on'
                  | translate
              }}
            </th>
            <th>
              {{
                'page.collection.drafts.explanatory.table.last-updated-by'
                  | translate
              }}
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template let-row euiTemplate="body">
          <tr>
            <td>
              <a
                *ngIf="row.title"
                [routerLink]="['/explanatory', row.metadata.internalRef]"
                (click)="$event.preventDefault()"
                ><strong>{{ row.title }}</strong></a
              >
            </td>
            <td>{{ row.language }}</td>
            <td>{{ row.updatedBy }}</td>
            <td>{{ row.updatedOn | date: 'dd-MM-yyyy hh:mm:ss' }}</td>
            <td>
              <eui-dropdown>
                <button
                  euiButton
                  euiRounded
                  euiIconButton
                  euiBasicButton
                  euiSecondary
                  [euiTooltip]="
                    'page.collection.drafts.explanatory.table.actions.tooltip'
                      | translate
                  "
                  [attr.aria-label]="
                    'page.collection.drafts.explanatory.table.actions.tooltip'
                      | translate
                  "
                >
                  <span euiIcon iconClass="eui-icon eui-icon-more-vertical">
                  </span>
                </button>
                <eui-dropdown-content>
                  <ul euiList>
                    <li
                      euiListItem
                      class="p-3"
                      (click)="hanldeConfirmationDeleteExpl(row)"
                    >
                      <span class="eui-u-color-danger-100">{{
                        'page.collection.drafts.explanatory.table.actions.button.delete'
                          | translate
                      }}</span>
                    </li>
                  </ul>
                </eui-dropdown-content></eui-dropdown
              >
            </td>
          </tr>
        </ng-template>
      </table>
    </eui-card-content>
  </eui-card>
</ng-container>

<!-- -->
<eui-card
  class="eui-u-mt-s eui-u-mb-l"
  *ngIf="document"
  #documentCard
  euiCollapsible
  euiCollapsed
>
  <eui-card-header>
    <eui-card-header-title>
      <a
        [routerLink]="['/document', document.metadata.internalRef]"
        (click)="$event.preventDefault()"
        ><strong>{{
          'page.collection.drafts.legal-act' | translate
        }}</strong></a
      >
    </eui-card-header-title>
    <eui-card-header-subtitle *ngIf="document.updatedOn && document.updatedBy">
      <app-proposal-last-updated-on
        [date]="document.updatedOn"
        [name]="document.updatedBy"
      ></app-proposal-last-updated-on>
    </eui-card-header-subtitle>
  </eui-card-header>
  <eui-card-content>
    <ng-container *ngIf="!documentCard.euiCollapsed">
      <div class="eui-u-flex">
        <div class="flex-grow-1">
          <div>
            <strong>{{
              'page.collection.drafts.annex.table.title' | translate
            }}</strong>
          </div>
          <div *ngIf="annexes.length">
            <strong>{{ annexes.length }}</strong>
            {{ 'page.collection.drafts.annex.table.annex-found' | translate }}
          </div>
          <div *ngIf="!annexes.length">
            {{ 'page.collection.drafts.annex.no-annex' | translate }}
          </div>
        </div>
        <ng-container *appUserHasPermission="['CAN_UPDATE']">
          <button
            class="eui-u-ml-l"
            euiButton
            euiPrimary
            (click)="handleAnnexAdd()"
          >
            {{ 'page.collection.drafts.annex.table.add' | translate }}
          </button>
        </ng-container>
        <ng-container *appUserHasPermission="['CAN_UPDATE']">
          <button
            class="eui-u-ml-l"
            euiButton
            euiPrimary
            euiOutline
            (click)="handleAnnexReorder()"
          >
            {{ 'page.collection.drafts.annex.table.re-order' | translate }}
          </button>
        </ng-container>
      </div>

      <table
        class="eui-u-mt-m"
        euiTable
        euiTableResponsive
        [rows]="annexes"
        *ngIf="annexes.length"
      >
        <ng-template euiTemplate="header">
          <tr>
            <th>
              {{ 'page.collection.drafts.annex.table.tr.title' | translate }}
            </th>
            <th>
              {{
                'page.collection.drafts.annex.table.tr.last-updated-by'
                  | translate
              }}
            </th>
            <th>
              {{
                'page.collection.drafts.annex.table.tr.last-updated-on'
                  | translate
              }}
            </th>
            <th>
              {{ 'page.collection.drafts.annex.table.tr.actions' | translate }}
            </th>
          </tr>
        </ng-template>
        <ng-template let-row euiTemplate="body">
          <tr>
            <td>
              <a
                *ngIf="row.title"
                [routerLink]="['/annex', row.metadata.internalRef]"
                (click)="$event.preventDefault()"
                ><strong>{{ row.title }}</strong></a
              >
              <ng-container *appUserHasPermission="['CAN_UPDATE']">
                <button
                  *ngIf="!row.title"
                  euiButton
                  euiBasicButton
                  euiPrimary
                  class="eui-u-mr-s"
                  (click)="handleAnnexEditTitle(row)"
                >
                  {{
                    'page.collection.drafts.annex.table.tr.actions.dropdown.edit-title'
                      | translate
                  }}
                </button>
              </ng-container>
            </td>
            <td>{{ row.updatedBy }}</td>
            <td>{{ row.updatedOn | date: 'dd-MM-yyyy hh:mm:ss' }}</td>
            <td>
              <div class="eui-dropdown-button">
                <eui-dropdown>
                  <button
                    euiButton
                    euiRounded
                    euiIconButton
                    euiBasicButton
                    euiSecondary
                    [euiTooltip]="
                      'page.collection.drafts.annex.table.tr.actions.tooltip'
                        | translate
                    "
                    [attr.aria-label]="
                      'page.collection.drafts.annex.table.tr.actions.tooltip'
                        | translate
                    "
                  >
                    <span
                      euiIcon
                      iconClass="eui-icon eui-icon-more-vertical"
                    ></span>
                  </button>
                  <eui-dropdown-content>
                    <ul euiList>
                      <ng-container *appUserHasPermission="['CAN_UPDATE']">
                        <li
                          euiListItem
                          class="p-2"
                          (click)="handleAnnexEditTitle(row)"
                        >
                          <button euiListItem>
                            {{
                              'page.collection.drafts.annex.table.tr.actions.dropdown.edit-title'
                                | translate
                            }}
                          </button>
                        </li>
                      </ng-container>
                      <ng-container *appUserHasPermission="['CAN_DELETE']">
                        <li
                          euiListItem
                          euiDanger
                          class="p-2"
                          (click)="handleAnnexDelete(row)"
                        >
                          <button euiListItem euiDanger>
                            {{
                              'page.collection.drafts.annex.table.tr.actions.dropdown.delete'
                                | translate
                            }}
                          </button>
                        </li>
                      </ng-container>
                    </ul>
                  </eui-dropdown-content>
                </eui-dropdown>
              </div>
            </td>
          </tr>
        </ng-template>
      </table>
    </ng-container>
  </eui-card-content>
</eui-card>

<app-confirm-delete-dialog
  #confirmationForDelete
  [title]="
    this.tranlsateService.instant(
      'page.collection.drafts.annex.delete-dialog.title'
    )
  "
  [description]="
    this.tranlsateService.instant(
      'page.collection.drafts.annex.delete-dialog.desc'
    )
  "
  (confirmDeletion)="hanldeConfirmationDelete()"
></app-confirm-delete-dialog>

<app-confirm-delete-dialog
  #confirmationForDeleteExpl
  [title]="
    this.tranlsateService.instant(
      'page.collection.drafts.explanatory.table.actions.delete-dialog.title'
    )
  "
  [description]="
    this.tranlsateService.instant(
      'page.collection.drafts.explanatory.table.actions.delete-dialog.desc'
    )
  "
  (confirmDeletion)="handleExplanatoryDelete()"
></app-confirm-delete-dialog>

<eui-dialog
  #editTitle
  [title]="'page.collection.drafts.annex.title-dialog.title' | translate"
>
  <div euiInputGroup class="flex-row align-items-center">
    <label class="label">
      {{ 'page.collection.drafts.annex.title-dialog.label' | translate }}</label
    >
    <input euiInputText [(ngModel)]="title" />
  </div>
  <eui-dialog-footer>
    <div class="d-flex flex-row justify-content-end">
      <button euiButton euiSecondary (click)="handleClose()">
        {{ 'page.collection.drafts.annex.title-dialog.cancel' | translate }}
      </button>
      <button euiButton euiPrimary class="save-button" (click)="handleSave()">
        <span>{{
          'page.collection.drafts.annex.title-dialog.save' | translate
        }}</span>
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>

<eui-dialog #editAnnexOrder title="Edit annex order">
  <div class="flex flex-col mb-5">
    <p class="">
      {{ 'page.collection.drafts.annex-reorder-dialog.hint' | translate }}
    </p>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div
        class="example-box"
        *ngFor="let annex of annexes; let i = index"
        cdkDrag
      >
        <span class="eui-icon eui-icon-bars"></span>
        <div class="" [attr.data-index]="i">{{ annex.title }}</div>
      </div>
    </div>
  </div>
  <eui-dialog-footer>
    <div class="d-flex flex-row justify-content-end">
      <button euiButton euiSecondary (click)="handleClose()">
        {{ 'page.collection.drafts.annex.reorder-dialog.cancel' | translate }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
