<ng-container *appShowOnInstance="['ec', 'os']">
  <eui-card class="eui-u-mt-s eui-u-mb-l" *ngIf="coverpage">
    <eui-card-header>
      <eui-card-header-title>
        <a
          [routerLink]="['/coverpage', proposalRef]"
          (click)="$event.preventDefault()"
          ><strong>{{
            'page.collection.drafts.coverPage' | translate
          }}</strong></a
        >
      </eui-card-header-title>
      <eui-card-header-subtitle
        *ngIf="coverpage.updatedOn && coverpage.updatedBy"
      >
        <app-proposal-last-updated-on
          [date]="coverpage.updatedOn"
          [name]="coverpage.updatedBy"
        ></app-proposal-last-updated-on>
      </eui-card-header-subtitle>
    </eui-card-header>
  </eui-card>
</ng-container>

<eui-card class="eui-u-mt-s eui-u-mb-l" *ngIf="memorandum">
  <eui-card-header>
    <eui-card-header-title>
      <a
        [routerLink]="['/memorandum', memorandum.metadata.internalRef]"
        (click)="$event.preventDefault()"
        ><strong>{{
          'page.collection.drafts.explanatory-memorandum' | translate
        }}</strong></a
      >
    </eui-card-header-title>
    <eui-card-header-subtitle
      *ngIf="memorandum.updatedOn && memorandum.updatedBy"
    >
      <app-proposal-last-updated-on
        [date]="memorandum.updatedOn"
        [name]="memorandum.updatedBy"
      ></app-proposal-last-updated-on>
    </eui-card-header-subtitle>
  </eui-card-header>
</eui-card>

<ng-container *appShowOnInstance="['cn']">
  <eui-card class="eui-u-mt-s eui-u-mb-l">
    <eui-card-header>
      <eui-card-header-title>
        <a
          [routerLink]="['/explanatory', proposalRef]"
          (click)="$event.preventDefault()"
          ><strong>{{
            'page.collection.drafts.explanatory' | translate
          }}</strong></a
        >
      </eui-card-header-title>
      <eui-card-header-right-content>
        <button euiButton euiBasicButton class="" (click)="handleCreateDraft()">
          <span
            class="eui-icon eui-icon-plus eui-u-color-success-100 eui-icon--rounded"
          ></span>
        </button>
      </eui-card-header-right-content>
    </eui-card-header>
    <eui-card-content>
      <app-proposal-create-draft
        #createDraftDialog
        [showCreateButton]="false"
        [fromProposal]="true"
      ></app-proposal-create-draft>
      <table
        class="eui-u-mt-m"
        euiTable
        euiTableResponsive
        [rows]="explanatories"
        *ngIf="true"
      >
        <ng-template euiTemplate="header">
          <tr>
            <th>
              {{ 'page.collection.drafts.explanatory.table.title' | translate }}
            </th>
            <th>
              {{
                'page.collection.drafts.explanatory.table.language' | translate
              }}
            </th>
            <th>
              {{
                'page.collection.drafts.explanatory.table.last-updated-on'
                  | translate
              }}
            </th>
            <th>
              {{
                'page.collection.drafts.explanatory.table.last-updated-by'
                  | translate
              }}
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template let-row euiTemplate="body">
          <tr>
            <td>
              <a
                *ngIf="row.title"
                [routerLink]="['/explanatory', row.metadata.internalRef]"
                (click)="$event.preventDefault()"
                ><strong>{{ row.title }}</strong></a
              >
              <button
                *ngIf="!row.title"
                euiButton
                euiBasicButton
                euiPrimary
                class="eui-u-mr-s"
                (click)="handleAnnexEditTitle(row)"
              >
                Edit title
              </button>
            </td>
            <td>{{ row.language }}</td>
            <td>{{ row.updatedBy }}</td>
            <td>{{ row.updatedOn | date: 'dd-MM-yyyy hh:mm:ss' }}</td>
            <td>
              <button
                euiButton
                euiBasicButton
                class=""
                (click)="handleExplanatoryDelete(row)"
              >
                <span
                  class="eui-icon eui-icon-remove-circle-o eui-u-color-danger-100 eui-icon--rounded"
                ></span>
              </button>
            </td>
          </tr>
        </ng-template>
      </table>
    </eui-card-content>
  </eui-card>
</ng-container>

<eui-card
  class="eui-u-mt-s eui-u-mb-l"
  *ngIf="document"
  #documentCard
  euiCollapsible
  euiCollapsed
>
  <eui-card-header>
    <eui-card-header-title>
      <a
        [routerLink]="['/document', document.metadata.internalRef]"
        (click)="$event.preventDefault()"
        ><strong>{{
          'page.collection.drafts.legal-act' | translate
        }}</strong></a
      >
    </eui-card-header-title>
    <eui-card-header-subtitle *ngIf="document.updatedOn && document.updatedBy">
      <app-proposal-last-updated-on
        [date]="document.updatedOn"
        [name]="document.updatedBy"
      ></app-proposal-last-updated-on>
    </eui-card-header-subtitle>
  </eui-card-header>
  <eui-card-content>
    <ng-container *ngIf="!documentCard.euiCollapsed">
      <div class="eui-u-flex">
        <div class="flex-grow-1">
          <div><strong>Annexes</strong></div>
          <div *ngIf="annexes.length">
            <strong>{{ annexes.length }}</strong>
            {{ 'page.collection.drafts.annex.annex-found' | translate }}
          </div>
          <div *ngIf="!annexes.length">
            {{ 'page.collection.drafts.annex.no-annex' | translate }}
          </div>
        </div>
        <button
          class="eui-u-ml-l"
          euiButton
          euiPrimary
          (click)="handleAnnexAdd()"
        >
          Add
        </button>
        <button
          class="eui-u-ml-l"
          euiButton
          euiPrimary
          euiOutline
          (click)="handleAnnexReorder()"
        >
          Reorder
        </button>
      </div>

      <table
        class="eui-u-mt-m"
        euiTable
        euiTableResponsive
        [rows]="annexes"
        *ngIf="annexes.length"
      >
        <ng-template euiTemplate="header">
          <tr>
            <th>Annex title</th>
            <th>Last Updated by</th>
            <th>Last Updated on</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template let-row euiTemplate="body">
          <tr>
            <td>
              <a
                *ngIf="row.title"
                [routerLink]="['/annex', row.metadata.internalRef]"
                (click)="$event.preventDefault()"
                ><strong>{{ row.title }}</strong></a
              >
              <button
                *ngIf="!row.title"
                euiButton
                euiBasicButton
                euiPrimary
                class="eui-u-mr-s"
                (click)="handleAnnexEditTitle(row)"
              >
                Edit title
              </button>
            </td>
            <td>{{ row.updatedBy }}</td>
            <td>{{ row.updatedOn | date: 'dd-MM-yyyy hh:mm:ss' }}</td>
            <td>
              <div class="eui-dropdown-button">
                <eui-dropdown>
                  <button
                    euiButton
                    euiRounded
                    euiIconButton
                    euiBasicButton
                    euiSecondary
                    euiTooltip="Annex actions"
                    [attr.aria-label]="'Annex actions'"
                  >
                    <span
                      euiIcon
                      iconClass="eui-icon eui-icon-more-vertical"
                    ></span>
                  </button>
                  <eui-dropdown-content>
                    <ul euiList>
                      <li euiListItem (click)="handleAnnexEditTitle(row)">
                        <button euiListItem>Edit title</button>
                      </li>
                      <li euiListItem (click)="handleAnnexDelete(row)">
                        <button euiListItem>Delete</button>
                      </li>
                    </ul>
                  </eui-dropdown-content>
                </eui-dropdown>
              </div>
            </td>
          </tr>
        </ng-template>
      </table>
    </ng-container>
  </eui-card-content>
</eui-card>

<eui-dialog #editTitle title="Edit title">
  <div euiInputGroup class="flex-row align-items-center">
    <label class="label">
      {{ 'page.collection.drafts.annex.title-dialog.label' | translate }}</label
    >
    <input euiInputText [(ngModel)]="title" />
  </div>
  <eui-dialog-footer>
    <div class="d-flex flex-row justify-content-end">
      <button euiButton euiSecondary (click)="handleClose()">
        {{ 'page.collection.drafts.annex.title-dialog.cancel' | translate }}
      </button>
      <button euiButton euiPrimary class="save-button" (click)="handleSave()">
        <span>{{
          'page.collection.drafts.annex.title-dialog.save' | translate
        }}</span>
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>

<eui-dialog #editAnnexOrder title="Edit annex order">
  <div class="flex flex-col mb-5">
    <p class="">
      {{ 'page.collection.drafts.annex-reorder-dialog.hint' | translate }}
    </p>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div
        class="example-box"
        *ngFor="let annex of annexes; let i = index"
        cdkDrag
      >
        <span class="eui-icon eui-icon-bars"></span>
        <div class="" [attr.data-index]="i">{{ annex.title }}</div>
      </div>
    </div>
  </div>
  <eui-dialog-footer>
    <div class="d-flex flex-row justify-content-end">
      <button euiButton euiSecondary (click)="handleClose()">
        {{ 'page.collection.drafts.annex.reorder-dialog.cancel' | translate }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
