<eui-dropdown isDropDownRightAligned>
  <button
    euiSizeS
    [title]="'page.editor.versions.actions-button.tooltip' | translate"
    [attr.aria-label]="
      'page.editor.versions.actions-button.tooltip' | translate
    "
    [disabled]="disabled"
    style="border: none; cursor: pointer; background-color: white;"
  >
    <eui-icon-svg icon="eui-ellipsis-vertical" size="xs"></eui-icon-svg>
  </button>
  <eui-dropdown-content>
    <div class="eui-u-flex eui-u-flex-column eui-u-flex-align-items-start">
      <button euiDropdownItem (click)="handleCheckboxClick(version)">
        {{ 'page.editor.versions.actions.view' | translate }}
      </button>
      <button
        euiDropdownItem
        (click)="onVersionRevert(version.documentId, version.versionNumber)"
      >
        {{ 'page.editor.versions.actions.revert' | translate }}
      </button>
      <button euiDropdownItem (click)="doc.versionExport(version)">
        {{ 'page.editor.versions.actions.export' | translate }}
      </button>
      <button
        euiDropdownItem
        *ngIf="isCNInstance"
        (click)="onBaseChange(version)"
      >
        {{ 'page.editor.versions.actions.changeBase' | translate }}
      </button>
      <button
        euiDropdownItem
        (click)="exploreMilestone.emit(version)"
        *ngIf="isMilestone"
      >
        {{ 'page.editor.versions.actions.explore' | translate }}
      </button>
    </div>
  </eui-dropdown-content>
</eui-dropdown>
<eui-dialog
  #versionRevertDialog
  [title]="'page.editor.versions.restore.modal-title' | translate"
  [acceptLabel]="'page.editor.versions.restore.modal-button' | translate"
  [dismissLabel]="'global.actions.cancel' | translate"
  [width]="'25vw'"
  [isHandleCloseOnAccept]="true"
  [isHandleCloseOnDismiss]="true"
  [hasCloseButton]="false"
  (clickOutside)="onCancel()"
  (close)="onCancel()"
  (accept)="onAccept()"
  (dismiss)="onCancel()"
>
  <p>{{ versionModalText }}</p>
  <p>{{ 'page.editor.versions.restore.modal-text' | translate }}</p>
</eui-dialog>
