<div class="d-flex flex-column">
  <div class="eui-u-flex eui-u-flex-row eui-u-width-20 align-self-end">
    <div euiInputGroup class="eui-u-mr-s">
      <div class="eui-input-group-addon">
        <div class="eui-input-group-addon-item">
          <eui-icon iconClass="eui-icon-search"></eui-icon>
        </div>
        <eui-table-filter
          #filter
          placeholder="Search filter..."
          (filterChange)="onFilterChange($event)"
        ></eui-table-filter>
      </div>
    </div>
    <app-proposal-collaborators-dialog></app-proposal-collaborators-dialog>
  </div>
  <table
    #collaboratos
    euiTable
    euiTableResponsive
    class="w-100"
    [rows]="dataSource"
    [filter]="filter"
  >
    <ng-template euiTemplate="header">
      <tr>
        <th>{{ 'page.collection.collaborators.table.td-name' | translate }}</th>
        <th>
          {{ 'page.collection.collaborators.table.td-entity' | translate }}
        </th>
        <th>{{ 'page.collection.collaborators.table.td-role' | translate }}</th>
        <th>
          {{ 'page.collection.collaborators.table.td-actions' | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template let-row euiTemplate="body">
      <tr>
        <td>{{ row.fullName }}</td>
        <td>{{ row.entity.organizationName }}</td>
        <td>
          <ng-container
            *ngIf="isEditRole && editUserId === row.login; else tdRole"
          >
            <select
              euiSelect
              (change)="hanldeOnChange($event)"
              [selectedIndex]="getIndexByRole()"
            >
              <option value="OWNER">
                {{ 'page.collection.collaborators.role.author' | translate }}
              </option>
              <option value="CONTRIBUTOR">
                {{
                  'page.collection.collaborators.role.contributor' | translate
                }}
              </option>
              <option value="REVIEWER">
                {{ 'page.collection.collaborators.role.reviewer' | translate }}
              </option>
            </select>
          </ng-container>
          <ng-template #tdRole>
            <span>{{
              'page.collection.collaborators.role.' +
                (row.role === 'OWNER' ? 'author' : row.role.toLowerCase())
                | translate
            }}</span>
          </ng-template>
        </td>
        <td>
          <eui-dropdown>
            <button
              euiButton
              euiRounded
              euiIconButton
              euiBasicButton
              euiSecondary
              euiTooltip="More options"
              [attr.aria-label]="'More options'"
            >
              <span euiIcon iconClass="eui-icon eui-icon-more-vertical"></span>
            </button>
            <eui-dropdown-content>
              <div euiList>
                <ng-container *appUserHasPermission="['CAN_UPDATE']">
                  <button
                    euiListItem
                    class="eui-u-p-s"
                    (click)="editCollaborator(row.login, row.entity, row.role)"
                  >
                    {{
                      'page.collection.collaborators.table.actions.edit-role'
                        | translate
                    }}
                  </button>
                </ng-container>
                <ng-container
                  *appUserHasPermission="['CAN_ADD_REMOVE_COLLABORATOR']"
                >
                  <button
                    euiListItem
                    class="eui-u-p-s"
                    euiDanger
                    (click)="handleConfirmDeletion(row)"
                    *ngIf="dataSource.length > 1"
                  >
                    {{ 'global.actions.delete' | translate }}
                  </button>
                </ng-container>
              </div>
            </eui-dropdown-content>
          </eui-dropdown>
        </td>
      </tr>
    </ng-template>
    <ng-template euiTemplate="emptyMessage">
      <tr>
        <td class="eui-u-text-center" colspan="5">
          {{ 'page.collection.collaborators.table.no-data' | translate }}
        </td>
      </tr>
    </ng-template>
  </table>
</div>

<app-confirm-delete-dialog
  #confirmCollabDelete
  [title]="
    'page.collection.collaborators.table.delete-dialog.title' | translate
  "
  [description]="
    'page.collection.collaborators.table.delete-dialog.desc' | translate
  "
  (confirmDeletion)="deleteCollaborator()"
></app-confirm-delete-dialog>
