<eui-dialog
  #dialog
  [title]="'dialog.import-from-journal.dialog-title' | translate"
  width="calc(100vw - 2rem)"
  height="calc(100vh - 2rem - 50px - 70px)"
  [hasCloseButton]="false"
  [isClosedOnEscape]="false"
>
  <div class="dialog-body">
    <!-- Search Bar -->
    <form
      class="search-bar eui-t-form-compact eui-u-mb-l"
      [formGroup]="searchForm"
      (ngSubmit)="onSearchSubmit()"
      *ngIf="searchForm"
    >
      <!-- Type -->
      <div euiInputGroup class="eui-u-width-auto">
        <label
          euiLabel
          euiRequired
          for="type"
          translate="dialog.import-from-journal.search.type"
        ></label>
        <select euiSelect formControlName="type" name="type" id="type">
          <option [value]="type" *ngFor="let type of types">{{ type }}</option>
        </select>
      </div>
      <!-- Year -->
      <div euiInputGroup class="eui-u-width-auto">
        <label
          euiLabel
          euiRequired
          for="year"
          translate="dialog.import-from-journal.search.year"
        ></label>
        <select
          class="eui-u-width-8"
          euiSelect
          formControlName="year"
          name="year"
          id="year"
        >
          <option [value]="year" *ngFor="let year of years">{{ year }}</option>
        </select>
      </div>
      <!-- Number -->
      <div euiInputGroup class="eui-u-width-auto">
        <label euiLabel euiRequired for="number">
          <eui-icon-svg
            icon="eui-alert-circle"
            [euiTooltip]="
              'dialog.import-from-journal.search.number-errorTooltip'
                | translate
            "
            euiTooltipDanger
            *ngIf="
              searchForm.controls.number.touched &&
              searchForm.controls.number.invalid
            "
          ></eui-icon-svg>
          {{ 'dialog.import-from-journal.search.number' | translate }}
        </label>
        <input
          class="eui-u-width-8"
          euiInputText
          formControlName="number"
          name="number"
          id="number"
        />
      </div>
      <!-- Search Button -->
      <div
        euiInputGroup
        class="eui-u-width-auto eui-u-flex-row eui-u-flex-align-items-center"
      >
        <button euiButton euiPrimary type="submit" [isLoading]="searching">
          {{ 'dialog.import-from-journal.search.search-button' | translate }}
        </button>
        <eui-icon-svg
          euiInfo
          icon="eui-icon-info-circle-thin"
          [euiTooltip]="
            'dialog.import-from-journal.search.info-tooltip' | translate
          "
        ></eui-icon-svg>
      </div>
    </form>
    <div translate="dialog.import-from-journal.prompt"></div>
    <!-- Document -->
    <div class="document-wrapper" #docContainer></div>
  </div>
  <!-- Footer -->
  <eui-dialog-footer>
    <div class="eui-u-flex eui-u-flex-wrap app-u-gap-s">
      <div
        class="eui-u-flex eui-u-flex-justify-content-start eui-u-flex-wrap eui-u-width-auto app-u-gap-s"
      >
        <button
          euiButton
          euiSecondary
          euiOutline
          [disabled]="!docLoaded"
          (click)="toggleSelectAllRecitals()"
        >
          <eui-icon-svg
            [icon]="
              allRecitalsSelected
                ? 'eui-icon-checkbox'
                : 'eui-icon-checkbox-outline'
            "
            [euiPrimary]="allRecitalsSelected"
          ></eui-icon-svg>
          <span
            euiLabel
            translate="dialog.import-from-journal.footer.selectAllRecitals-button"
          ></span>
        </button>
        <button
          euiButton
          euiSecondary
          euiOutline
          [disabled]="!docLoaded"
          (click)="toggleSelectAllEnactingItems()"
        >
          <eui-icon-svg
            [icon]="
              allEnactingItemsSelected
                ? 'eui-icon-checkbox'
                : 'eui-icon-checkbox-outline'
            "
            [euiPrimary]="allEnactingItemsSelected"
          ></eui-icon-svg>
          <span
            euiLabel
            translate="dialog.import-from-journal.footer.selectAllEnactingItems-button"
          ></span>
        </button>
      </div>
      <div
        class="eui-u-flex eui-u-flex-justify-content-end eui-u-flex-wrap eui-u-width-auto eui-u-ml-auto app-u-gap-s"
      >
        <div *ngIf="importManager?.count$ | async">
          {{
            'dialog.import-from-journal.footer.elements-selected'
              | translate : { count: (importManager?.count$ | async) }
          }}
        </div>
        <button
          euiButton
          euiOutline
          translate="dialog.import-from-journal.footer.close-button"
          (click)="close()"
        ></button>
        <button
          euiButton
          euiPrimary
          [disabled]="(importManager?.count$ | async) === 0"
          [isLoading]="importing"
          (click)="accept()"
        >
          {{ 'dialog.import-from-journal.footer.import-button' | translate }}
        </button>
      </div>
    </div>
  </eui-dialog-footer>
</eui-dialog>
