<button
  euiButton
  euiPrimary
  (click)="openCreateWizard()"
  *ngIf="showCreateButton"
>
  {{ 'page.workspace.create-draft' | translate }}
</button>

<eui-dialog
  #createWizardDialog
  [title]="'page.workspace.create-title.draft' | translate"
  [isHandleCloseOnAccept]="true"
  [isHandleCloseOnDismiss]="true"
  (close)="onClose()"
>
  <ux-wizard-steps
    *ngIf="!fromProposal"
    (selectStep)="onSelectStepRemoteNav($event)"
    [activeStepIndex]="currentStepIndex"
    [isNavigationAllowed]="isNavigationAllowed"
  >
    <ux-wizard-step
      label="Template selection"
      [isCompleted]="!!selectedTemplate"
    >
      <uxWizardStepContent>
        <app-proposal-create-template-selector
          #templateSelector
          (selectTemplate)="handleSelectTemplate($event)"
          (selectLanguage)="handleSelectLanguage($event)"
          translationKey="draft"
        ></app-proposal-create-template-selector>
      </uxWizardStepContent>
    </ux-wizard-step>
    <ux-wizard-step
      label="{{ 'page.workspace.create-form.draft.label' | translate }}"
      [isCompleted]="createForm.valid"
    >
      <uxWizardStepContent>
        <app-proposal-create-form
          [createForm]="createForm"
          translationKey="draft"
        ></app-proposal-create-form>
      </uxWizardStepContent>
    </ux-wizard-step>
  </ux-wizard-steps>
  <ng-container *ngIf="fromProposal">
    <app-proposal-create-template-selector
      #templateSelector
      (selectTemplate)="handleSelectTemplate($event)"
      (selectLanguage)="handleSelectLanguage($event)"
    ></app-proposal-create-template-selector>
  </ng-container>

  <eui-dialog-footer>
    <div class="app-dialog-footer-content">
      <button euiButton (click)="closeDialog()">
        {{ 'global.actions.cancel' | translate }}
      </button>
      <button
        *ngIf="!fromProposal"
        euiButton
        type="button"
        [disabled]="currentStepIndex === 1 || !isNavigationAllowed"
        (click)="onNavigation(-1)"
      >
        <span class="eui-icon eui-icon-chevron-left"></span>
        <span euiLabel>
          {{ 'global.actions.previous' | translate }}
        </span>
      </button>
      <button
        *ngIf="!fromProposal"
        euiButton
        type="button"
        [disabled]="currentStepIndex === stepsCount || !isNavigationAllowed"
        (click)="onNavigation(+1)"
        [hidden]="showCreateHideNext()"
      >
        <span euiLabel>
          {{ 'global.actions.next' | translate }}
        </span>
        <span class="eui-icon eui-icon-chevron-right"></span>
      </button>
      <button
        [hidden]="!showCreateHideNext()"
        [disabled]="!isFormValid()"
        euiButton
        euiPrimary
        (click)="onCreate()"
      >
        {{ 'global.actions.create' | translate }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
