<eui-dialog
  #sendCopyMilestoneForContributionModal
  [title]="
    'page.collection.milestones.send-copy-for-contribution-dialog.title'
      | translate
  "
  [isHandleCloseOnDismiss]="true"
  [isHandleCloseOnEscape]="true"
  [isHandleCloseOnClose]="true"
  (clickOutside)="close()"
  (dismiss)="close()"
  (escape)="close()"
  (dialogClose)="close()"
>
  <!-- Body -->
  <div [formGroup]="targetUserForm">
    <div euiInputGroup class="row eui-u-flex-justify-content-center">
      <div class="col-md-3">
        <label euiLabel for="targetUser">
          {{
          'page.collection.milestones.send-copy-for-contribution-dialog.target-user'
            | translate
          }}</label
        >
      </div>
      <div class="col-md-9">
        <eui-autocomplete
          [autocompleteData]="userAutocompleteData"
          name="targetUser"
          id="targetUser"
          formControlName="targetUser"
          (inputChange)="handleNameChange($event)"
          (clear)="handleNameClear($event)"
        ></eui-autocomplete>
      </div>
    </div>
  </div>
  <div euiInputGroup class="row eui-u-flex-justify-content-center">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <div
        class="info-message"
        [innerHTML]="
          'page.collection.milestones.send-copy-for-contribution-dialog.info-message'
            | translate
        "
      ></div>
    </div>
  </div>

  <!-- Footer -->
  <eui-dialog-footer>
    <div class="eui-u-display-flex eui-u-flex-row eui-u-flex-justify-content-end">
      <button
        type="button"
        class="eui-u-mr-xs"
        euiButton
        euiSecondary
        (click)="close()"
      >
        {{ 'global.actions.cancel' | translate }}
      </button>
      <button
        [disabled]="!isFormValid"
        type="button"
        euiButton
        euiPrimary
        (click)="handleSendMilestoneCopyForContribution()"
      >
        {{
        'page.collection.milestones.send-copy-for-contribution-dialog.footer.send-for-contribution'
          | translate
        }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
