.milestones {
  &-header {
    border-bottom: none !important;
    padding: var(--eui-base-spacing-2xs) 0 !important;
  }

  &-select,
  &-title {
    width: 436px !important;
  }

  &-title {
    padding-bottom: 5rem;
  }

  &-required {
    flex-direction: row-reverse !important;
  }
}

.milestones-title:not(.disabled) + label::after {
  color: red;
  content: '*';
}
