<div class="toc-container h-100">
  <div class="tree-container">
    <div class="tree-drag-content" *ngIf="false">
      <ul
        euiList
        class="tree-drag-content"
        #elementList="cdkDropList"
        cdkDropList
        [cdkDropListData]="tocItems"
        cdkDropListConnectedTo="tree"
        [cdkDropListSortingDisabled]="true"
        [cdkDropListDisabled]="false"
      >
        <li
          euiListItem
          class=""
          cdkDrag
          [cdkDragData]="item"
          (cdkDragMoved)="dragMoved($event, true)"
          *ngFor="let item of getTocItemsToDrag()"
        >
          <span *ngIf="item.draggable">{{ item.aknTag }}</span>
        </li>
      </ul>
    </div>
    <mat-tree
      id="tree"
      cdkDropList
      #tree="cdkDropList"
      [dataSource]="dataSource"
      [treeControl]="treeControl"
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListSortingDisabled]="true"
      class="eui-primary"
    >
      <mat-nested-tree-node
        [hidden]="!node.tocItem.display"
        (cdkDragMoved)="dragMoved($event)"
        [attr.data-id]="node.id"
        *matTreeNodeDef="let node"
        cdkDrag
        cdkDropList
        [cdkDragData]="node"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListSortingDisabled]="true"
        [cdkDropListDisabled]="false"
      >
        <li class="node-li">
          <div
            class="mat-tree-node"
            (click)="hanldeNodeClick(node)"
            euiLabel
            euiPrimary
          >
            <span class="label">{{ getLabel(node) }}</span>
            <eui-dropdown *ngIf="isEditMode()">
              <button
                euiButton
                euiRounded
                euiIconButton
                euiBasicButton
                euiSecondary
                [euiTooltip]="
                  tranlsateService.instant(
                    'page.editor.toc.tree-node.more-options'
                  )
                "
                [attr.aria-label]="
                  tranlsateService.instant(
                    'page.editor.toc.tree-node.more-options'
                  )
                "
              >
                <span
                  euiIcon
                  iconClass="eui-icon eui-icon-more-vertical"
                ></span>
              </button>
              <eui-dropdown-content>
                <div euiList>
                  <button
                    euiListItem
                    (click)="handleMove(node)"
                    *ngIf="!isNodeSelected()"
                  >
                    {{ 'page.editor.toc.move-actions.move' | translate }}
                  </button>
                  <button
                    euiListItem
                    (click)="handlePlaceBefore(node)"
                    *ngIf="isNodeSelected()"
                  >
                    {{
                      'page.editor.toc.move-actions.place-before' | translate
                    }}
                  </button>
                  <button
                    euiListItem
                    (click)="handlePlaceChild(node)"
                    *ngIf="isNodeSelected()"
                  >
                    {{ 'page.editor.toc.move-actions.place-child' | translate }}
                  </button>
                  <button
                    euiListItem
                    (click)="handlePlaceAfter(node)"
                    *ngIf="isNodeSelected()"
                  >
                    {{ 'page.editor.toc.move-actions.place-after' | translate }}
                  </button>
                </div>
              </eui-dropdown-content>
            </eui-dropdown>
          </div>
        </li>
      </mat-nested-tree-node>
      <mat-nested-tree-node
        [hidden]="!node.tocItem.display"
        *matTreeNodeDef="let node; when: hasChildren"
        cdkDrag
        cdkDropList
        [attr.data-id]="node.id"
        [cdkDragData]="node"
        (cdkDragMoved)="dragMoved($event)"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListSortingDisabled]="true"
        [cdkDropListDisabled]="false"
      >
        <li class="example-tree-container">
          <div class="mat-tree-node mr-2" (click)="hanldeNodeClick(node)">
            <eui-icon
              euiSizeM
              matTreeNodeToggle
              *ngIf="!treeControl.isExpanded(node)"
              iconClass="eui-icon-angle-right"
              (click)="saveExpanded(node)"
            ></eui-icon>
            <eui-icon
              matTreeNodeToggle
              *ngIf="treeControl.isExpanded(node)"
              iconClass="eui-icon eui-icon-angle-down"
              (click)="saveExpanded(node)"
            ></eui-icon>
            <span
              class="label-extended"
              euiLabel
              euiPrimary
              (click)="hanldeNodeClick(node)"
              >{{ getLabel(node) }}</span
            >
            <eui-dropdown *ngIf="isEditMode()">
              <button
                euiButton
                euiRounded
                euiIconButton
                euiBasicButton
                euiSecondary
                [euiTooltip]="
                  tranlsateService.instant(
                    'page.editor.toc.tree-node.more-options'
                  )
                "
                [attr.aria-label]="
                  tranlsateService.instant(
                    'page.editor.toc.tree-node.more-options'
                  )
                "
              >
                <span
                  euiIcon
                  iconClass="eui-icon eui-icon-more-vertical"
                ></span>
              </button>
              <eui-dropdown-content>
                <div euiList>
                  <button
                    euiListItem
                    (click)="handleMove(node)"
                    *ngIf="!isNodeSelected()"
                  >
                    {{ 'page.editor.toc.move-actions.move' | translate }}
                  </button>
                  <button
                    euiListItem
                    (click)="handlePlaceBefore(node)"
                    *ngIf="isNodeSelected()"
                  >
                    {{
                      'page.editor.toc.move-actions.place-before' | translate
                    }}
                  </button>
                  <button
                    euiListItem
                    (click)="handlePlaceChild(node)"
                    *ngIf="isNodeSelected()"
                  >
                    {{ 'page.editor.toc.move-actions.place-child' | translate }}
                  </button>
                  <button
                    euiListItem
                    (click)="handlePlaceAfter(node)"
                    *ngIf="isNodeSelected()"
                  >
                    {{ 'page.editor.toc.move-actions.place-after' | translate }}
                  </button>
                </div>
              </eui-dropdown-content>
            </eui-dropdown>
          </div>
          <ul class="example-tree-nested-node">
            <div *ngIf="treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </div>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>
  </div>
  <div class="d-flex flex-column" *ngIf="isEditMode() && isNodeSelected()">
    <h3>{{ 'page.editor.selected-element.title' | translate }}</h3>
    <div class="d-flex flex-column">
      <div class="d-flex flex-row">
        <div class="m-2">
          <label euiLabel class="font-weight-bold" for="">{{
            'page.editor.toc.selected-element.heading' | translate
          }}</label
          ><input euiInputText disabled type="text" [(ngModel)]="type" />
        </div>
        <div class="m-2">
          <label class="font-weight-bold" euiLabel for="">{{
            'page.editor.toc.selected-element.number' | translate
          }}</label
          ><input euiInputText type="text" disabled [(ngModel)]="number" />
        </div>
      </div>
      <div class="">
        <label euiLabel class="font-weight-bold" for="">{{
          'page.editor.toc.selected-element.heading' | translate
        }}</label>
        <input
          euiInputText
          type="text"
          [(ngModel)]="heading"
          (ngModelChange)="handleHeadingChange($event)"
        />
      </div>
      <div class="mt-2 align-self-end">
        <button euiButton class="w-25" euiDanger (click)="hanldeTocRemove()">
          {{ 'page.editor.toc.selected-element.delete' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
