<div class="toc-container h-100 flex flex-column justify-content-between">
  <div class="tree-container" cdkScrollable>
    <mat-tree
      id="tree"
      cdkDropList
      #tree="cdkDropList"
      [dataSource]="dataSource"
      [treeControl]="treeControl"
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListSortingDisabled]="true"
      [cdkDropListDisabled]="!isEditMode()"
    >
      <mat-nested-tree-node
        cdkScrollable
        [hidden]="!node.tocItem.display"
        (cdkDragMoved)="dragMoved($event)"
        [attr.data-id]="node.id"
        *matTreeNodeDef="let node"
        cdkDrag
        cdkDropList
        matTreeNodePadding
        (cdkDragStarted)="onDragStart($event)"
        [cdkDragData]="node"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListSortingDisabled]="true"
        [cdkDropListDisabled]="!isEditMode()"
      >
        <li class="node-li">
          <div class="mat-tree-node" (click)="hanldeNodeSelect(node)">
            <span class="label">{{ getLabel(node) }}</span>
            <eui-dropdown *ngIf="isEditMode()">
              <button
                euiButton
                euiRounded
                euiIconButton
                euiBasicButton
                euiSecondary
                [euiTooltip]="
                  tranlsateService.instant(
                    'page.editor.toc.tree-node.more-options'
                  )
                "
                [attr.aria-label]="
                  tranlsateService.instant(
                    'page.editor.toc.tree-node.more-options'
                  )
                "
              >
                <span
                  euiIcon
                  iconClass="eui-icon eui-icon-more-vertical"
                ></span>
              </button>
              <eui-dropdown-content>
                <div euiList>
                  <button
                    euiListItem
                    (click)="handleMove(node)"
                    *ngIf="!isNodeSelectedToMove()"
                  >
                    {{ 'page.editor.toc.move-actions.move' | translate }}
                  </button>
                  <button
                    euiListItem
                    (click)="handlePlaceAt(node, 'BEFORE')"
                    *ngIf="isNodeSelectedToMove()"
                  >
                    {{
                      'page.editor.toc.move-actions.place-before' | translate
                    }}
                  </button>
                  <button
                    euiListItem
                    (click)="handlePlaceAt(node, 'AS_CHILDREN')"
                    *ngIf="isNodeSelectedToMove()"
                  >
                    {{ 'page.editor.toc.move-actions.place-child' | translate }}
                  </button>
                  <button
                    euiListItem
                    (click)="handlePlaceAt(node, 'AFTER')"
                    *ngIf="isNodeSelectedToMove()"
                  >
                    {{ 'page.editor.toc.move-actions.place-after' | translate }}
                  </button>
                </div>
              </eui-dropdown-content>
            </eui-dropdown>
          </div>
        </li>
      </mat-nested-tree-node>
      <mat-nested-tree-node
        cdkScrollable
        [hidden]="!node.tocItem.display"
        *matTreeNodeDef="let node; when: hasChildren"
        cdkDrag
        cdkDropList
        matTreeNodePadding
        [attr.data-id]="node.id"
        [cdkDragData]="node"
        (cdkDragMoved)="dragMoved($event)"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListSortingDisabled]="true"
        [cdkDropListDisabled]="!isEditMode()"
      >
        <li class="">
          <div class="mat-tree-node mr-2" (click)="hanldeNodeSelect(node)">
            <eui-icon
              euiSizeM
              matTreeNodeToggle
              *ngIf="!treeControl.isExpanded(node)"
              iconClass="eui-icon-angle-right"
              (click)="saveExpanded(node)"
            ></eui-icon>
            <eui-icon
              matTreeNodeToggle
              *ngIf="treeControl.isExpanded(node)"
              iconClass="eui-icon eui-icon-angle-down"
              (click)="saveExpanded(node)"
            ></eui-icon>
            <span class="label-extended" (click)="hanldeNodeSelect(node)">{{
              getLabel(node)
            }}</span>
            <eui-dropdown *ngIf="isEditMode()">
              <button
                euiButton
                euiRounded
                euiIconButton
                euiBasicButton
                euiSecondary
                [euiTooltip]="
                  tranlsateService.instant(
                    'page.editor.toc.tree-node.more-options'
                  )
                "
                [attr.aria-label]="
                  tranlsateService.instant(
                    'page.editor.toc.tree-node.more-options'
                  )
                "
              >
                <span
                  euiIcon
                  iconClass="eui-icon eui-icon-more-vertical"
                ></span>
              </button>
              <eui-dropdown-content>
                <div euiList>
                  <button
                    euiListItem
                    (click)="handleMove(node)"
                    *ngIf="!isNodeSelectedToMove()"
                  >
                    {{ 'page.editor.toc.move-actions.move' | translate }}
                  </button>
                  <button
                    euiListItem
                    (click)="handlePlaceAt(node, 'BEFORE')"
                    *ngIf="isNodeSelectedToMove()"
                  >
                    {{
                      'page.editor.toc.move-actions.place-before' | translate
                    }}
                  </button>
                  <button
                    euiListItem
                    (click)="handlePlaceAt(node, 'AS_CHILDREN')"
                    *ngIf="isNodeSelectedToMove()"
                  >
                    {{ 'page.editor.toc.move-actions.place-child' | translate }}
                  </button>
                  <button
                    euiListItem
                    (click)="handlePlaceAt(node, 'AFTER')"
                    *ngIf="isNodeSelectedToMove()"
                  >
                    {{ 'page.editor.toc.move-actions.place-after' | translate }}
                  </button>
                </div>
              </eui-dropdown-content>
            </eui-dropdown>
          </div>
          <ul class="">
            <div *ngIf="treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </div>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>
  </div>
  <!-- validation message -->
  <div class="d-flex flex-column p-2 eui-u-font-l w-100">
    <span
      euiLabel
      [euiDanger]="!isDropValid"
      [euiSuccess]="isDropValid"
      euiSize2XL
      [innerHTML]="messageFromValidation"
    >
    </span>
  </div>
  <!-- selected element show -->
  <div class="d-flex flex-column" *ngIf="isEditMode() && isNodeSelected()">
    <eui-card>
      <eui-card-header>
        <eui-card-header-title>
          <h4>
            {{ 'page.editor.toc.selected-element.title' | translate }}
          </h4>
        </eui-card-header-title>
      </eui-card-header>
      <eui-card-content>
        <div class="d-flex flex-column">
          <div class="d-flex flex-row">
            <div class="m-2">
              <label euiLabel class="font-weight-bold" for="">{{
                'page.editor.toc.selected-element.type' | translate
              }}</label
              ><input euiInputText disabled type="text" [(ngModel)]="type" />
            </div>
            <div
              class="m-2"
              [hidden]="!isItemNumberVisible(this.selectedNode.tocItem)"
            >
              <label class="font-weight-bold" euiLabel for="">{{
                'page.editor.toc.selected-element.number' | translate
              }}</label
              ><input
                euiInputText
                type="number"
                [disabled]="!isItemNumberEditable(this.selectedNode.tocItem)"
                [(ngModel)]="number"
                (ngModelChange)="handleNumberChange($event)"
              />
            </div>
          </div>
          <div
            class=""
            [hidden]="!isItemHeadingVisible(this.selectedNode.tocItem)"
          >
            <label euiLabel class="font-weight-bold" for="">{{
              'page.editor.toc.selected-element.heading' | translate
            }}</label>
            <input
              euiInputText
              type="text"
              [(ngModel)]="heading"
              [disabled]="!isItemHeadingEditable(this.selectedNode.tocItem)"
              (ngModelChange)="handleHeadingChange($event)"
            />
          </div>
          <!-- TODO : this will be done with ec/cn differences for screen 3 -->
          <div
            class="d-flex flex-row mt-4 justify-content-start"
            *ngIf="isArticle(selectedNode.tocItem)"
          >
            <h5 class="mr-3 toc-editor-label">
              {{ 'toc.edit.window.item.list.type' | translate }}
            </h5>
          </div>
          <!-- Article Change Type-->
          <div
            class="d-flex flex-row mt-4 justify-content-start"
            *ngIf="isArticle(selectedNode.tocItem)"
          >
            <div class="d-flex flex-row align-items-center">
              <input
                name="article_type"
                id="article_type_reg"
                euiInputRadio
                value="regular"
                [(ngModel)]="tocType"
                (ngModelChange)="handleTypeChange($event)"
              />
              <label euiLabel for="article_type_reg">{{
                'toc.edit.window.item.regular.article.type' | translate
              }}</label>
            </div>
            <div class="d-flex flex-row align-items-center">
              <input
                name="article_type"
                id="article_type_def"
                euiInputRadio
                value="definition"
                [(ngModel)]="tocType"
                (ngModelChange)="handleTypeChange($event)"
              />
              <label euiLabel for="article_type_def">{{
                'toc.edit.window.item.definition.article.type' | translate
              }}</label>
            </div>
          </div>
          <!-- Paragraph Numbering -->
          <div
            class="d-flex flex-row mt-4 justify-content-start"
            *ngIf="showNumParagraphToggle(selectedNode)"
          >
            <h5 class="mr-3 toc-editor-label">
              {{ 'toc.edit.window.item.paragraph-numbering' | translate }}
            </h5>
          </div>
          <div
            class="d-flex flex-row mt-4 justify-content-start"
            *ngIf="showNumParagraphToggle(selectedNode)"
          >
            <div class="d-flex flex-row align-items-center">
              <input
                name="paragraph_type"
                id="paragraph_type_numbered"
                euiInputRadio
                value="Numbered"
                [(ngModel)]="active_paragraph_style"
                (change)="handleParagraphToggle($event)"
              />
              <label euiLabel for="paragraph_type_numbered">{{
                'toc.edit.window.item.list.type.numbered' | translate
              }}</label>
            </div>
            <div class="d-flex flex-row align-items-center">
              <input
                name="paragraph_type"
                id="paragraph_type_unnumbered"
                euiInputRadio
                value="Unnumbered"
                [(ngModel)]="active_paragraph_style"
                (change)="handleParagraphToggle($event)"
              />
              <label euiLabel for="paragraph_type_unnumbered">{{
                'toc.edit.window.item.list.type.unnumbered' | translate
              }}</label>
            </div>
          </div>
          <!-- Cross heading -->
          <div
            class="d-flex flex-row mt-4 justify-content-start"
            *ngIf="isCrossFading(selectedNode.tocItem)"
          >
            <h5 class="mr-3 toc-editor-label">
              {{ 'toc.edit.window.item.list.type' | translate }}
            </h5>
          </div>
          <div
            class="d-flex flex-row mt-4 justify-content-start"
            *ngIf="isCrossFading(selectedNode.tocItem)"
          >
            <div class="d-flex flex-row align-items-center">
              <input
                name="block_type"
                id="block_type_none"
                euiInputRadio
                value="NONE"
                [(ngModel)]="active_block_style"
                (change)="handleListRadioButton($event)"
              />
              <label euiLabel for="block_type_none">{{
                'toc.edit.window.item.list.type.none' | translate
              }}</label>
            </div>
            <div class="d-flex flex-row align-items-center">
              <input
                name="block_type"
                id="block_type_bullet"
                euiInputRadio
                value="BULLET_BLACK_CIRCLE"
                [(ngModel)]="active_block_style"
                (change)="handleListRadioButton($event)"
              />
              <label
                euiLabel
                for="block_type_bullet"
                [innerHTML]="
                  'toc.edit.window.item.list.type.bullet' | translate
                "
              ></label>
            </div>
            <div class="d-flex flex-row align-items-center">
              <input
                name="block_type"
                id="block_type_n"
                euiInputRadio
                value="INDENT"
                [(ngModel)]="active_block_style"
                (change)="handleListRadioButton($event)"
              />
              <label euiLabel for="block_type_n">{{
                'toc.edit.window.item.list.type.indent' | translate
              }}</label>
            </div>
          </div>
          <!-- Division-->
          <div
            class="d-flex flex-row mt-4 justify-content-start align-items-center"
            *ngIf="isDivision(selectedNode.tocItem)"
          >
            <div class="d-flex flex-row align-items-center">
              <input
                euiInputRadio
                id="division_type_1"
                name="division_type"
                value="type_1"
                [(ngModel)]="active_division_style"
                [disabled]="!isDivisionStyleEnabled('type_1')"
                (change)="handleDivisionChange($event)"
              />
              <label euiLabel for="division_type_1">{{
                'toc.division.number.caption.type_1' | translate
              }}</label>
            </div>
            <div class="d-flex flex-row align-items-center">
              <input
                euiInputRadio
                id="division_type_2"
                name="division_type"
                value="type_2"
                [(ngModel)]="active_division_style"
                [disabled]="!isDivisionStyleEnabled('type_2')"
                (change)="handleDivisionChange($event)"
              />
              <label euiLabel for="division_type_2">{{
                'toc.division.number.caption.type_2' | translate
              }}</label>
            </div>
            <div class="d-flex flex-row align-items-center">
              <input
                euiInputRadio
                id="division_type_3"
                name="division_type"
                value="type_3"
                [(ngModel)]="active_division_style"
                [disabled]="!isDivisionStyleEnabled('type_3')"
                (change)="handleDivisionChange($event)"
              />
              <label euiLabel for="division_type_3">{{
                'toc.division.number.caption.type_3' | translate
              }}</label>
            </div>
            <div class="d-flex flex-row align-items-center">
              <input
                id="division_type_4"
                name="division_type"
                euiInputRadio
                value="type_4"
                [(ngModel)]="active_division_style"
                [disabled]="!isDivisionStyleEnabled('type_4')"
                (change)="handleDivisionChange($event)"
              />
              <label euiLabel for="division_type_4">{{
                'toc.division.number.caption.type_4' | translate
              }}</label>
            </div>
          </div>
          <div
            class="d-flex flex-row mt-4 justify-content-start"
            *ngIf="
              isArticle(selectedNode.tocItem) &&
              environment === 'cn' &&
              (documentType === 'memorandum' || documentType === 'annex')
            "
          >
            <h5 class="mr-3 toc-editor-label">
              {{ 'toc.edit.window.item.list.type' | translate }}
            </h5>
          </div>
          <!-- Point a-->
          <div
            class="d-flex flex-row mt-4 justify-content-start"
            *ngIf="isIndentList(selectedNode.tocItem)"
          >
            <div
              class="d-flex flex-row align-items-center justify-content-evenly"
            >
              <input
                id="point_a_b"
                name="point_a"
                euiInputRadio
                value="BULLET_NUM"
                [(ngModel)]="active_point_style"
                (change)="handleIndentListRadioButtonGroupChange($event)"
              />
              <label euiLabel for="point_a_b">{{
                'toc.item.type.bullet' | translate
              }}</label>
            </div>
            <div class="d-flex flex-row align-items-center">
              <input
                name="point_a"
                id="point_a_i"
                euiInputRadio
                value="INDENT"
                [(ngModel)]="active_point_style"
                (change)="handleIndentListRadioButtonGroupChange($event)"
              />
              <label euiLabel for="point_a_i">{{
                'toc.item.type.indent' | translate
              }}</label>
            </div>
            <div class="d-flex flex-row align-items-center">
              <input
                name="point_a"
                id="point_a_n"
                euiInputRadio
                value="POINT_NUM"
                [(ngModel)]="active_point_style"
                (change)="handleIndentListRadioButtonGroupChange($event)"
              />
            </div>
            <label euiLabel for="point_a_n">{{
              'toc.edit.window.item.list.type.numbered' | translate
            }}</label>
          </div>
          <!-- Delete -->
          <div class="mt-2 align-self-end">
            <button
              euiButton
              class="w-25"
              euiDanger
              (click)="hanldeTocRemove()"
              [disabled]="!selectedNode.tocItem.deletable"
            >
              {{ 'global.actions.delete' | translate }}
            </button>
          </div>
        </div>
      </eui-card-content>
    </eui-card>
  </div>
</div>
