:host ::ng-deep {
  .toc-container {
    display: flex;
    flex-direction: column;
    font-size: 10px !important;
    justify-content: space-between;
    max-height: 75vh;
  }
}

.tree-container {
  max-height: 50vh;
  overflow: scroll;
}

.selected-node {
  background-color: #7bd2f6 !important;
  border-radius: 2rem;
  max-width: fit-content;
}

.edit-element-container {
  display: flex;
  flex-direction: column;
}

.tree-container {
  position: relative;
}

.label-extended {
  text-align: center;
}

mat-tree {
  background-color: transparent !important;
}

.mat-tree-node {
  background-color: transparent !important;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0.3rem;
  min-width: 20rem;
}

.eui-dropdown {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border-width: 0 0 1px 1px;
  padding-left: 40px;
  position: relative;
  top: -24px;
}

li.mat-tree-node,
li div {
  margin: 0;
  position: relative;
  top: 24px;
}

li ul {
  margin-left: -40px;
  padding-left: 60px;
}

.mat-nested-tree-node {
  padding: 0.2rem;
}

.mat-nested-tree-node:last-child ul {
  margin-left: -41px;
}

.drop-as_children {
  border: 1px solid var(--eui-base-color-primary-120);
  border-radius: 2rem;
  max-width: fit-content;
}

.drop-before {
  border-radius: 2rem;
  border-top: 1px solid var(--eui-base-color-primary);
  max-width: fit-content;
}

.drop-after {
  border-bottom: 1px solid var(--eui-base-color-primary);
  border-radius: 2rem;
  max-width: fit-content;
}

.drop-as_children-invalid {
  border: 1px solid var(--eui-base-color-danger);
  border-radius: 2rem;
  max-width: fit-content;
  position: relative;
  transition: all 1s;
}

.drop-after-invalid {
  border-bottom: 1px solid var(--eui-base-color-danger);
  border-radius: 2rem;
  max-width: fit-content;
  transition: all 1s;
}

.drop-before-invalid {
  border-radius: 2rem;
  border-top: 1px solid var(--eui-base-color-danger);
  max-width: fit-content;
  transition: all 1s;
}
