<eui-dialog #dialog height="90vh" width="90vw" hasNoBodyPadding [hasFooter]="false" [hasCloseButton]="false">
  <eui-dialog-header>
    <div class="eui-u-display-flex eui-u-flex-row eui-u-flex-justify-content-between eui-u-flex-align-items-center eui-u-width-100">
      <h5 class="eui-dialog__header-title eui-u-mb-none">
        {{ 'Document Preview' + (previewVersionLabel ? ' - v' + previewVersionLabel : '') }}
      </h5>
      <button
        type="button"
        euiButton
        euiSecondary
        euiSizeS
        (click)="onClose()"
      >
        {{ 'global.actions.close' | translate }}
      </button>
    </div>
  </eui-dialog-header>
  @if (filepathName) {
    <ngx-extended-pdf-viewer
      [src]="filepathName"
      [height]="'75vh'"
      [showPrintButton]="false"
      [showDownloadButton]="false"
      [showOpenFileButton]="false"
      [showPresentationModeButton]="false"
      [showRotateButton]="false"
      [showSecondaryToolbarButton]="false"
      [showTextEditor]="false"
      [showStampEditor]="false"
      [showDrawEditor]="false"
      [showHighlightEditor]="false">
    </ngx-extended-pdf-viewer>
  } @else {
    <div style="padding: 20px; text-align: center;">
      <p>No PDF file available.</p>
    </div>
  }
</eui-dialog>
