<eui-dialog
  #dialog
  [title]="'page.editor.actions-dropdown.save-version.modal' | translate"
  [width]="'25vw'"
  [hasCloseButton]="false"
  (close)="close()"
>
  <!-- Body -->
  <form [formGroup]="form" *ngIf="dialogOpen">
    <div euiInputGroup>
      <label euiLabel euiRequired for="title">{{
        'page.editor.actions-dropdown.save-version.modal.title.label'
          | translate
      }}</label>
      <input
        id="title"
        euiInputText
        formControlName="title"
        [placeholder]="
          'page.editor.actions-dropdown.save-version.modal.title.placeholder'
            | translate
        "
      />
    </div>

    <div euiInputGroup>
      <label euiLabel for="description">{{
        'page.editor.actions-dropdown.save-version.modal.description.label'
          | translate
      }}</label>
      <textarea
        id="description"
        euiTextArea
        formControlName="description"
        [placeholder]="
          'page.editor.actions-dropdown.save-version.modal.description.placeholder'
            | translate
        "
        rows="4"
      ></textarea>
    </div>
  </form>

  <!-- Footer -->
  <eui-dialog-footer>
    <div class="app-dialog-footer-content">
      <button euiButton euiSecondary (click)="close()">
        {{ 'global.actions.cancel' | translate }}
      </button>
      <button euiButton euiPrimary (click)="accept()" [disabled]="form.invalid">
        {{ 'global.actions.save' | translate }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
