.details-cards-common {
  border: none !important;
  box-shadow: none
}

.details-gen-rows {
  padding-bottom: 10px;
}

.label-column label {
  font-weight: bold;
  padding-right: 0;
}

.col-sm-3 {
  width: 25% !important;
  padding-bottom: 6px;
}

@media (max-width: 914px) {
  .label-column {
    text-align: start;
    width: 100%;
  }

  .confidentiality-row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.language-checkbox {
  display: inline;
  padding: 5px;
}

.package-title {
  display: block;
}

.details-tooltip-icon {
  border: none;
  padding-bottom: 2px;
}

.col-sm-1-coverpage-type {
  width: 3px;
}

.vertical-shift-disclaimer-label {
  width: 225px;
}

.vertical-shift-num {
  display: flex;
  align-items: center;
  border: 1px;
}

.vertical-shift-num-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  border: 1px;
}

.number-input {
  width: 60px;
  padding: 4px;
  font-size: 14px;
}

.number-up-down-button {
  border: none;
  background-color: transparent;
  padding: 0;
  height: 12px;
  width: 5px;
}

.number-up-down-button-icon {
  padding-bottom: 3px;
}

.coverpage-option {
  font-weight: normal;
}

.proposal-corrigendum-addendum-option {
  margin-right: 6px;
  margin-left: 6px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.target-proposal-input-labels {
  padding-top: 15px;
}

.target-proposal-ref-input {
  padding: 2px 6px;
  font-size: 14px;
  width: 70%;
  height: 80%;
}

.target-proposal-date-input {
  margin-top: 5px;
  padding: 2px 6px;
  font-size: 14px;
  width: 70%;
  height: 80%;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  padding: 0 !important;
  background: white !important;
  border: solid 1px !important;
  margin-top: 5px !important;
}

::ng-deep .mat-mdc-form-field-infix {
  padding: 0 !important;
  display: flex;
  align-items: center;
}

::ng-deep .mat-mdc-form-field-infix input {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::ng-deep .date-picker input.mat-mdc-input-element {
  padding-left: 10px !important;
}
