<div class="row eui-u-mt-l">
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-1 label-column"></div>
      <div class="col-sm-3 label-column">
        <label>{{ 'page.collection.details.package-title' | translate }}</label>
      </div>
      <div class="col-sm-8">{{ proposal.metadata.packageTitle }}</div>
    </div>
    <div class="row">
      <div class="col-sm-1 label-column"></div>
      <div class="col-sm-3 label-column">
        <label>{{ 'page.collection.details.template' | translate }}</label>
      </div>
      <div class="col-sm-8">{{ proposal.metadata.template }}</div>
    </div>
    <div class="row">
      <div class="col-sm-1 label-column"></div>
      <div class="col-sm-3 label-column">
        <label>{{ 'page.collection.details.language' | translate }}</label>
      </div>
      <div class="col-sm-8">{{ proposal.metadata.language }}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row confidentiality-row">
      <div class="col-sm-1 label-column"></div>
      <div class="col-sm-3 label-column">
        <label>{{ 'page.collection.confidentiality-level' | translate }}</label>
      </div>
      <div class="col-sm-8">{{ proposal.metadata.securityLevel }}</div>
    </div>
    <div class="row">
      <div class="col-sm-1 label-column"></div>
      <div class="col-sm-3 label-column">
        <label>{{ 'page.collection.internal-reference' | translate }}</label>
      </div>
      <div class="col-sm-8">{{ proposal.metadata.internalRef }}</div>
    </div>
    <div class="row">
      <div class="col-sm-1 label-column"></div>
      <div class="col-sm-3 eui-u-flex eui-u-flex-align-items-center">
        <input
          name="checkbox-en"
          euiInputCheckBox
          label="EEA Relevance"
          [(ngModel)]="eeaRelevance"
          [disabled]="!permissions.includes('CAN_ADD_REMOVE_COLLABORATOR')"
          (ngModelChange)="handleEEAChange($event)"
        />
        <label>{{ 'page.workspace.create-form.document.eea-relevance' | translate }}</label>
      </div>
      <div class="col-sm-8"></div>
    </div>
  </div>
</div>
