<div class="row mt-4">
    <div class="col-md-6">
      <div class="row row-spacing">
        <div class="col-sm-3 label-column">
          <label>{{
            'page.collection.details.package-title' | translate
          }}</label>
        </div>
        <div class="col-sm-8">{{ proposal.metadata.packageTitle }}</div>
      </div>
      <div class="row row-spacing">
        <div class="col-sm-3 label-column">
          <label>{{ 'page.collection.details.template' | translate }}</label>
        </div>
        <div class="col-sm-8">{{ proposal.metadata.template }}</div>
      </div>
      <div class="row row-spacing">
        <div class="col-sm-3 label-column">
          <label>{{ 'page.collection.details.language' | translate }}</label>
        </div>
        <div class="col-sm-8">{{ proposal.metadata.language }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row confidentiality-row">
        <div class="col-sm-1 label-column"></div>
        <div class="col-sm-3 label-column">
          <label>{{
            'page.collection.confidentiality-level' | translate
          }}</label>
        </div>
        <div class="col-sm-8  ">{{ proposal.metadata.securityLevel }}</div>
      </div>
      <div class="row row-spacing">
        <div class="col-sm-3 label-column">
          <label>{{ 'page.collection.internal-reference' | translate }}</label>
        </div>
        <div class="col-sm-8">{{ proposal.metadata.internalRef }}</div>
      </div>
      <div class="row row-spacing">
        <div class="col-sm-3">
          <input
            name="checkbox-en"
            euiInputCheckBox
            label="EEA Relevance"
            [(ngModel)]="eeaRelevance"
            (ngModelChange)="handleEEAChange($event)"
          />
        </div>
        <div class="col-sm-8"></div>
      </div>
    </div>
</div>
