<eui-dropdown isDropDownRightAligned>
  <button
    euiButton
    euiBasicButton
    euiRounded
    euiIconButton
    euiSizeS
    [title]="'page.editor.contribution.actions-button.tooltip' | translate"
    [attr.aria-label]="
      'page.editor.contribution.actions-button.tooltip' | translate
    "
  >
    <span euiIcon iconClass="eui-icon-more-vertical"></span>
  </button>
  <eui-dropdown-content>
    <div euiList>
      <button
        euiListItem
        *ngIf="contribution.contributionStatus === 'RECEIVED'"
        translate="page.editor.contribution.actions.view.amd.merge"
        (click)="documentService.viewAndMergeContribution(contribution)"
      ></button>
      <button
        euiListItem
        *ngIf="contribution.contributionStatus === 'CONTRIBUTION_DONE'"
        translate="page.collection.milestones.actions.view-milestone"
        (click)="documentService.viewAndMergeContribution(contribution)"
      ></button>
      <button
        euiListItem
        *ngIf="contribution.contributionStatus === 'RECEIVED'"
        translate="page.editor.contribution.actions.decline"
        (click)="
          onContributionDecline(
            contribution.documentId,
            contribution.versionNumber
          )
        "
      ></button>
    </div>
  </eui-dropdown-content>
</eui-dropdown>

<eui-dialog
  #declineContributionDialog
  [title]="'page.editor.contribution.decline.modal-title' | translate"
  [acceptLabel]="'page.editor.contribution.decline.modal-button' | translate"
  [dismissLabel]="'global.actions.cancel' | translate"
  [width]="'25vw'"
  [isHandleCloseOnAccept]="true"
  [isHandleCloseOnDismiss]="true"
  [hasCloseButton]="false"
  (clickOutside)="onCancel()"
  (close)="onCancel()"
  (accept)="onAccept()"
  (dismiss)="onCancel()"
>
  <p>{{ versionModalText }}</p>
  <p>{{ 'page.editor.contribution.decline.modal-text' | translate }}</p>
</eui-dialog>
