<eui-page-breadcrumb euiNoContentPadding class="eui-u-p-none">
  <eui-breadcrumb>
    <eui-breadcrumb-item
      *ngFor="let item of breadcrumbService.breadcrumbs$ | async"
      [id]="item.id"
      [link]="item.link"
      [label]="item.label"
    >
    </eui-breadcrumb-item>
  </eui-breadcrumb>
</eui-page-breadcrumb>

<section [ngSwitch]="proposalState" class="eui-u-mh-m">
  <ng-container
    *ngSwitchCase="
      ['done', 'active'].includes(proposalState) ? proposalState : ''
    "
  >
    <app-proposal-header
      [proposalState]="this.proposalState"
      [nonEditablePartOfTitle]="proposalTitleNonEditablePart"
      [editableTitle]="proposalTitleEditablePart"
      [isClonedProposal]="isClonedProposal"
      [originRef]="originRef"
    ></app-proposal-header>

    <eui-tabs class="eui-u-display-block eui-u-mt-l" #tabs *ngIf="!translatedDocs || translatedDocs.length === 0">
      <eui-tab>
        <eui-tab-label>{{
          'page.collection.tabs.drafts' | translate
          }}</eui-tab-label>
        <eui-tab-content>
          <app-proposal-drafts
            [proposal]="proposal"
            [proposalState]="this.proposalState"
            (proposalStateChange)="updateStateLoading($event)"
          ></app-proposal-drafts>
        </eui-tab-content>
      </eui-tab>
      <eui-tab>
        <eui-tab-label>{{
          'page.collection.tabs.milestones' | translate
          }}</eui-tab-label>
        <eui-tab-content>
          <app-proposal-milestones
            [proposal]="proposal"
            [proposalRef]="proposalRef"
            [legFileName]="legFileName"
          ></app-proposal-milestones>
        </eui-tab-content>
      </eui-tab>
      <eui-tab *appShowOnInstance="['cn']">
        <eui-tab-label>
          {{ 'page.collection.tabs.e-consilium' | translate }}
        </eui-tab-label>
        <eui-tab-content>
          <app-proposal-exports [proposal]="proposal"></app-proposal-exports>
        </eui-tab-content>
      </eui-tab>
      <eui-tab>
        <eui-tab-label>{{
          'page.collection.tabs.collaborators' | translate
          }}</eui-tab-label>
        <eui-tab-content>
          <app-proposal-collaborators></app-proposal-collaborators>
        </eui-tab-content>
      </eui-tab>
      <eui-tab>
        <eui-tab-label>{{
          'page.collection.tabs.details' | translate
          }}</eui-tab-label>
        <eui-tab-content>
          <app-proposal-details
            [proposal]="proposal"
            (eeaRelevanceChanged)="onSaveEEA($event)"
          ></app-proposal-details>
        </eui-tab-content>
      </eui-tab>
    </eui-tabs>

    <!-- Translation tabs -->
    <eui-tabs class="eui-u-display-block eui-u-mt-l" [activeTabIndex]="activeTabIndex" *ngIf="translatedDocs?.length > 0" #translationsTabs (tabSelect)="onTabSelect($event)">
      <!-- Original lang tab -->
      <eui-tab euiPrimary>
        <eui-tab-label>{{proposal.language}}</eui-tab-label>
        <eui-tab-content>
          <eui-tabs class="eui-u-display-block eui-u-mt-l" #tabs>
            <eui-tab>
              <eui-tab-label>{{
                'page.collection.tabs.drafts' | translate
                }}</eui-tab-label>
              <eui-tab-content>
                <app-proposal-drafts
                  [proposal]="proposal"
                  [proposalState]="this.proposalState"
                  (proposalStateChange)="updateStateLoading($event)"
                ></app-proposal-drafts>
              </eui-tab-content>
            </eui-tab>
            <eui-tab>
              <eui-tab-label>{{
                'page.collection.tabs.milestones' | translate
                }}</eui-tab-label>
              <eui-tab-content>
                <app-proposal-milestones
                  [proposal]="proposal"
                  [proposalRef]="proposalRef"
                  [legFileName]="legFileName"
                ></app-proposal-milestones>
              </eui-tab-content>
            </eui-tab>
            <eui-tab *appShowOnInstance="['cn']">
              <eui-tab-label>
                {{ 'page.collection.tabs.e-consilium' | translate }}
              </eui-tab-label>
              <eui-tab-content>
                <app-proposal-exports [proposal]="proposal"></app-proposal-exports>
              </eui-tab-content>
            </eui-tab>
            <eui-tab>
              <eui-tab-label>{{
                'page.collection.tabs.collaborators' | translate
                }}</eui-tab-label>
              <eui-tab-content>
                <app-proposal-collaborators></app-proposal-collaborators>
              </eui-tab-content>
            </eui-tab>
            <eui-tab>
              <eui-tab-label>{{
                'page.collection.tabs.details' | translate
                }}</eui-tab-label>
              <eui-tab-content>
                <app-proposal-details
                  [proposal]="proposal"
                  (eeaRelevanceChanged)="onSaveEEA($event)"
                ></app-proposal-details>
              </eui-tab-content>
            </eui-tab>
          </eui-tabs>
        </eui-tab-content>
      </eui-tab>
      <!-- translated lang tabs -->
      <eui-tab *ngFor="let doc of translatedDocs" euiSecondary>>
        <eui-tab-label>{{doc.language}}</eui-tab-label>
        <eui-tab-content>
          <eui-tabs class="eui-u-display-block eui-u-mt-l" #tabs>
            <eui-tab>
              <eui-tab-label>{{
                'page.collection.tabs.drafts' | translate
                }}</eui-tab-label>
              <eui-tab-content>
                <app-proposal-drafts
                  [proposal]="doc"
                  [proposalState]="this.proposalState"
                  (proposalStateChange)="updateStateLoading($event)"
                ></app-proposal-drafts>
              </eui-tab-content>
            </eui-tab>
            <eui-tab>
              <eui-tab-label>{{
                'page.collection.tabs.milestones' | translate
                }}</eui-tab-label>
              <eui-tab-content>
                <app-proposal-milestones
                  [proposal]="doc"
                  [proposalRef]="doc.ref"
                  [legFileName]="legFileName"
                ></app-proposal-milestones>
              </eui-tab-content>
            </eui-tab>
            <eui-tab *appShowOnInstance="['cn']">
              <eui-tab-label>
                {{ 'page.collection.tabs.e-consilium' | translate }}
              </eui-tab-label>
              <eui-tab-content>
                <app-proposal-exports [proposal]="doc"></app-proposal-exports>
              </eui-tab-content>
            </eui-tab>
            <eui-tab>
              <eui-tab-label>{{
                'page.collection.tabs.collaborators' | translate
                }}</eui-tab-label>
              <eui-tab-content>
                <app-proposal-collaborators></app-proposal-collaborators>
              </eui-tab-content>
            </eui-tab>
            <eui-tab>
              <eui-tab-label>{{
                'page.collection.tabs.details' | translate
                }}</eui-tab-label>
              <eui-tab-content>
                <app-proposal-details
                  [proposal]="doc"
                  (eeaRelevanceChanged)="onSaveEEA($event)"
                ></app-proposal-details>
              </eui-tab-content>
            </eui-tab>
          </eui-tabs>
        </eui-tab-content>
      </eui-tab>
    </eui-tabs>
  </ng-container>
  <ng-container *ngSwitchCase="'error'" [ngSwitch]="proposalErrorCode">
    <eui-alert euiDanger *ngSwitchCase="403">
      {{ 'page.collection.permision-error' | translate }}
    </eui-alert>
    <eui-alert euiDanger *ngSwitchCase="404">
      {{ 'page.collection.404' | translate }}
    </eui-alert>
    <eui-alert euiDanger *ngSwitchDefault>
      {{ 'page.collection.default-error' | translate }}
    </eui-alert>
  </ng-container>
</section>
