<eui-breadcrumb>
  <eui-breadcrumb-item link="/" label="Home"></eui-breadcrumb-item>
  <eui-breadcrumb-item label="Proposal Viewer"></eui-breadcrumb-item>
</eui-breadcrumb>

<section [ngSwitch]="proposalState" class="eui-u-mh-m">
  <ng-container *ngSwitchCase="'done'">
    <app-proposal-header
      [nonEditablePartOfTitle]="proposalTitleNonEditablePart"
      [editableTitle]="proposalTitleEditablePart"
      (saveTitle)="onSaveTitle($event)"
    ></app-proposal-header>

    <app-proposal-details
      [proposal]="proposal"
      (eeaRelevanceChanged)="onSaveEEA($event)"
    ></app-proposal-details>

    <eui-tabs class="eui-u-display-block eui-u-mt-l">
      <eui-tab>
        <eui-tab-label>{{
          'page.collection.tabs.drafts' | translate
        }}</eui-tab-label>
        <eui-tab-content>
          <app-proposal-drafts [proposal]="proposal"></app-proposal-drafts>
        </eui-tab-content>
      </eui-tab>
      <eui-tab>
        <eui-tab-label>{{
          'page.collection.tabs.milestones' | translate
        }}</eui-tab-label>
        <eui-tab-content>
          <app-proposal-milestones
            [proposal]="proposal"
          ></app-proposal-milestones>
        </eui-tab-content>
      </eui-tab>
      <eui-tab *appShowOnInstance="['CN']">
        <eui-tab-label>
          {{ 'page.collection.tabs.e-consilium' | translate }}
        </eui-tab-label>
        <eui-tab-content>
          <app-proposal-exports [proposal]="proposal"></app-proposal-exports>
        </eui-tab-content>
      </eui-tab>
      <eui-tab>
        <eui-tab-label>{{
          'page.collection.tabs.collaborators' | translate
        }}</eui-tab-label>
        <eui-tab-content>
          <app-proposal-collaborators></app-proposal-collaborators>
        </eui-tab-content>
      </eui-tab>
    </eui-tabs>
  </ng-container>
  <ng-container *ngSwitchCase="'error'" [ngSwitch]="proposalErrorCode">
    <eui-alert euiDanger *ngSwitchCase="403">
      {{ 'page.collection.permision-error' | translate }}
    </eui-alert>
    <eui-alert euiDanger *ngSwitchCase="404">
      {{ 'page.collection.404' | translate }}
    </eui-alert>
    <eui-alert euiDanger *ngSwitchDefault>
      {{ 'page.collection.default-error' | translate }}
    </eui-alert>
  </ng-container>
</section>
