<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" scan="true" scanPeriod="5 minutes">

    <property resource="application_leos.properties" />
    <!-- Ignore or print logback internal status messages on the console -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- Propagate changes to logging level onto the java.util.logging framework. -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <contextName>${leos.log.contextName}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{36} .%M:%L - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${leos.log.path}/${leos.log.filePrefix}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 15 days' worth of history -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{36} .%M:%L - %msg%n%rEx</pattern>
        </encoder>
    </appender>
    
    <appender name="ADMINLOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${leos.log.path}/${leos.log.filePrefix}-admin-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 15 days' worth of history -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{36} .%M:%L - %msg%n%rEx</pattern>
        </encoder>
    </appender>

<!--    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">-->
<!--        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">-->
<!--            <driverClass>org.h2.Driver</driverClass>-->
<!--            &lt;!&ndash; In-memory DB (clears on restart). Use jdbc:h2:./logdb for file-based &ndash;&gt;-->
<!--            &lt;!&ndash;<url>jdbc:h2:file:D:/Tools/apache-tomcat-9.0.73/temp/leoslogdb;AUTO_SERVER=TRUE;Mode=Oracle;INIT=RUNSCRIPT FROM 'classpath:logback-h2.sql'</url>&ndash;&gt;-->
<!--            <url>jdbc:h2:mem:leoslogdb;DB_CLOSE_DELAY=-1;MODE=Oracle;INIT=RUNSCRIPT FROM 'classpath:logback-h2.sql'</url>-->
<!--            <user>sa</user>-->
<!--            <password></password>-->
<!--        </connectionSource>-->

<!--        <filter class="ch.qos.logback.classic.filter.MarkerFilter">-->
<!--            <marker>SECURITY</marker>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->

<!--        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">-->
<!--            <evaluator>-->
<!--                <expression>return !logger.startsWith("eu.europa.ec.leos")-->
<!--                    || logger.startsWith("eu.europa.ec.leos.rest.aop.aspect.LoggingAspect")-->
<!--                    || logger.startsWith("eu.europa.ec.leos.services.support.scheduler.LeosSchedulerService")-->
<!--                    || logger.startsWith("eu.europa.ec.leos.security.JwtTokenService");</expression>-->
<!--            </evaluator>-->
<!--            <OnMatch>DENY</OnMatch>-->
<!--            <OnMismatch>NEUTRAL</OnMismatch>-->
<!--        </filter>-->
<!--    </appender>-->

    <logger name="eu.europa.ec.leos" level="${leos.log.level}"/>

    <logger name="freemarker" level="WARN"/>
    <logger name="org.apache.activemq" level="WARN"/>
    <logger name="org.apache.cxf" level="WARN"/>
    <logger name="net.sf.ehcache" level="WARN"/>

<!--    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">-->
<!--        <appender-ref ref="DB" />-->
<!--        <includeCallerData>true</includeCallerData>-->
<!--    </appender>-->

    <root level="${leos.log.level}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
<!--        <appender-ref ref="ASYNC"/>-->
    </root>
</configuration>