<mat-tree id="tree" [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-nested-tree-node
    [id]="'toc_' + node.href"
    [attr.data-id]="node.href"
    *matTreeNodeDef="let node"
    matTreeNodePadding
  >
    <li class="node-li">
      <div class="mat-tree-node" (click)="hanldeNodeSelect(node)">
        <span [class]="'label ' + classAdded(node)" [innerHTML]="node.name"></span>
      </div>
    </li>
  </mat-nested-tree-node>
  <mat-nested-tree-node
    [id]="'toc_' + node.href"
    *matTreeNodeDef="let node; when: hasChildren"
    matTreeNodePadding
    [attr.data-id]="node.href"
  >
    <li class="">
      <div class="mat-tree-node mr-2" (click)="hanldeNodeSelect(node)">
        <eui-icon-svg
          size="m"
          matTreeNodeToggle
          *ngIf="!treeControl.isExpanded(node)"
          icon="eui-chevron-forward"
          (click)="onExpand(node)"
        ></eui-icon-svg>
        <eui-icon-svg
          matTreeNodeToggle
          *ngIf="treeControl.isExpanded(node)"
          icon="eui-chevron-down"
        ></eui-icon-svg>
        <span [class]="'label-extended ' + classAdded(node)" (click)="hanldeNodeSelect(node)" [innerHTML]="node.name"></span>
      </div>
      <ul class="">
        <div *ngIf="treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
