<eui-wizard
  (selectStep)="onSelectStepRemoteNav($event)"
  [activeStepIndex]="currentStepIndex"
  [isNavigationAllowed]="isNavigationAllowed"
>
  <eui-wizard-step
    label="Template selection"
    [isCompleted]="!!(selectedTemplate && selectedLanguage)"
  >
      <app-proposal-create-template-selector
        #templateSelector
        (navigationClick)="onNavigation(+1)"
        (selectTemplate)="handleSelectTemplate($event)"
        (selectLanguage)="handleSelectLanguage($event)"
      ></app-proposal-create-template-selector>
  </eui-wizard-step>
  <eui-wizard-step
    label="Document metadata"
    [isCompleted]="createForm.valid && isStepOneCompleted"
  >
      <app-proposal-create-form
        [createForm]="createForm"
      ></app-proposal-create-form>
  </eui-wizard-step>
</eui-wizard>
<div class="app-dialog-footer-content">
  <button euiButton (click)="closeDialog()">
    {{ 'global.actions.cancel' | translate }}
  </button>
  <button
    euiButton
    type="button"
    [disabled]="currentStepIndex === 1 || !isNavigationAllowed"
    (click)="onNavigation(-1)"
  >
    <eui-icon-svg icon="eui-chevron-back"></eui-icon-svg>
    <span euiLabel>
      {{ 'global.actions.previous' | translate }}
    </span>
  </button>
  <button
    euiButton
    type="button"
    [disabled]="currentStepIndex === stepsCount || !isNavigationAllowed"
    (click)="onNavigation(+1)"
    [hidden]="showCreateHideNext()"
  >
    <span euiLabel>
      {{ 'global.actions.next' | translate }}
    </span>
    <span class="eui-icon eui-icon-chevron-right"></span>
  </button>
  <button
    [hidden]="!showCreateHideNext()"
    [disabled]="!isFormValid()"
    euiButton
    euiPrimary
    (click)="onCreate()"
  >
    {{ 'global.actions.create' | translate }}
  </button>
</div>
