<ux-wizard-steps
  (selectStep)="onSelectStepRemoteNav($event)"
  [activeStepIndex]="currentStepIndex"
  [isNavigationAllowed]="isNavigationAllowed"
>
  <ux-wizard-step
    label="Template selection"
    [isCompleted]="!!(selectedTemplate && selectedLanguage)"
  >
    <uxWizardStepContent>
      <app-proposal-create-template-selector
        #templateSelector
        (navigationClick)="onNavigation(+1)"
        (selectTemplate)="handleSelectTemplate($event)"
        (selectLanguage)="handleSelectLanguage($event)"
      ></app-proposal-create-template-selector>
    </uxWizardStepContent>
  </ux-wizard-step>
  <ux-wizard-step
    label="Document metadata"
    [isCompleted]="createForm.valid && isStepOneCompleted"
  >
    <uxWizardStepContent>
      <app-proposal-create-form
        [createForm]="createForm"
      ></app-proposal-create-form>
    </uxWizardStepContent>
  </ux-wizard-step>
</ux-wizard-steps>
<div class="app-dialog-footer-content">
  <button euiButton (click)="closeDialog()">
    {{ 'global.actions.cancel' | translate }}
  </button>
  <button
    euiButton
    type="button"
    [disabled]="currentStepIndex === 1 || !isNavigationAllowed"
    (click)="onNavigation(-1)"
  >
    <span class="eui-icon eui-icon-chevron-left"></span>
    <span euiLabel>
      {{ 'global.actions.previous' | translate }}
    </span>
  </button>
  <button
    euiButton
    type="button"
    [disabled]="currentStepIndex === stepsCount || !isNavigationAllowed"
    (click)="onNavigation(+1)"
    [hidden]="showCreateHideNext()"
  >
    <span euiLabel>
      {{ 'global.actions.next' | translate }}
    </span>
    <span class="eui-icon eui-icon-chevron-right"></span>
  </button>
  <button
    [hidden]="!showCreateHideNext()"
    [disabled]="!isFormValid()"
    euiButton
    euiPrimary
    (click)="onCreate()"
  >
    {{ 'global.actions.create' | translate }}
  </button>
</div>
