<eui-page *ngIf="xml">
  <eui-page-breadcrumb>
    <eui-breadcrumb>
      <eui-breadcrumb-item link="/" label="Home"></eui-breadcrumb-item>
      <eui-breadcrumb-item label="Annex"></eui-breadcrumb-item>
    </eui-breadcrumb>
  </eui-page-breadcrumb>

  <eui-page-header class="eui-u-mb-l" [label]="pageTitle">
    <eui-page-header-action-items>
      <app-annex-actions-dropdown></app-annex-actions-dropdown>

      <button
        euiButton
        euiPrimary
        translate="page.editor.close-button.label"
        (click)="doc.closeEditor()"
      ></button>
    </eui-page-header-action-items>

    <eui-page-header-body class="eui-u-flex app-u-gap-m eui-u-mt-s">
      <span class="flex-grow-1 eui-u-font-xl">{{ pageSubTitle }}</span>
      <app-actions-toolbar
        class="eui-u-flex app-u-gap-m app-u-flex-basis-0"
      ></app-actions-toolbar>
    </eui-page-header-body>
  </eui-page-header>

  <eui-page-content>
    <eui-page-columns>
      <eui-page-column
        [label]="'page.editor.toc-column.label' | translate"
        size="2xl"
        isCollapsible
        [isCollapsed]="isTOCColumnCollapsed"
        interactiveScrollbars
        (collapsed)="onToggleTOCColumnCollapsed()"
      >
        <eui-page-column-header-right-content>
          <button
            euiButton
            euiBasicButton
            euiSizeS
            euiPrimary
            class="eui-u-mr-s"
            (click)="handleEdit()"
            *ngIf="!isEditMode"
          >
            Edit
          </button>
          <div class="flex flex-row " *ngIf="isEditMode">
            <span class="" (click)="handleUndo()">Undo</span>
            <span class="" (click)="handleSave()">Save</span>
            <span class="" (click)="handleCancel()">Cancel</span>
          </div>
        </eui-page-column-header-right-content>
        <eui-page-column-body>
          <app-document-toc [isEdit]="isEditMode"></app-document-toc>
        </eui-page-column-body>
      </eui-page-column>

      <eui-page-column interactiveScrollbars>
        <eui-page-column-header-body *ngIf="doc.searchPaneOpen$ | async">
          <eui-card class="eui-u-font-size-m eui-u-mb-l" euiNoShadow>
            <eui-card-content class="eui-u-overflow-auto">
              <app-document-search></app-document-search>
            </eui-card-content>
          </eui-card>
        </eui-page-column-header-body>

        <eui-page-column-body
          class="eui-u-flex eui-u-flex-column align-items-center"
        >
          <app-annex-document
            id="docContainer"
            [xml]="xml"
          ></app-annex-document>
        </eui-page-column-body>
      </eui-page-column>

      <eui-page-column
        class="eui-page-column--right-column"
        [label]="'page.editor.annotations-column.label' | translate"
        isCollapsible
        [isCollapsed]="isAnnotationsColumnCollapsed"
        interactiveScrollbars
        (collapsed)="onToggleAnnotationsColumnCollapsed()"
        style="width: calc(620px + 330px)"
      >
        <eui-page-column-body class="flex-grow-1">
          <app-document-annotations
            [documentId]="id"
          ></app-document-annotations>
        </eui-page-column-body>
      </eui-page-column>

      <eui-page-column
        class="eui-page-column--right-column"
        [label]="'page.editor.versions-column.label' | translate"
        size="4xl"
        isCollapsible
        [isCollapsed]="isVersionsColumnCollapsed"
        interactiveScrollbars
        (collapsed)="onToggleVersionsColumn()"
      >
        <eui-page-column-header-body
          class="eui-u-display-flex eui-u-flex-column eui-u-pb-s app-u-gap-s"
        >
          <div class="eui-u-display-flex app-u-gap-m">
            <button
              euiButton
              euiIconButton
              euiSecondary
              euiOutline
              euiSizeS
              [title]="
                ((doc.compareModeEnabled$ | async)
                  ? 'page.editor.versions.compare-button.tooltip-disable'
                  : 'page.editor.versions.compare-button.tooltip-enable'
                ) | translate
              "
              [attr.aria-label]="
                ((doc.compareModeEnabled$ | async)
                  ? 'page.editor.versions.compare-button.tooltip-disable'
                  : 'page.editor.versions.compare-button.tooltip-enable'
                ) | translate
              "
              (click)="doc.toggleCompareMode()"
            >
              <eui-icon-svg icon="documents"></eui-icon-svg>
            </button>

            <button
              euiButton
              euiIconButton
              euiSecondary
              euiOutline
              euiSizeS
              [title]="
                ((doc.versionSearchOpen$ | async)
                  ? 'page.editor.versions.search-button.tooltip-disable'
                  : 'page.editor.versions.search-button.tooltip-enable'
                ) | translate
              "
              [attr.aria-label]="
                ((doc.versionSearchOpen$ | async)
                  ? 'page.editor.versions.search-button.tooltip-disable'
                  : 'page.editor.versions.search-button.tooltip-enable'
                ) | translate
              "
              (click)="doc.toggleVersionsSearchPane()"
            >
              <eui-icon-svg icon="search"></eui-icon-svg>
            </button>
          </div>

          <div
            class="eui-u-display-block eui-u-pt-m_"
            *ngIf="doc.versionSearchOpen$ | async"
          >
            [search-controls]
          </div>
        </eui-page-column-header-body>
        <eui-page-column-body>
          <app-versions-pane></app-versions-pane>
        </eui-page-column-body>
      </eui-page-column>
    </eui-page-columns>
  </eui-page-content>
</eui-page>
