<div class="eui-dropdown-button">
  <eui-dropdown>
    <button euiButton euiSizeS euiPrimary
            [euiDisabled]="this.proposalState === 'active'"
            [disabled]="this.proposalState === 'active'"
    >
      <span euiLabel>Actions</span>
      <span euiIcon iconClass="eui-icon eui-icon-more-vertical"></span>
    </button>
    <eui-dropdown-content>
      <ul euiList>
        <ng-container *ngIf="permissions?.includes('CAN_UPDATE')">
          <li euiListItem (click)="openEditTitleDialog()">
            <button euiListItem>
              {{ 'page.collection.actions-dropdown.changeTitle' | translate }}
            </button>
          </li>
        </ng-container>
        <ng-container *ngIf="permissions?.includes('CAN_DOWNLOAD_PROPOSAL')">
          <li euiListItem (click)="handleDownload()">
            <button euiListItem>
              {{ 'page.collection.actions-dropdown.download' | translate }}
            </button>
          </li>
        </ng-container>
        <ng-container *appShowOnInstance="['ec', 'os']">
          <li euiListItem (click)="handleExportAsPDF()">
            <button euiListItem>
              {{ 'page.collection.actions-dropdown.export.pdf' | translate }}
            </button>
          </li>
          <li euiListItem (click)="handleExportAsLW()" *ngIf="canExportLW">
            <button euiListItem>
              {{ 'page.collection.actions-dropdown.export.lw' | translate }}
            </button>
          </li>
        </ng-container>
        <li euiListItem (click)="handleShare()">
          <a euiListItem target="_blank" [href]="getStringifiedMailTo()">{{
            'page.collection.actions-dropdown.share' | translate
          }}</a>
        </li>
        <ng-container *ngIf="permissions.includes('CAN_DELETE')">
          <li euiListItem (click)="handleConfirmationDelete()">
            <button euiListItem euiDanger>
              {{ 'global.actions.delete' | translate }}
            </button>
            <app-confirm-delete-dialog
              #proposalDeleteConf
              [title]="
                'page.collection.proposal-header.actions.delete-dialog.title'
                  | translate
              "
              [description]="
                'page.collection.proposal-header.actions.delete-dialog.desc'
                  | translate
              "
              (confirmDeletion)="handleDelete()"
            ></app-confirm-delete-dialog>

            <app-confirm-dialog
              #proposalDeleteCannotConf
              [title]="
                'page.collection.proposal-header.actions.delete-dialog.title'
                  | translate
              "
              [description]="
                'page.collection.proposal-header.actions.delete-dialog-cannot.desc'
                  | translate
                    : {
                        totMilestones: this.proposalDetailsService.clonedProposalCount
                      }
              "
              (confirmDeletion)="handleDelete()"
            ></app-confirm-dialog>

            <app-edit-title-dialog
              #editTitleDialog
              [permissions]="permissions"
              [nonEditablePartOfTitle]="nonEditablePartOfTitle"
              [editableTitle]="editableTitle"
              [isClonedProposal]="isClonedProposal"
              [originRef]="originRef"
              class="eui-u-ml-s"
            ></app-edit-title-dialog>
          </li>
        </ng-container>
      </ul>
    </eui-dropdown-content>
  </eui-dropdown>
</div>
