<div class="eui-dropdown-button">
  <eui-dropdown>
    <button euiButton euiSizeS euiPrimary euiOutline>
      <span euiLabel>Actions</span>
      <span euiIcon iconClass="eui-icon eui-icon-more-vertical"></span>
    </button>
    <eui-dropdown-content>
      <ul euiList>
        <li euiListItem (click)="handleDownload()">
          <button euiListItem>
            {{ 'page.collection.actions-dropdown.donwload' | translate }}
          </button>
        </li>
        <li
          euiListItem
          (click)="handleExport()"
          *appShowOnInstance="['ec', 'os']"
        >
          <button euiListItem>
            {{ 'page.collection.actions-dropdown.export' | translate }}
          </button>
        </li>
        <li euiListItem (click)="handleShare()">
          <a euiListItem target="_blank" [href]="getStringifiedMailTo()">{{
            'page.collection.actions-dropdown.share' | translate
          }}</a>
        </li>
        <li euiListItem (click)="handleDelete()">
          <button euiListItem euiDanger>
            {{ 'page.collection.actions-dropdown.delete' | translate }}
          </button>
        </li>
      </ul>
    </eui-dropdown-content>
  </eui-dropdown>
</div>
