<div class="eui-dropdown-button">
  <eui-dropdown>
    <button
      euiButton
      euiSizeS
      euiPrimary
      [euiDisabled]="this.proposalState === 'active'"
      [disabled]="this.proposalState === 'active'"
    >
      <span euiLabel>Actions</span>
      <eui-icon-svg icon="eui-ellipsis-vertical"></eui-icon-svg>
    </button>
    <eui-dropdown-content>
      <ng-container *ngIf="permissions?.includes('CAN_DOWNLOAD_PROPOSAL')">
        <button euiDropdownItem (click)="handleDownload()">
          {{ 'page.collection.actions-dropdown.download' | translate }}
        </button>
      </ng-container>
      <ng-container *appShowOnInstance="['ec', 'os']">
        <button euiDropdownItem (click)="handleExportAsPDF()">
          {{ 'page.collection.actions-dropdown.export.pdf' | translate }}
        </button>
        <button euiDropdownItem (click)="handleExportAsLW()" *ngIf="canExportLW">
          {{ 'page.collection.actions-dropdown.export.lw' | translate }}
        </button>
        <button euiDropdownItem (click)="handleValidation()" *ngIf="canValidate">
          {{ 'page.collection.actions-dropdown.validate' | translate }}
        </button>
      </ng-container>
      <a euiDropdownItem target="_blank" [href]="getStringifiedMailTo()">{{
          'page.collection.actions-dropdown.share' | translate
        }}</a>
      <ng-container>
        <button euiDropdownItem *ngIf="permissions.includes('CAN_DELETE') && !translated" (click)="handleConfirmationDelete()"
                class=eui-u-color-danger-100>
          {{ 'global.actions.delete' | translate }}
        </button>
        <app-confirm-delete-dialog
          #proposalDeleteConf
          [title]="
                'page.collection.proposal-header.actions.delete-dialog.title'
                  | translate
              "
          [description]="
                'page.collection.proposal-header.actions.delete-dialog.desc'
                  | translate
              "
          (confirmDeletion)="handleDelete()"
        ></app-confirm-delete-dialog>

        <app-confirm-dialog
          #proposalDeleteCannotConf
          [title]="
                'page.collection.proposal-header.actions.delete-dialog.title'
                  | translate
              "
          [description]="
                'page.collection.proposal-header.actions.delete-dialog-cannot.desc'
                  | translate
                    : {
                        totMilestones:
                          this.proposalDetailsService.clonedProposalCount
                      }
              "
          (confirmDeletion)="handleDelete()"
        ></app-confirm-dialog>
      </ng-container>
    </eui-dropdown-content>
  </eui-dropdown>
</div>
