<div class="eui-dropdown-button">
  <eui-dropdown>
    <button euiButton euiSecondary euiOutline euiSizeS>
      <span euiLabel translate="page.editor.actions-dropdown.label"></span>
      <span
        euiIcon
        iconClass="eui-icon eui-icon-more-vertical"
        aria-label=" "
      ></span>
    </button>
    <eui-dropdown-content>
      <ul euiList class="eui-list--with-line-separators">
        <li euiListItem (click)="openVersionModal()">
          <button
            euiListItem
            translate="page.editor.actions-dropdown.save-version"
          ></button>
        </li>
        <li euiListItem (click)="doc.download()" *ngIf="downloadVersionVisible">
          <button euiListItem>
            {{
              (isExportVersion
                ? 'page.editor.actions-dropdown.export'
                : 'page.editor.actions-dropdown.download'
              ) | translate
            }}
          </button>
        </li>
        <li
          euiListItem
          (click)="doc.download(true)"
          *ngIf="downloadVersionWithAnnotationsVisible"
        >
          <button euiListItem>
            {{
              (isExportVersion
                ? 'page.editor.actions-dropdown.export-with-annotations'
                : 'page.editor.actions-dropdown.download-with-annotations'
              ) | translate
            }}
          </button>
        </li>
        <li
          euiListItem
          (click)="doc.downloadCleanVersion()"
          *ngIf="downloadCleanVersionVisible"
        >
          <button
            euiListItem
            translate="page.editor.actions-dropdown.download-clean-version"
          ></button>
        </li>
        <li
          euiListItem
          (click)="eConsiliumModal.open()"
          *ngIf="downloadEConsiliumVisible"
        >
          <button
            euiListItem
            translate="page.editor.actions-dropdown.download-econsilium"
          ></button>
        </li>
        <ng-container *ngIf="importerVisible">
          <li euiListItem (click)="importDialog.open()">
            <button
              euiListItem
              translate="page.editor.actions-dropdown.import"
            ></button>
          </li>
        </ng-container>
        <li euiListItem (click)="ckEditorService.toogleUserGuidance()">
          <button euiListItem>
            {{
              (doc.userGuidanceVisible$ | async) === false
                ? ('page.editor.actions-dropdown.see-user-guidance' | translate)
                : ('page.editor.actions-dropdown.hide-user-guidance'
                  | translate)
            }}
          </button>
        </li>
        <li euiListItem (click)="doc.seeNavigation()">
          <button
            euiListItem
            translate="page.editor.actions-dropdown.see-navigation"
            [disabled]="(doc.navigationPaneCollapse$ | async) === false"
          ></button>
        </li>
        <li
          euiListItem
          (click)="doc.renumberDocument()"
          *ngIf="doc.documentType !== 'council_explanatory'"
        >
          <button
            euiListItem
            translate="page.editor.actions-dropdown.apply-continuous-numbering"
          ></button>
        </li>
        <li
          euiListItem
          (click)="doc.switchDocumentStructure()"
          *ngIf="doc.documentType === 'annex'"
        >
          <button
            euiListItem
            translate="page.editor.actions-dropdown.change-document-structure"
          ></button>
        </li>
      </ul>
    </eui-dropdown-content>
  </eui-dropdown>
</div>

<eui-dialog
  #createVersionDialog
  [title]="'page.editor.actions-dropdown.save-version.modal' | translate"
  [width]="'25vw'"
  [hasCloseButton]="false"
  (close)="closeVersionModal()"
>
  <!-- Body -->
  <form [formGroup]="createForm">
    <div class="row eui-u-mt-m">
      <div class="col-md-3">
        <label euiLabel euiRequired for="title">{{
          'page.editor.actions-dropdown.save-version.modal.title' | translate
        }}</label>
      </div>
      <div class="col-md-9 eui-inline-edit">
        <input id="title" euiInputText formControlName="title" required />
      </div>
    </div>

    <div class="row eui-u-mt-m">
      <div class="col-md-3">
        <label euiLabel for="description">{{
          'page.editor.actions-dropdown.save-version.modal.description'
            | translate
        }}</label>
      </div>
      <div class="col-md-9 eui-inline-edit">
        <textarea
          id="description"
          euiTextArea
          formControlName="description"
        ></textarea>
      </div>
    </div>
  </form>

  <!-- Footer -->
  <eui-dialog-footer>
    <div class="app-dialog-footer-content">
      <button euiButton euiSecondary (click)="closeVersionModal()">
        {{ 'global.actions.cancel' | translate }}
      </button>
      <button
        euiButton
        euiPrimary
        (click)="onSaveVersion()"
        [disabled]="createForm.invalid"
      >
        {{ 'global.actions.save' | translate }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>

<app-download-econsilium-modal #eConsiliumModal></app-download-econsilium-modal>

<app-import-from-journal-dialog #importDialog></app-import-from-journal-dialog>
