<div class="eui-dropdown-button">
  <eui-dropdown>
    <button euiButton euiSecondary euiOutline>
      <span euiLabel translate="page.editor.actions-dropdown.label"></span>
      <span
        euiIcon
        iconClass="eui-icon eui-icon-more-vertical"
        aria-label=" "
      ></span>
    </button>
    <eui-dropdown-content>
      <ul euiList>
        <div class="actions-menu-dividers">
          {{ 'page.editor.actions-dropdown.label-versions' | translate }}
        </div>
        <li euiListItem (click)="openVersionModal()">
          <button
            euiListItem
            translate="page.editor.actions-dropdown.save-version"
          ></button>
        </li>
        <li euiListItem (click)="doc.download()">
          <button
            euiListItem
            translate="page.editor.actions-dropdown.download"
          ></button>
        </li>
        <li euiListItem (click)="doc.downloadWithAnnotation()">
          <button
            euiListItem
            translate="page.editor.actions-dropdown.download-with-annotation"
          ></button>
        </li>
        <div class="actions-menu-dividers">
          {{ 'page.editor.actions-dropdown.label-import' | translate }}
        </div>
        <li euiListItem (click)="doc.import()">
          <button
            euiListItem
            translate="page.editor.actions-dropdown.import"
          ></button>
        </li>
        <div class="actions-menu-dividers">
          {{ 'page.editor.actions-dropdown.label-view' | translate }}
        </div>
        <li euiListItem (click)="ckEditorService.receiveUserGuidance()">
          <button euiListItem>
            {{
              (doc.userGuidanceVisible$ | async) === false
                ? ('page.editor.actions-dropdown.see-user-guidance' | translate)
                : ('page.editor.actions-dropdown.hide-user-guidance'
                  | translate)
            }}
          </button>
        </li>
        <li euiListItem (click)="doc.seeNavigation()">
          <button
            euiListItem
            translate="page.editor.actions-dropdown.see-navigation"
            [disabled]="(doc.navigationPaneCollapse$ | async) === false"
          ></button>
        </li>
        <div class="actions-menu-dividers">
          {{ 'page.editor.actions-dropdown.label-extra' | translate }}
        </div>
        <li
          euiListItem
          (click)="doc.renumberDocument()"
          *ngIf="doc.documentType !== 'council_explanatory'"
        >
          <button
            euiListItem
            translate="page.editor.actions-dropdown.renumber-document"
          ></button>
        </li>
        <li
          euiListItem
          (click)="doc.switchDocumentStructure()"
          *ngIf="doc.documentType === 'annex'"
        >
          <button
            euiListItem
            translate="page.editor.actions-dropdown.change-document-structure"
          ></button>
        </li>
      </ul>
    </eui-dropdown-content>
  </eui-dropdown>
</div>

<eui-dialog
  #createVersionDialog
  [title]="'page.editor.actions-dropdown.save-version.modal' | translate"
  [width]="'25vw'"
  [isHandleCloseOnAccept]="true"
  [isHandleCloseOnDismiss]="true"
  [hasCloseButton]="false"
  (close)="closeVersionModal()"
  (accept)="onSaveVersion()"
  (dismiss)="closeVersionModal()"
>
  <form [formGroup]="createForm">
    <div class="row eui-u-mt-m">
      <div class="col-md-3">
        <label euiLabel for="title">{{
          'page.editor.actions-dropdown.save-version.modal.title' | translate
        }}</label>
      </div>
      <div class="col-md-9 eui-inline-edit">
        <input id="title" euiInputText formControlName="title" />
      </div>
    </div>

    <div class="row eui-u-mt-m">
      <div class="col-md-3">
        <label euiLabel for="description">{{
          'page.editor.actions-dropdown.save-version.modal.description'
            | translate
        }}</label>
      </div>
      <div class="col-md-9 eui-inline-edit">
        <input id="description" euiInputText formControlName="description" />
      </div>
    </div>
  </form>
</eui-dialog>
