<eui-card euiNoContentPadding>
  <eui-card-content>
    <div class="d-flex flex-column">
      <h5 class="card-header-title">
        <b>{{ 'page.editor.toc.selected-element.title' | translate }}</b>
      </h5>
      <!-- Division-->
      <h5
        class="mr-3 toc-editor-label"
        *ngIf="isDivision(this.selectedNode.tocItem)"
      >
        {{ 'toc.edit.window.item.list.type' | translate }}
      </h5>
      <div
        class="d-flex flex-wrap m-4 justify-content-start align-items-center eui-u-font-s"
        *ngIf="isDivision(selectedNode.tocItem)"
      >
        <div class="d-flex flex-row align-items-center">
          <input
            euiInputRadio
            class="toc-editor-input"
            id="division_type_1"
            name="division_type"
            value="type_1"
            [(ngModel)]="active_division_style"
            [disabled]="!isDivisionStyleEnabled('type_1')"
            (change)="handleDivisionChange($event)"
          />
          <label euiLabel class="toc-editor-label" for="division_type_1">{{
            'toc.division.number.caption.type_1' | translate
          }}</label>
        </div>
        <div class="d-flex flex-row align-items-center">
          <input
            euiInputRadio
            class="toc-editor-input"
            id="division_type_2"
            name="division_type"
            value="type_2"
            [(ngModel)]="active_division_style"
            [disabled]="!isDivisionStyleEnabled('type_2')"
            (change)="handleDivisionChange($event)"
          />
          <label class="toc-editor-label" euiLabel for="division_type_2">{{
            'toc.division.number.caption.type_2' | translate
          }}</label>
        </div>
        <div class="d-flex flex-row align-items-center">
          <input
            euiInputRadio
            class="toc-editor-input"
            id="division_type_3"
            name="division_type"
            value="type_3"
            [(ngModel)]="active_division_style"
            [disabled]="!isDivisionStyleEnabled('type_3')"
            (change)="handleDivisionChange($event)"
          />
          <label class="toc-editor-label" euiLabel for="division_type_3">{{
            'toc.division.number.caption.type_3' | translate
          }}</label>
        </div>
        <div class="d-flex flex-row align-items-center">
          <input
            id="division_type_4"
            name="division_type"
            class="toc-editor-input"
            euiInputRadio
            value="type_4"
            [(ngModel)]="active_division_style"
            [disabled]="!isDivisionStyleEnabled('type_4')"
            (change)="handleDivisionChange($event)"
          />
          <label class="toc-editor-label" euiLabel for="division_type_4">{{
            'toc.division.number.caption.type_4' | translate
          }}</label>
        </div>
      </div>
      <!-- Number + Type -->
      <div class="d-flex">
        <!-- Type -->
        <div
          *ngIf="showTypeField(this.selectedNode.tocItem)"
          style="margin-right: 5px"
        >
          <label euiLabel class="toc-editor-label font-weight-bold" for="">{{
            'page.editor.toc.selected-element.type' | translate
          }}</label
          ><input
            class="toc-editor-input"
            euiInputText
            euiSizeXS
            disabled
            type="text"
            [(ngModel)]="type"
          />
        </div>
        <!-- Number-->
        <div
          class="input-wrap"
          style="margin-left: 3px"
          [hidden]="!isItemNumberVisible(this.selectedNode.tocItem)"
        >
          <label class="font-weight-bold toc-editor-label" euiLabel for="">{{
            'page.editor.toc.selected-element.number' | translate
          }}</label
          ><input
            euiInputText
            class="toc-editor-input"
            type="text"
            [placeholder]="numberConfig.description"
            [required]="isItemNumberMandatory(this.selectedNode.tocItem)"
            [pattern]="numberConfig.regex"
            [disabled]="!isItemNumberEditable(this.selectedNode.tocItem)"
            [(ngModel)]="number"
            [isInvalid]="invalidNodes.has(this.selectedNode)"
            (ngModelChange)="handleNumberChange($event)"
          />
          <span *ngIf="invalidNumberMsg" style="top: -35%" class="error-msg">{{
            invalidNumberMsg
          }}</span>
        </div>
      </div>
      <!-- Heading-->
      <div
        class="input-wrap"
        [hidden]="!isItemHeadingVisible(this.selectedNode.tocItem)"
      >
        <label
          euiLabel
          class="toc-editor-label font-weight-bold"
          for="heading"
          >{{ 'page.editor.toc.selected-element.heading' | translate }}</label
        >
        <input
          name="heading"
          id="heading"
          euiInputText
          class="toc-editor-input"
          type="text"
          [required]="isHeadingItemMandatory(this.selectedNode)"
          [(ngModel)]="heading"
          [disabled]="!isItemHeadingEditable(this.selectedNode.tocItem)"
          (ngModelChange)="handleHeadingChange($event)"
        />
        <span *ngIf="invalidHeadingMsg" style="top: 0%" class="error-msg">{{
          invalidHeadingMsg
        }}</span>
      </div>
      <!-- Article Change Type-->
      <div
        class="d-flex flex-row mt-2 justify-content-start"
        *ngIf="isArticle(selectedNode.tocItem)"
      >
        <h5 class="mr-3 toc-editor-label">
          {{ 'toc.edit.window.item.list.type' | translate }}
        </h5>
      </div>
      <div
        class="d-flex flex-wrap mt-2 justify-content-start"
        *ngIf="isArticle(selectedNode.tocItem)"
      >
        <div class="d-flex flex-row align-items-center">
          <input
            name="article_type"
            id="article_type_reg"
            class="toc-editor-input"
            euiInputRadio
            value="regular"
            [(ngModel)]="tocType"
            (ngModelChange)="handleTypeChange($event)"
          />
          <label euiLabel class="toc-editor-label" for="article_type_reg">{{
            'toc.edit.window.item.regular.article.type' | translate
          }}</label>
        </div>
        <div class="d-flex flex-row align-items-center">
          <input
            name="article_type"
            id="article_type_def"
            class="toc-editor-input"
            euiInputRadio
            value="definition"
            [(ngModel)]="tocType"
            (ngModelChange)="handleTypeChange($event)"
          />
          <label euiLabel class="toc-editor-label" for="article_type_def">{{
            'toc.edit.window.item.definition.article.type' | translate
          }}</label>
        </div>
      </div>
      <!-- Paragraph Numbering -->
      <div
        class="d-flex flex-wrap mt-2 justify-content-start"
        *ngIf="showNumParagraphToggle(selectedNode)"
      >
        <h5 class="mr-3 toc-editor-label">
          {{ 'toc.edit.window.item.paragraph-numbering' | translate }}
        </h5>
      </div>
      <div
        class="d-flex flex-wrap mt-2 justify-content-start"
        *ngIf="showNumParagraphToggle(selectedNode)"
      >
        <div class="d-flex flex-row align-items-center">
          <input
            name="paragraph_type"
            id="paragraph_type_numbered"
            class="toc-editor-input"
            euiInputRadio
            value="Numbered"
            [(ngModel)]="active_paragraph_style"
            (change)="handleParagraphToggle($event)"
          />
          <label
            class="toc-editor-label"
            euiLabel
            for="paragraph_type_numbered"
            >{{ 'toc.edit.window.item.list.type.numbered' | translate }}</label
          >
        </div>
        <div class="d-flex flex-row align-items-center">
          <input
            name="paragraph_type"
            id="paragraph_type_unnumbered"
            class="toc-editor-input"
            euiInputRadio
            value="Unnumbered"
            [(ngModel)]="active_paragraph_style"
            (change)="handleParagraphToggle($event)"
          />
          <label
            euiLabel
            class="toc-editor-label"
            for="paragraph_type_unnumbered"
            >{{
              'toc.edit.window.item.list.type.unnumbered' | translate
            }}</label
          >
        </div>
      </div>
      <!-- Cross heading -->
      <div
        class="d-flex flex-wrap mt-2 justify-content-start"
        *ngIf="isCrossFading(selectedNode.tocItem)"
      >
        <h5 class="mr-3 toc-editor-label">
          {{ 'toc.edit.window.item.list.type' | translate }}
        </h5>
      </div>
      <div
        class="d-flex flex-wrap mt-2 justify-content-start"
        *ngIf="isCrossFading(selectedNode.tocItem)"
      >
        <div class="d-flex flex-row align-items-center">
          <input
            name="block_type"
            id="block_type_none"
            class="toc-editor-input"
            euiInputRadio
            value="NONE"
            [(ngModel)]="active_block_style"
            (change)="handleListRadioButton($event)"
          />
          <label euiLabel class="toc-editor-label" for="block_type_none">{{
            'toc.edit.window.item.list.type.none' | translate
          }}</label>
        </div>
        <div class="d-flex flex-row align-items-center">
          <input
            name="block_type"
            id="block_type_bullet"
            class="toc-editor-input"
            euiInputRadio
            value="BULLET_BLACK_CIRCLE"
            [(ngModel)]="active_block_style"
            (change)="handleListRadioButton($event)"
          />
          <label
            class="toc-editor-label"
            euiLabel
            for="block_type_bullet"
            [innerHTML]="'toc.edit.window.item.list.type.bullet' | translate"
          ></label>
        </div>
        <div class="d-flex flex-row align-items-center">
          <input
            name="block_type"
            id="block_type_n"
            class="toc-editor-input"
            euiInputRadio
            value="INDENT"
            [(ngModel)]="active_block_style"
            (change)="handleListRadioButton($event)"
          />
          <label euiLabel class="toc-editor-label" for="block_type_n">{{
            'toc.edit.window.item.list.type.indent' | translate
          }}</label>
        </div>
      </div>
      <!-- Point a-->
      <div
        class="d-flex flex-wrap mt-2 justify-content-start"
        *ngIf="isIndentList(selectedNode.tocItem)"
      >
        <div class="d-flex flex-row align-items-center justify-content-evenly">
          <input
            [disabled]="isIndentListRadioButtonGroupEnabled"
            id="point_a_b"
            name="point_a"
            class="toc-editor-input"
            euiInputRadio
            value="BULLET_NUM"
            [(ngModel)]="active_point_style"
            (change)="handleIndentListRadioButtonGroupChange($event)"
          />
          <label euiLabel class="toc-editor-label" for="point_a_b">{{
            'toc.item.type.bullet' | translate
          }}</label>
        </div>
        <div class="d-flex flex-row align-items-center">
          <input
            [disabled]="isIndentListRadioButtonGroupEnabled"
            name="point_a"
            id="point_a_i"
            class="toc-editor-input"
            euiInputRadio
            value="INDENT"
            [(ngModel)]="active_point_style"
            (change)="handleIndentListRadioButtonGroupChange($event)"
          />
          <label euiLabel class="toc-editor-label" for="point_a_i">{{
            'toc.item.type.indent' | translate
          }}</label>
        </div>
        <div class="d-flex flex-row align-items-center">
          <input
            [disabled]="isIndentListRadioButtonGroupEnabled"
            name="point_a"
            id="point_a_n"
            class="toc-editor-input"
            euiInputRadio
            value="POINT_NUM"
            [(ngModel)]="active_point_style"
            (change)="handleIndentListRadioButtonGroupChange($event)"
          />
        </div>
        <label euiLabel class="toc-editor-label" for="point_a_n">{{
          'toc.edit.window.item.list.type.numbered' | translate
        }}</label>
      </div>
      <!-- Delete -->
      <button
        euiButton
        euiSize2XS
        [euiDanger]="deleteType === 'delete'"
        [euiSecondary]="deleteType === 'undelete'"
        class="align-self-end mt-1"
        (click)="onTocRemove(this.selectedNode)"
        [disabled]="!isDeleteButtonEnabled"
      >
        {{ deleteButtonCaption }}
      </button>
    </div>
  </eui-card-content>
</eui-card>

<app-confirm-delete-dialog
  #deleteTocConfirmation
  [title]="'toc.edit.window.item.selecdted.delete-dialog.title' | translate"
  [description]="
    'toc.edit.window.item.selecdted.delete-dialog.desc' | translate
  "
  (confirmDeletion)="this.handleTocRemove.emit()"
></app-confirm-delete-dialog>
