<!-- CoEdition for Proposal view -->
<div
  *ngIf="!isToc && isNotTocNodeLevel && documentCoEditions && documentCoEditions.length > 0"
  [ngClass]="generateStyleClass('eui-u-width-100', documentCoEditions)"
>
  <span
    class="eui-icon eui-icon-person"
    [euiTooltip]="generateTooltip(documentCoEditions)"
  ></span>
</div>
<!-- CoEdition for TOC toolbar -->
<div
  *ngIf="isToc && isNotTocNodeLevel && coEditionForToc && coEditionForToc.length > 0"
  [ngClass]="generateStyleClass('eui-u-width-100 align-self-center leos-user-coedition-toc', coEditionForToc)"
>
  <span
    class="eui-icon eui-icon-person"
    [euiTooltip]="generateTooltip(coEditionForToc)"
  ></span>
</div>
<!-- CoEdition for TOC tree element -->
<div
  *ngIf="!isNotTocNodeLevel && isNodeCoEdited()"
  [ngClass]="generateStyleClass('w-100 leos-user-coedition-toc-element', this.getCoEditsForElement())"
>
  <span
    class="eui-icon eui-icon-person"
    [euiTooltip]="generateTooltip(this.getCoEditsForElement())"
  ></span>
</div>
