<!-- indicator for toc next to the edit button-->
<div
  class="eui-u-width-100 align-self-center"
  *ngIf="isToc && isNotTocNodeLevel && coEditiionForToc && coEditiionForToc.length > 0"
>
  <span
    class="eui-icon eui-icon-person eui-u-font-size-m"
    [euiTooltip]="generateTooltip(coEditiionForToc)"
  ></span>
</div>
<!-- -->
<div
  class=""
  *ngIf="!isToc  && isNotTocNodeLevel && documentCoEditions && documentCoEditions.length > 0"
>
  <span
    class="eui-icon eui-icon-person"
    [euiTooltip]="generateTooltip(documentCoEditions)"
  ></span>
</div>
<!-- -->
<div
  class="w-100 leos-user-coedition leos-user-coedition-self-user"
  *ngIf="!isNotTocNodeLevel && isNodeCoEdited()"
>
  <span
    class="eui-icon eui-icon-person"
    [euiTooltip]="generateTooltipForIcon()"
  ></span>
</div>
