<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  class="eui-primary document-toc-tree"
>
  <mat-nested-tree-node
    class="document-toc-tree-nested-node"
    *matTreeNodeDef="let node"
  >
    <li>
      <div class="mat-tree-node document-toc-tree-node" euiLabel euiPrimary>
        <span>{{ getLabel(node) }}</span>
        <eui-dropdown *ngIf="isEditMode()">
          <button
            euiButton
            euiRounded
            euiIconButton
            euiBasicButton
            euiSecondary
            euiTooltip="More options"
            [attr.aria-label]="'More options'"
          >
            <span euiIcon iconClass="eui-icon eui-icon-more-vertical"></span>
          </button>
          <eui-dropdown-content>
            <div euiList>
              <button
                euiListItem
                (click)="handleMove(node)"
                *ngIf="!isNodeSelected()"
              >
                {{ 'page.editor.toc.move-actions.move' | translate }}
              </button>
              <button
                euiListItem
                (click)="handlePlaceBefore(node)"
                *ngIf="isNodeSelected()"
              >
                {{ 'page.editor.toc.move-actions.place-before' | translate }}
              </button>
              <button
                euiListItem
                (click)="handlePlaceChild(node)"
                *ngIf="isNodeSelected()"
              >
                {{ 'page.editor.toc.move-actions.place-child' | translate }}
              </button>
              <button
                euiListItem
                (click)="handlePlaceAfter(node)"
                *ngIf="isNodeSelected()"
              >
                {{ 'page.editor.toc.move-actions.place-after' | translate }}
              </button>
            </div>
          </eui-dropdown-content>
        </eui-dropdown>
      </div>
    </li>
  </mat-nested-tree-node>
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChildren">
    <li class="example-tree-container">
      <div class="mat-tree-node">
        <eui-icon
          euiSizeM
          matTreeNodeToggle
          *ngIf="!treeControl.isExpanded(node)"
          iconClass="eui-icon-angle-right"
          (click)="saveExpanded(node)"
        ></eui-icon>
        <eui-icon
          matTreeNodeToggle
          *ngIf="treeControl.isExpanded(node)"
          iconClass="eui-icon eui-icon-angle-down"
          (click)="saveExpanded(node)"
        ></eui-icon>
        <span euiLabel euiPrimary>{{ getLabel(node) }}</span>
        <eui-dropdown *ngIf="isEditMode()">
          <button
            euiButton
            euiRounded
            euiIconButton
            euiBasicButton
            euiSecondary
            euiTooltip="More options"
            [attr.aria-label]="'More options'"
          >
            <span euiIcon iconClass="eui-icon eui-icon-more-vertical"></span>
          </button>
          <eui-dropdown-content>
            <div euiList>
              <button
                euiListItem
                (click)="handleMove(node)"
                *ngIf="!isNodeSelected()"
              >
                {{ 'page.editor.toc.move-actions.move' | translate }}
              </button>
              <button
                euiListItem
                (click)="handlePlaceBefore(node)"
                *ngIf="isNodeSelected()"
              >
                {{ 'page.editor.toc.move-actions.place-before' | translate }}
              </button>
              <button
                euiListItem
                (click)="handlePlaceChild(node)"
                *ngIf="isNodeSelected()"
              >
                {{ 'page.editor.toc.move-actions.place-child' | translate }}
              </button>
              <button
                euiListItem
                (click)="handlePlaceAfter(node)"
                *ngIf="isNodeSelected()"
              >
                {{ 'page.editor.toc.move-actions.place-after' | translate }}
              </button>
            </div>
          </eui-dropdown-content>
        </eui-dropdown>
      </div>
      <ul class="example-tree-nested-node">
        <div *ngIf="treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
