<eui-page>
  <eui-page-content style="padding: 0px">
    <!-- Results column -->
    <!-- Hero Banner and Buttons-->
    <div class="body-container">
      <div class="hero-image">
        <div class="content-container">
          <div class="label-container">
            <eui-label class="eui-u-font-3xl hero-text">{{
              'page.home.hero.label' | translate
            }}</eui-label>
          </div>
          <!-- Hero buttons -->
          <div class="button-container eui-u-mt-m">
            <button
              euiButton
              euiPrimary
              (click)="handleCreateMandate()"
              *ngIf="canUpload && !environmentService.isCouncil()"
            >
              {{ 'page.workspace.upload.button.text' | translate }}
              <eui-icon-svg icon="eui-chevron-forward"></eui-icon-svg>
            </button>
            <button
              euiButton
              euiPrimary
              (click)="handleCreateMandate()"
              *ngIf="environmentService.isCouncil()"
            >
              {{ 'page.workspace.upload-cn.button.text' | translate }}
              <eui-icon-svg icon="eui-chevron-forward"></eui-icon-svg>
            </button>
            <button
              euiButton
              euiPrimary
              (click)="handleCreateDraft()"
              *ngIf="environmentService.isCouncil()"
            >
              {{ 'page.home.create-your-draft' | translate }}
              <eui-icon-svg icon="eui-chevron-forward"></eui-icon-svg>
            </button>
            <button
              euiButton
              euiPrimary
              (click)="handleCreate()"
              *ngIf="!environmentService.isCouncil()"
            >
              {{ 'page.workspace.create-button' | translate }}
              <eui-icon-svg icon="eui-chevron-forward"></eui-icon-svg>
            </button>
          </div>
        </div>
      </div>
      <!-- Searchbar-->
      <div class="eui-b-pl-xl middle-body-content">
        <app-proposal-filter-home
          class="filter-container"
          (searchInitiation)="toggleProposalCardVisibility($event)"
        ></app-proposal-filter-home>
        <app-proposal-home-card
          *ngIf="showProposalCard"
          class="search-card-container"
          [proposals]="proposals$ | async"
        ></app-proposal-home-card>
      </div>
      <!-- Cards-->
      <div class="cards-containers">
        <app-proposal-home-card
          class="card-container"
          icon="pulse:sharp"
          labelKey="page.home.my-latest-activity"
          [packages]="latestPackages$ | async"
        ></app-proposal-home-card>

        <app-proposal-home-card
          class="card-container"
          icon="eui-bookmark"
          labelKey="page.home.my-favourites"
          [packages]="favouritesPackages$ | async"
        ></app-proposal-home-card>
      </div>
    </div>
  </eui-page-content>
</eui-page>
