.revision {
  align-items: center;
  display: flex;
  gap: var(--eui-base-spacing-xs);
}

.title {
  font-weight: bold;
}

.updatedBy {
  color: var(--eui-card-subtitle-font-color);
  display: block;
  font-size: var(--eui-card-subtitle-font-size);
  font-weight: 300;
  margin-top: var(--eui-base-spacing-xs);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
