<eui-card class="revisions-pane" euiNoShadow>
  <eui-card-header>
    <eui-card-header-left-content>
      <span euiLabel>{{ originatingApplication }}</span>
    </eui-card-header-left-content>
    <eui-card-header-right-content>
      <span euiLabel>{{ revisionVersion }}</span>
    </eui-card-header-right-content>
  </eui-card-header>

  <eui-card-content class="eui-u-pb-none">
    <div class="revision">
      <div class="title"></div>
      <div>
        <app-revision-actions-dropdown
          [contribution]="contribution"
        ></app-revision-actions-dropdown>
      </div>
    </div>
  </eui-card-content>

  <eui-card-footer>
    {{
      'page.editor.contribution-item.updated-by'
        | translate
          : {
              updatedOn: contribution.updatedDate | date: 'dd/MM/yyyy h:mm',
              updatedBy: contribution.contributionCreator
            }
    }}
  </eui-card-footer>
</eui-card>
