<ng-container *ngIf="permissions.includes('CAN_CREATE_MILESTONE')">
  <div class="eui-u-flex eui-u-flex-justify-content-end">
    <button
      class="eui-u-mb-m eui-u-mt-2xs"
      euiButton
      euiPrimary
      (click)="openAddMilestoneDialog()"
    >
      {{ 'global.actions.add' | translate }}
    </button>
  </div>
</ng-container>

<table euiTable euiTableResponsive [rows]="dataSource">
  <ng-template euiTemplate="header">
    <tr>
      <th aria-hidden="true" style="width: 0"></th>
      <th>{{ 'page.collection.milestones.table.title' | translate }}</th>
      <th>{{ 'page.collection.milestones.table.date' | translate }}</th>
      <th>{{ 'page.collection.milestones.table.status' | translate }}</th>
      <th style="width: 0">
        {{ 'page.collection.milestones.table.actions' | translate }}
      </th>
    </tr>
  </ng-template>
  <ng-template let-row euiTemplate="body">
    <tr>
      <td
        *ngIf="row.clonedMilestones && row.clonedMilestones.length > 0"
        data-col-label="Click to expand"
        (click)="row.opened = !row.opened"
        class="expandable-row__toggler"
      >
        <button
          *ngIf="!row.opened"
          euiButton
          euiRounded
          euiIconButton
          euiSizeS
          euiBasicButton
          euiPrimary
        >
          <span euiIcon iconClass="eui-icon-angle-right"></span>
        </button>
        <button
          *ngIf="row.opened"
          euiButton
          euiRounded
          euiIconButton
          euiSizeS
          euiBasicButton
          euiPrimary
        >
          <span euiIcon iconClass="eui-icon-angle-down"></span>
        </button>
      </td>
      <td
        *ngIf="!(row.clonedMilestones && row.clonedMilestones.length > 0)"
      ></td>
      <td
        [attr.data-col-label]="
          'page.collection.milestones.table.title' | translate
        "
      >
        {{ row.title }}
      </td>
      <td
        [attr.data-col-label]="
          'page.collection.milestones.table.date' | translate
        "
      >
        {{ row.updatedDate | date : 'dd/MM/yyyy HH:mm' }}
      </td>
      <td
        [attr.data-col-label]="
          'page.collection.milestones.table.status' | translate
        "
      >
        {{ getStatus(row.status) }}
      </td>
      <td
        [attr.data-col-label]="
          'page.collection.milestones.table.actions' | translate
        "
      >
        <eui-dropdown>
          <button euiButton euiBasicButton="true">
            <span euiIcon iconClass="eui-icon eui-icon-more-vertical"></span>
          </button>
          <eui-dropdown-content>
            <ul euiList>
              <li euiListItem>
                <button euiListItem (click)="openMilestoneViewDialog(row, proposal.cloneProposalMetadataVO?.clonedProposal)">
                  {{
                    'page.collection.milestones.actions.view-milestone'
                      | translate
                  }}
                </button>
              </li>
              <ng-container *appShowOnInstance="['ec', 'os']">
                <li euiListItem>
                  <button
                    euiListItem
                    (click)="openMilestoneSendCopyForContributionDialog(row)"
                    *ngIf="!proposal.cloneProposalMetadataVO?.clonedProposal"
                  >
                    {{
                      'page.collection.milestones.actions.send-copy-for-contribution'
                        | translate
                    }}
                  </button>
                  <button
                    euiListItem
                    (click)="openAnnotationWarningModal(row)"
                    [disabled]="row.status !== milestoneStatus.Ready"
                    *ngIf="proposal.cloneProposalMetadataVO?.clonedProposal"
                  >
                    {{
                      'page.collection.milestones.actions.send-revision-for-merge'
                        | translate
                    }}
                  </button>
                </li>
              </ng-container>
              <li euiListItem>
                <button euiListItem
                        (click)="onDownloadMilestone(row)">
                  {{ 'page.collection.actions-dropdown.download' | translate }}
                </button>
              </li>
            </ul>
          </eui-dropdown-content>
        </eui-dropdown>
      </td>
    </tr>
    <ng-template ngFor let-clonedMilestone [ngForOf]="row.clonedMilestones">
      <tr euiTableExpandableRow *ngIf="row.opened">
        <td></td>
        <td
          class="eui-u-pl-l"
          [attr.data-col-label]="
            'page.collection.milestones.table.title' | translate
          "
        >
          <div class="icon-container">
          <eui-icon *ngIf="clonedMilestone.contributionChanged" euiPrimary iconClass="eui-icon-info-circle eui-icon-1x"></eui-icon>
          <span class="tooltip" [innerHTML]="'page.collection.milestones.component.tooltip' | translate"></span>
          </div>
          {{ clonedMilestone.title }}
        </td>
        <td
          [attr.data-col-label]="
            'page.collection.milestones.table.date' | translate
          "
        >
          {{ clonedMilestone.updatedDate | date : 'dd/MM/yyyy HH:mm' }}
        </td>
        <td
          [attr.data-col-label]="
            'page.collection.milestones.table.status' | translate
          "
        >
          {{ clonedMilestone.status }}
        </td>
        <td>
          <eui-dropdown
            *ngIf="isReadyToMerge(clonedMilestone.status) && viewContribution"
          >
            <button euiButton euiBasicButton="true">
              <span euiIcon iconClass="eui-icon eui-icon-more-vertical"></span>
            </button>
            <eui-dropdown-content>
              <ul euiList>
                <li euiListItem>
                  <button
                    euiListItem
                    (click)="updateReadyToMergeStatus(clonedMilestone, row.legDocumentName)"
                  >
                    {{
                      'page.collection.milestones.actions.view-contribution'
                        | translate
                    }}
                  </button>
                </li>
              </ul>
            </eui-dropdown-content>
          </eui-dropdown>
        </td>
      </tr>
    </ng-template>
    <ng-template euiTemplate="emptyMessage">
      <tr>
        <td class="eui-u-text-center" colspan="5">
          {{ 'page.collection.milestones.table.no-milestone' | translate }}
        </td>
      </tr>
    </ng-template>
  </ng-template>
</table>

<app-add-milestone-dialog
  #addMilestoneDialog
  (closed)="onAddMilestoneDialogClosed()"
  *ngIf="addMilestoneDialogVisible"
  [isCloneProposal]="proposal.cloneProposalMetadataVO?.clonedProposal"
></app-add-milestone-dialog>

<app-proposal-milestone-view
  #milestoneViewDialog
  [milestone]="milestoneViewData"
  [parentLegDocumentName]="parentLegDocumentName"
  [parentClonedProposal]="parentClonedProposal"
  (closed)="onMilestoneViewDialogClosed()"
  *ngIf="openMilestoneViewDialogVisible && milestoneViewData"
></app-proposal-milestone-view>

<app-proposal-milestone-send-copy-dialog
  #sendMilestoneCopyForContributionDialog
  [milestone]="milestoneViewData"
  (closed)="onMilestoneSendCopyForContributionDialogClosed()"
  *ngIf="sendCopyDialogVisible && milestoneViewData"
></app-proposal-milestone-send-copy-dialog>

<app-milestone-annotation-warning-modal
  #milestoneAnnotationWarningModal
  (closed)="dismissAnnotationWarningModal()"
  *ngIf="annotationWarningDialogVisible"
  (modalAccepted)="acceptAnnotationWarningModal()"
></app-milestone-annotation-warning-modal>
