<ng-container *appUserHasPermission="['CAN_CREATE_MILESTONE']">
  <div class="eui-u-flex eui-u-flex-justify-content-end">
    <button
      class="eui-u-mb-m eui-u-mt-2xs"
      euiButton
      euiPrimary
      (click)="openAddMilestoneDialog()"
    >
      {{ 'global.actions.add' | translate }}
    </button>
  </div>
</ng-container>

<table euiTable euiTableResponsive [rows]="dataSource">
  <ng-template euiTemplate="header">
    <tr>
      <th>{{ 'page.collection.milestones.table.title' | translate }}</th>
      <th>{{ 'page.collection.milestones.table.date' | translate }}</th>
      <th>{{ 'page.collection.milestones.table.status' | translate }}</th>
      <th style="width: 0">
        {{ 'page.collection.milestones.table.actions' | translate }}
      </th>
    </tr>
  </ng-template>
  <ng-template let-row euiTemplate="body">
    <tr>
      <td
        [attr.data-col-label]="
          'page.collection.milestones.table.title' | translate
        "
      >
        {{ row.title }}
      </td>
      <td
        [attr.data-col-label]="
          'page.collection.milestones.table.date' | translate
        "
      >
        {{ row.updatedDate | date: 'dd/MM/yyyy hh:mm:ss' }}
      </td>
      <td
        [attr.data-col-label]="
          'page.collection.milestones.table.status' | translate
        "
      >
        {{ row.status }}
      </td>
      <td
        [attr.data-col-label]="
          'page.collection.milestones.table.actions' | translate
        "
      >
        <eui-dropdown>
          <button euiButton euiBasicButton="true">
            <span euiIcon iconClass="eui-icon eui-icon-more-vertical"></span>
          </button>
          <eui-dropdown-content>
            <ul euiList>
              <li euiListItem>
                <button euiListItem (click)="openMilestoneViewDialog(row)">
                  {{
                    'page.collection.milestones.actions.view-milestone'
                      | translate
                  }}
                </button>
              </li>
            </ul>
          </eui-dropdown-content>
        </eui-dropdown>
      </td>
    </tr>
  </ng-template>
  <ng-template euiTemplate="emptyMessage">
    <tr>
      <td class="eui-u-text-center" colspan="5">
        {{ 'page.collection.milestones.table.no-milestone' | translate }}
      </td>
    </tr>
  </ng-template>
</table>

<app-add-milestone-dialog
  #addMilestoneDialog
  (closed)="onAddMilestoneDialogClosed()"
  *ngIf="addMilestoneDialogVisible"
></app-add-milestone-dialog>

<app-proposal-milestone-view
  #milestoneViewDialog
  [milestone]="milestoneViewData"
  (closed)="onMilestoneViewDialogClosed()"
  *ngIf="milestoneViewData"
></app-proposal-milestone-view>
