<div class="filters-container eui-u-ph-m">
  <form class="filters-form" [formGroup]="form" *ngIf="form">
    <!-- Search Title Row -->

    <div class="filters-search-input eui-u-shadow-z-depth-0 eui-u-pb-xs">
      <div euiInputGroup>
        <label
          euiLabel
          for="with_action-button_disabled"
          class="eui-u-mt-s eui-u-mb-xs eui-u-font-l eui-u-font-bold"
        >
          {{ 'page.workspace.filter.search' | translate }}
        </label>
        <div class="eui-input-group-addon eui-u-pr-3xl">
          <input
            (keydown.enter)="handleSubmit($event)"
            euiInputText
            id="with_action-button_disabled"
            placeholder="Search for a proposal"
            formControlName="searchTerm"
          />
          <button euiButton euiSecondary euiIconButton>
            <span euiIcon iconClass="eui-icon eui-icon-search"></span>
          </button>
        </div>
      </div>
    </div>

    <!-- Checkbox Filters Row -->

    <div class="filters-checkboxes">
      <div
        class="filters-checkboxes-section eui-u-shadow-z-depth-0 eui-u-pb-xs"
        *ngFor="let filter of filterGroups"
      >
        <h5 class="eui-u-pv-xs eui-u-font-l eui-u-font-bold">
          {{ filter.title }}
        </h5>
        <div
          euiInputGroup
          class="eui-u-mb-none"
          *ngFor="let filterOption of filter.filterOptions"
        >
          <input
            euiInputCheckBox
            class="eui-u-display-hidden"
            [id]="filterOption.id"
            [name]="filterOption.fieldName"
            [formControlName]="filterOption.fieldName"
          />
          <label class="align-items-start" [for]="filterOption.id">{{
            filterOption.label
          }}</label>
        </div>
      </div>
    </div>
  </form>
</div>
