<div>
  <div euiInputGroup class="eui-u-flex eui-u-mt-m">
    <div class="eui-input-group-addon">
      <input
        euiInputText
        [(ngModel)]="filterText"

        (ngModelChange)="onDocumentTypeFilter($event)"
        placeholder="Search by document type"
        aria-label="Search by document type"
      />
      <div class="eui-input-group-addon-item">
        <eui-icon-svg icon="eui-search"></eui-icon-svg>
      </div>
    </div>
  </div>

  <div class="eui-u-flex tree-margin">
    <eui-tree
              isSingleSelect="false"
              (selectionChange)="onNodeClick($event)"
              [nodeTemplateRef]="nodeTemplateCustom2"
              [nodes]="treeNodes"
              #treeComponent
    >
    </eui-tree>
  </div>
</div>

<ng-template let-node #nodeTemplateCustom2 let-onSelect="onSelect">
  <div (click)="onSelectNode({ target: { checked: !node.isSelected } }, node.treeContentBlock.key)"
       class="eui-tree-node-wrapper__container-middle">
    <eui-icon-svg [icon]="node?.treeContentBlock?.iconSvgName"></eui-icon-svg>
    <label
      [class.eui-label--selected]="node?.isSelected && node.selectable"
      class="eui-u-text-truncate eui-u-p-2xs">
      {{ node?.treeContentBlock?.label }}
    </label>
  </div>
</ng-template>

