/* You can add global styles to this file, and also import other style files */
@import 'node_modules/@eui/styles-base/src/styles/base';

/*
 * Overrides
 */

eui-icon-svg > svg > use {
  // disables svg icon tooltips
  pointer-events: none;
}

/*
 * Utilities
 */

.app-u-gap-none {
  gap: var(--eui-base-spacing-none);
}

.app-u-gap-xs {
  gap: var(--eui-base-spacing-xs);
}

.app-u-gap-s {
  gap: var(--eui-base-spacing-s);
}

.app-u-gap-m {
  gap: var(--eui-base-spacing-m);
}

.app-u-gap-l {
  gap: var(--eui-base-spacing-l);
}

.app-u-gap-xl {
  gap: var(--eui-base-spacing-xl);
}

.app-u-gap-xs {
  gap: var(--eui-base-spacing-xs);
}

.app-u-flex-basis-0 {
  flex-basis: 0 !important;
}

.app-u-flex-basis-100 {
  flex-basis: 100% !important;
}

.app-u-flex-basis-auto {
  flex-basis: auto !important;
}

.eui-u-text-wrap {
  white-space: normal !important;
}

.eui-page-column--no-scrollbars > .eui-page-column__body {
  overflow: unset;
  padding: 0;
}

.eui-page-column--right-column .eui-page-column__header-toggle .eui-icon {
  transform: rotate(180deg);
}

.eui-breadcrumb--compact .eui-breadcrumb__items {
  padding: var(--eui-base-spacing-2xs) var(--eui-base-spacing-s);
}

/*
 * Misc
 */

@font-face {
  font-family: Vaadin-Icons;
  src: url('../src/assets/fonts/Vaadin-Icons.woff');
}

.Vaadin-Icons {
  font-family: Vaadin-Icons;
}

.eui-footer.leos-footer-content {
  font-size: 0.8rem;
  justify-content: center;
  max-height: 22px;
  padding: 0.3rem;
}

.app-dialog-footer-content {
  display: flex;
  flex-direction: row;
  gap: var(--eui-base-spacing-m);
  justify-content: flex-end;
}

.search-result {
  background-color: #feca1d;
}

.focused-search-result {
  background-color: #7ed3f8 !important;
}

.version-search-found {
  background-color: #a0a0a0 !important;
}

.version-search-found .eui-card-header {
  background-color: #a0a0a0 !important;
}
