.input-button-layout {
  display: flex;
  gap: 10px;
  width: 100%;
}

.eui-input-group-addon {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.clear-button {
  margin-left: -50px;
  border: none;
  background: white;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  flex-direction: column;
}
@media (max-width: 766px) {
  .search-container {
    width: 98%;
  }
}
