<span euiLabel euiWarning *ngIf="shouldReloadAfterUpdate">{{
  'page.editor.action-toolbar.document-updated' | translate
}}</span>
<button
  euiButton
  euiIconButton
  euiBasicButton
  euiRounded
  euiSizeS
  [title]="'page.editor.search-button.tooltip' | translate"
  [attr.aria-label]="'page.editor.search-button.tooltip' | translate"
  [disabled]="disabled"
  (click)="doc.toggleSearchPane()"
>
  <span class="eui-icon eui-icon-search"></span>
</button>

<button
  euiButton
  euiIconButton
  euiBasicButton
  euiRounded
  euiSizeS
  [title]="'page.editor.reload-button.tooltip' | translate"
  [attr.aria-label]="'page.editor.reload-button.tooltip' | translate"
  [disabled]="disabled"
  (click)="doc.reloadDocument()"
>
  <span class="eui-icon eui-icon-refresh"></span>
</button>
