<span euiLabel euiWarning *ngIf="shouldReloadAfterUpdate">{{
  'page.editor.action-toolbar.document-updated' | translate
}}</span>
<button
  euiButton
  euiIconButton
  euiSecondary
  euiSizeS
  euiOutline
  [title]="'page.editor.search-button.tooltip' | translate"
  [attr.aria-label]="'page.editor.search-button.tooltip' | translate"
  (click)="doc.toggleSearchPane()"
>
  <span class="eui-icon eui-icon-search"></span>
</button>

<button
  euiButton
  euiIconButton
  euiSecondary
  euiOutline
  euiSizeS
  [title]="'page.editor.reload-button.tooltip' | translate"
  [attr.aria-label]="'page.editor.reload-button.tooltip' | translate"
  (click)="doc.reloadDocument()"
>
  <span class="eui-icon eui-icon-refresh"></span>
</button>
