<eui-dialog
  #milestoneAnnotationWarningModal
  isDraggable
  isClosedOnClickOutside
  [isHandleCloseOnDismiss]="true"
  [isHandleCloseOnEscape]="true"
  [isHandleCloseOnClose]="true"
  (clickOutside)="close()"
  (dismiss)="close()"
  (escape)="close()"
  (close)="close()"
>
  <eui-dialog-header>
    <div class="annotation-modal-header">
      <h5 class="eui-dialog__header-title">
        {{
          'page.collection.milestones.annotation-warning-modal.title'
            | translate
        }}
      </h5>
      <button
        type="button"
        class="eui-button eui-button--basic eui-button--icon-only eui-button--rounded eui-button--size-s ng-star-inserted"
      >
        <span class="eui-button__container">
          <span class="eui-icon eui-icon-close-m"></span
        ></span>
      </button>
    </div>
  </eui-dialog-header>
  <p>
    {{ 'page.collection.milestones.annotation-warning-modal.text' | translate }}
  </p>
  <eui-dialog-footer>
    <div class="d-flex flex-row justify-content-end">
      <button
        type="button"
        class="eui-u-mr-xs"
        euiButton
        euiSecondary
        (click)="close()"
      >
        {{ 'global.actions.cancel' | translate }}
      </button>
      <button type="button" euiButton euiPrimary (click)="onAccept()">
        {{
          'page.collection.milestones.table.add-milestone-dialog.create'
            | translate
        }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
