<configuration debug="false" scan="false">

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <logger level="ALL" name="eu.europa.ec.leos"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>