<div class="eui-u-flex eui-u-flex-column app-u-gap-m">
  <app-versions-pane-group
    class="eui-u-display-block eui-u-width-100"
    [subVersions]="(doc.recentChanges$ | async) ?? []"
  ></app-versions-pane-group>
  <ng-container *ngFor="let version of versions; trackByProperty: 'cmisVersionNumber'">
    <ng-container *ngIf="!isVersionArchived(version)">
      <app-versions-pane-group
        class="eui-u-display-block eui-u-width-100"
        [majorVersion]="version"
        [subVersions]="version.subVersions ?? []"
        (exploreMilestone)="exploreMilestone.emit($event)"
      ></app-versions-pane-group>
    </ng-container>
  </ng-container>
  <eui-card-content *ngIf="hasMore">
    <button
      class="eui-u-pv-none eui-u-pl-none eui-u-pr-xs"
      euiButton
      euiSizeS
      euiBasicButton
      euiSecondary
      (click)="toggleShowMore()"
    >
      <eui-icon-svg
        icon="chevron-down"
        set="sharp"
        size="s"
        fillColor="primary-100"
      ></eui-icon-svg>
      <span class="eui-u-ml-2xs" euiLabel>{{ showMoreLabel }}</span>
    </button>
  </eui-card-content>
</div>
