<div class="toc-container">
  <div id="treeContainer" class="tree-container" cdkScrollable>
    <mat-tree
      id="tree"
      cdkDropList
      #tree="cdkDropList"
      [dataSource]="dataSource"
      [treeControl]="treeControl"
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListSortingDisabled]="true"
      [cdkDropListDisabled]="!isEdit"
    >
      <mat-nested-tree-node
        cdkScrollable
        [hidden]="!node.tocItem.display"
        (cdkDragMoved)="dragMoved($event)"
        [attr.data-id]="node.id"
        *matTreeNodeDef="let node"
        cdkDrag
        cdkDropList
        matTreeNodePadding
        [cdkDragData]="node"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListSortingDisabled]="true"
        [cdkDropListDisabled]="!isEdit || !node.tocItem.draggable"
      >
        <div class="drop-placeholder"></div>
        <li class="node-li">
          <div class="mat-tree-node">
            <div
              #label
              [class]="'label' + ' ' + node.tocStyling"
              (click)="hanldeNodeSelect(node)"
              [innerHTML]="node.label"
              euiTooltip="{{ isLabelTextTruncated(label) ? node.label : null }}"
            ></div>
            <app-node-toc-actions
              [isEditMode]="isEdit"
              [isNodeSelectedToMove]="selectedNodeToMove !== null"
              [node]="node"
              (handleMove)="handleMove(node)"
              (handlePlaceAt)="handlePlaceAt(node, $event)"
              (handleCancelMove)="handleCancelMove()"
            >
            </app-node-toc-actions>
          </div>
        </li>
        <div class="drop-placeholder"></div>
      </mat-nested-tree-node>
      <mat-nested-tree-node
        cdkScrollable
        [hidden]="!node.tocItem.display"
        *matTreeNodeDef="let node; when: hasChildren"
        cdkDrag
        cdkDropList
        matTreeNodePadding
        [attr.data-id]="node.id"
        [cdkDragData]="node"
        (cdkDragMoved)="dragMoved($event)"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListSortingDisabled]="true"
        [cdkDropListDisabled]="!isEdit"
      >
        <div class="drop-placeholder"></div>
        <li>
          <div class="mat-tree-node">
            <eui-icon
              euiSizeS
              *ngIf="!treeControl.isExpanded(node)"
              iconClass="eui-icon-angle-right"
              (click)="nodeExpanded(node)"
            ></eui-icon>
            <eui-icon
              euiSizeS
              *ngIf="treeControl.isExpanded(node)"
              iconClass="eui-icon eui-icon-angle-down"
              (click)="nodeCollapsed(node)"
            ></eui-icon>
            <div
              #labelExt
              [class]="'label-extended' + ' ' + node.tocStyling"
              (click)="hanldeNodeSelect(node)"
              [innerHTML]="node.label"
              euiTooltip="{{
                isLabelTextTruncated(labelExt) ? node.label : null
              }}"
            ></div>
            <app-node-toc-actions
              [isEditMode]="isEdit"
              [isNodeSelectedToMove]="selectedNodeToMove !== null"
              [node]="node"
              (handleMove)="handleMove(node)"
              (handlePlaceAt)="handlePlaceAt(node, $event)"
              (handleCancelMove)="handleCancelMove()"
            >
            </app-node-toc-actions>
          </div>
          <ul class="">
            <div *ngIf="treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </div>
          </ul>
        </li>
        <div class="drop-placeholder"></div>
      </mat-nested-tree-node>
    </mat-tree>
  </div>

  <!-- validation message -->
  <div class="d-flex flex-column p-2 eui-u-font-s" *ngIf="isEdit">
    <span
      euiLabel
      [euiDanger]="!isDropValid"
      [euiSuccess]="isDropValid"
      euiSizeL
      class="text-wrap"
      [innerHTML]="messageFromValidation"
    >
    </span>
  </div>
  <!-- selected element show -->
  <div class="d-flex flex-column eui-u-font-s" *ngIf="isEdit && selectedNode">
    <app-toc-editor
      [documentType]="documentType"
      [toc]="this.treeControl.dataNodes"
      [tocItems]="tocItems"
      [selectedNode]="selectedNode"
      [documentConfig]="documentConfig"
      (handleTocRemove)="hanldeTocRemove()"
      (handleNodeChangesEvent)="handleNodeChanges($event)"
      (handleInvalidNodes)="handleInvalidNodes($event)"
    ></app-toc-editor>
  </div>
</div>
