@import 'node_modules/@eui/styles-base/src/styles/base';
@import 'node_modules/@eui/styles/src/styles/02-base/mixins/eui-scrollbars';

:host ::ng-deep {
  .toc-container {
    display: flex;
    flex-direction: column;
    font-size: 10px !important;
  }

  @include eui-scrollbars();

  .eui-label {
    white-space: normal;
  }
}

.tree-container {
  overflow: auto;
  @include eui-scrollbars();
}

.selected-node {
  background-color: #7bd2f6 !important;
  border-radius: 2rem;
  max-width: fit-content;
}

.label {
  font-size: var(--eui-base-font-size-s) !important;
  white-space: nowrap;
}

.label-extended {
  font-size: var(--eui-base-font-size-s) !important;
  text-align: center;
  white-space: nowrap;
}

mat-tree {
  background-color: transparent !important;
}

mat-nested-tree-node {
  max-width: inherit;
}

.mat-tree-node {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-height: 24px !important;
}

.eui-dropdown {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border-width: 0 0 1px 1px;
  position: relative;
}

li ul {
  margin-left: -40px;
  padding-left: 60px;
}

.mat-nested-tree-node:last-child ul {
  margin-left: -41px;
}

.drop-as_children {
  border: 1px solid var(--eui-base-color-primary-120);
  border-radius: 2rem;
  max-width: fit-content;
}

.drop-before {
  border-radius: 2rem;
  border-top: 1px solid var(--eui-base-color-primary);
  max-width: fit-content;
}

.drop-after {
  border-bottom: 1px solid var(--eui-base-color-primary);
  border-radius: 2rem;
  max-width: fit-content;
}

.drop-as_children-invalid {
  border: 1px solid var(--eui-base-color-danger);
  border-radius: 2rem;
  max-width: fit-content;
  position: relative;
  transition: all 1s;
}

.drop-after-invalid {
  border-bottom: 1px solid var(--eui-base-color-danger);
  border-radius: 2rem;
  max-width: fit-content;
  transition: all 1s;
}

.drop-before-invalid {
  border-radius: 2rem;
  border-top: 1px solid var(--eui-base-color-danger);
  max-width: fit-content;
  transition: all 1s;
}

.invalid-node {
  color: var(--eui-base-color-danger);
}
