<table
  class="eui-u-mt-m"
  euiTable
  euiTableResponsive
  [rows]="exportDocuments ?? []"
>
  <ng-template euiTemplate="header">
    <tr>
      <th>
        {{ 'page.collection.drafts.exports.table.title' | translate }}
      </th>
      <th>
        {{ 'page.collection.drafts.exports.table.date' | translate }}
      </th>
      <th>
        {{ 'page.collection.drafts.exports.table.status' | translate }}
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template let-row euiTemplate="body">
    <tr>
      <td class="d-flex flex-column">
        <span euiLabel>{{ row.comments[0] }}</span>
        <span euiSublabel class="mt-2 ml-2" euiLabel>{{
          row.comments[1]
        }}</span>
        <span euiSublabel class="mt-2 ml-4" euiLabel>{{
          row.comments[2]
        }}</span>
      </td>
      <td>{{ row.date | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ row.status }}</td>
      <td>
        <eui-dropdown>
          <button
            euiButton
            euiRounded
            euiIconButton
            euiBasicButton
            euiSecondary
            euiTooltip="Menu"
            [attr.aria-label]="'Menu'"
          >
            <span euiIcon iconClass="eui-icon eui-icon-more-vertical"></span>
          </button>
          <eui-dropdown-content>
            <div euiList>
              <ng-container>
                <button
                  euiListItem
                  class="p-2"
                  (click)="openEditExportDialog(row)"
                >
                  {{ 'page.collection.exports.table.actions.edit' | translate }}
                </button>

                <eui-dialog
                  #editTitleExport
                  [title]="
                    'page.collection.exports.table.dialog.edit-title.title'
                      | translate
                  "
                >
                  <div euiInputGroup class="flex-row align-items-center">
                    <label class="label">
                      {{
                        'page.collection.drafts.annex.title-dialog.label'
                          | translate
                      }}</label
                    >
                    <input euiInputText [(ngModel)]="titleToEdit" />
                  </div>
                  <eui-dialog-footer>
                    <div class="app-dialog-footer-content">
                      <button
                        euiButton
                        euiSecondary
                        (click)="closeEditExportDialog()"
                      >
                        {{
                          'page.collection.drafts.annex.title-dialog.cancel'
                            | translate
                        }}
                      </button>
                      <button
                        euiButton
                        euiPrimary
                        class="save-button"
                        (click)="handleTitleChange(row)"
                      >
                        <span>{{
                          'page.collection.drafts.annex.title-dialog.save'
                            | translate
                        }}</span>
                      </button>
                    </div>
                  </eui-dialog-footer>
                </eui-dialog>
              </ng-container>
              <button
                euiListItem
                class="p-2"
                (click)="handleNotifyExport(row.id)"
              >
                {{
                  'page.collection.exports.table.actions.re-export' | translate
                }}
              </button>
              <button
                euiListItem
                class="p-2"
                (click)="handlePreviewExport(row.id)"
              >
                {{
                  'page.collection.exports.table.actions.preview' | translate
                }}
              </button>
              <button
                euiListItem
                euiDanger
                class="p-2"
                (click)="handleDeleteExport(row)"
              >
                {{ 'global.actions.delete' | translate }}
              </button>
            </div>
          </eui-dropdown-content>
        </eui-dropdown>
      </td>
    </tr>
  </ng-template>
</table>

<app-confirm-delete-dialog
  #confirmationForDelete
  [title]="
    this.translateService.instant(
      'page.collection.exports.table.actions.delete-dialog.title'
    )
  "
  [description]="
    this.translateService.instant(
      'page.collection.exports.table.actions.delete-dialog.description'
    )
  "
  (confirmDeletion)="hanldeConfirmationDelete()"
></app-confirm-delete-dialog>
