<header class="eui-u-flex eui-u-flex-align-items-start eui-u-mb-xs">
  <h1 class="flex-grow-1 eui-u-font-2xl">
    {{ nonEditablePartOfTitle }} {{ editableTitle }}
  </h1>

  <app-proposal-actions-dropdown
    [proposalState]="this.proposalState"
    [permissions]="permissions"
    [nonEditablePartOfTitle]="nonEditablePartOfTitle"
    [editableTitle]="editableTitle"
    [isClonedProposal]="isClonedProposal"
    [originRef]="originRef"
    class="eui-u-ml-s"
  ></app-proposal-actions-dropdown>
  <button
    class="eui-u-ml-s"
    euiButton
    euiSizeS
    euiPrimary
    translate="global.actions.close"
    *ngIf="collectionCloseButtonEnabled"
    (click)="handleClose()"
  ></button>
</header>
<header
  *ngIf="isClonedProposal"
  class="eui-u-flex eui-u-flex-align-items-start eui-u-mb-l"
>
  <eui-chip euiSize2XL class="eui-u-mr-2xs eui-u-mb-2xs">
    <span euiLabel>{{
      'page.collection.proposal-header.contribution' | translate
    }}</span>
  </eui-chip>
  <eui-chip *ngIf="originRef" euiSize2XL class="eui-u-mr-2xs eui-u-mb-2xs">
    <span euiLabel>{{ originRef }}</span>
  </eui-chip>
</header>
