<form [formGroup]="createForm">
  <header class="eui-u-flex eui-u-flex-align-items-start eui-u-mb-l">
    <h1 class="flex-grow-1 eui-u-font-2xl">
      {{ nonEditablePartOfTitle }} {{ editableTitle }}
    </h1>

    <ng-container *appUserHasPermission="['CAN_UPDATE']">
      <button
        euiButton
        euiSizeS
        euiOutline
        euiPrimary
        class="eui-u-ml-s"
        (click)="handleEdit()"
      >
        {{ 'page.collection.proposal-header.edit' | translate }}
      </button>
    </ng-container>

    <eui-dialog
      #editTitle
      [title]="
        'page.collection.proposal-header.edit-title-dialog.title' | translate
      "
    >
      <div euiInputGroup class="flex-row">
        <label class="label">
          {{
            'page.collection.proposal-header.edit-title-dialog.label'
              | translate
          }}</label
        >
        <div class="d-flex flex-wrap">
          <span>{{ nonEditablePartOfTitle }}</span>
          <input
            euiInputText
            [(ngModel)]="title"
            formControlName="docPurpose"
          />
        </div>
      </div>
      <eui-dialog-footer>
        <div class="d-flex flex-row justify-content-end">
          <button euiButton euiSecondary (click)="handleClose()">
            {{ 'global.actions.cancel' | translate }}
          </button>
          <button
            euiButton
            euiPrimary
            (click)="handleSave()"
            [disabled]="!isFormValid()"
            class="save-button"
          >
            {{ 'global.actions.save' | translate }}
          </button>
        </div>
      </eui-dialog-footer>
    </eui-dialog>

    <app-proposal-actions-dropdown
      class="eui-u-ml-s"
    ></app-proposal-actions-dropdown>
  </header>
</form>
