@import 'node_modules/@eui/styles-base/src/styles/02-base/functions/utils';
@import 'node_modules/@eui/styles/src/styles/02-base/mixins/eui-scrollbars';

:host {
  display: flex;
  flex: 1 1 0; // take all available space but use scrollbars when necessary
  overflow: auto;
  width: 100%;
  @include eui-scrollbars();
}

:host ::ng-deep {
  $border: 1px solid black;

  akomantoso {
    margin-left: auto;
    margin-right: auto;
  }

  akomantoso > * {
    padding: 1px;
  }

  akomantoso > * > {
    * {
      border-left: $border;
      border-right: $border;
    }

    :first-child,
    coverpage + * {
      border-top: $border;
    }

    :last-child,
    coverpage {
      border-bottom: $border;
    }
  }
}
