<div
  euiInputGroup
  *ngIf="!item.isSlider"
  [id]="item.id"
  [ngClass]="item.cssClasses"
  class="eui-u-flex eui-u-flex-row eui-u-p-none flex-nowrap eui-u-flex-justify-content-between"
>
  <label euiLabel euiSize2XS>{{ itemLabelValue }}</label>
  <!--[euiVariant]="item.euiStyle"
    [euiSizeVariant]="item.euiSize"
    [disabled]="item.disabled"
    -->
  <input
    type="checkbox"
    euiInputCheckBox
    [checked]="checkboxValue"
    (change)="onChange()"
  />
</div>
<div
  *ngIf="item.isSlider"
  class="eui-u-flex eui-u-flex-row eui-u-p-none flex-nowrap"
  [ngClass]="item.cssClasses"
>
  <eui-slide-toggle
    euiResponsive
    euiSizeS
    [disabled]="isItemDisabled"
    [isChecked]="checkboxValue"
    (slideToggleChange)="onChange()"
    [ngClass]="{
      'align-self-start': !environmentService.isCouncil()
    }"
  ></eui-slide-toggle>
  <div euiLabel>{{ item.label }}</div>
</div>
