@import 'node_modules/@eui/styles-base/src/styles/02-base/functions/utils';
@import 'node_modules/@eui/styles/src/styles/02-base/mixins/eui-scrollbars';

:host {
  align-items: center;
  display: flex;
  flex: 1 1 0; // take all available space but use scrollbars when necessary
  flex-direction: column;
  overflow: auto;
  width: 100%;
  @include eui-scrollbars();
}
