<ng-container class="mr-2">
  <div class="d-flex flex-wrap" *ngIf="isEditMode">
    <button
      euiButton
      euiBasicButton
      euiSizeS
      class="p-0"
      (click)="onExpandAll()"
    >
      <span
        *ngIf="isEditMode"
        [euiTooltip]="getTooltipForToggleTree()"
        [position]="'right'"
        class="eui-icon eui-icon-sitemap"
      ></span>
    </button>
    <!-- Undo -->
    <span
      *ngIf="!isUndoDisabled"
      [euiTooltip]="'global.actions.undo' | translate"
    >
      <button
        euiButton
        euiBasicButton
        class="p-0"
        euiSizeS
        [euiTooltip]="'global.actions.undo' | translate"
        [disabled]="isUndoDisabled"
        (click)="onUndo()"
      >
        <div class="d-flex flex-row">
          <eui-icon euiSizeS iconClass="eui-icon-undo"></eui-icon>
        </div>
      </button>
    </span>
    <!-- Save -->
    <span
      *ngIf="!isSaveDisabled"
      [euiTooltip]="'global.actions.save' | translate"
    >
      <button
        euiButton
        euiBasicButton
        class="p-0"
        euiSizeS
        [euiTooltip]="'global.actions.save' | translate"
        [disabled]="isSaveDisabled"
        (click)="onSave()"
      >
        <img src="assets/images/toc-save.png" alt="" />
      </button>
    </span>
    <!-- Save and close -->
    <span
      *ngIf="!isSaveDisabled"
      [euiTooltip]="'global.actions.save-close' | translate"
    >
      <button
        euiButton
        euiBasicButton
        class="p-0"
        euiSizeS
        [euiTooltip]="'global.actions.save-close' | translate"
        [disabled]="isSaveDisabled"
        (click)="onSaveAndClose()"
      >
        <img src="assets/images/toc-save-close.png" alt="" />
      </button>
    </span>
    <!-- Cancel -->
    <button
      euiButton
      euiSizeS
      [euiTooltip]="'global.actions.cancel' | translate"
      euiBasicButton
      class="p-0"
      (click)="onCancel()"
    >
      <span class="eui-icon eui-icon-times"></span>
    </button>
  </div>
</ng-container>
