@import 'changePane';

@mixin coverpageView {
  .leos-coverpage-view {
    .close-button {
      border: 1px solid $G_BORDER_COLOR;
      float: right;
      font-weight: normal;

      .v-icon {
        color: #b92222;
      }
    }

    .leos-coverpageview-title {
      font-size: 16px;
    }

    .leos-coverpageview-icon {
      color: $G_ORANGE_COLOR;
      font-family: Vaadin-Icons;
      font-size: 32px;
      padding-left: 5px;
    }

    .leos-padbar {
      border-bottom: 1px solid $G_BORDER_COLOR;
    }

    @include changePane('doc');
  }
}
