<eui-wizard
        (selectStep)="onSelectStepRemoteNav($event)"
        [activeStepIndex]="currentStepIndex"
        [isNavigationAllowed]="isNavigationAllowed"
>
    <eui-wizard-step
            [label]="
        (environmentService.isCouncil()
          ? 'page.workspace.upload-cn.label'
          : 'page.workspace.upload.label'
        ) | translate
      "
            [isCompleted]="step1Complete"
            class="eui-u-font-l eui-u-color-grey-90"
            style="margin: 1rem;"
    >
            <form [formGroup]="uploadForm" enctype="multipart/form-data">
                <span class="eui-u-font-m"
                >{{ 'page.workspace.upload-cn.button.label' | translate }}</span>
                <eui-file-upload
                    #uploadFile
                    formControlName="legFile"
                    [progress]="progress"
                    [isMultiple]="false"
                    [accept]="'.leg'"
                    (fileDrop)="onDrop()"
                    [hasResetButton]="false"
                ></eui-file-upload>
            </form>
            <div>
                <button
                        euiButton
                        euiSecondary
                        (click)="resetInitials()"
                        *ngIf="showResetButton()"
                        class="my-3"
                >
                    {{ 'global.actions.reset' | translate }}
                </button>
            </div>
            <eui-card *ngIf="errorsVO">
                <eui-card-header
                >
                    <eui-card-header-title>
              <span
              >Filename: {{ fileName }} not valid</span
              ></eui-card-header-title
                    >
                </eui-card-header
                >
                <eui-card-content>
                    <div class="" *ngFor="let error of errorsVO">
              <span class=""
              >{{ error.objects[0] }} - {{ error.objects[1] }}</span
              >
                    </div>
                </eui-card-content>
            </eui-card>
    </eui-wizard-step>
    <eui-wizard-step
            [label]="
        (environmentService.isCouncil()
          ? 'page.workspace.create-form.draft.label'
          : 'page.workspace.create-form.document.label'
        ) | translate
      "
            [isCompleted]="uploadForm.valid"
            style="padding-top: 0px !important"
    >
            <app-proposal-create-form
                    [createForm]="uploadForm"
                    [translationKey]="
            (environmentService.isCouncil() ? 'draft' : 'document') | translate
          "
            ></app-proposal-create-form
            >
    </eui-wizard-step>
</eui-wizard>

<div class="app-dialog-footer-content">
    <button euiButton (click)="closeDialog()">
        {{ 'global.actions.cancel' | translate }}
    </button>
    <button
            euiButton
            type="button"
            [disabled]="currentStepIndex === 1 || !isNavigationAllowed"
            (click)="onNavigation(-1)"
    >
        <eui-icon-svg icon="eui-chevron-back"></eui-icon-svg>
        <span euiLabel>
          {{ 'global.actions.previous' | translate }}
        </span>
    </button>
    <button
            euiButton
            type="button"
            [disabled]="currentStepIndex === stepsCount || !isNavigationAllowed"
            (click)="onNavigation(+1)"
            [hidden]="showCreateHideNext()"
    >
        <span euiLabel>
          {{ 'global.actions.next' | translate }}
        </span>
        <span class="eui-icon eui-icon-chevron-right"></span>
    </button>
    <button
            [hidden]="!showCreateHideNext()"
            [disabled]="!isFormValid()"
            euiButton
            euiPrimary
            (click)="onCreate()"
    >
        {{ 'global.actions.create' | translate }}
    </button>
</div>
