<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false" scan="true" scanPeriod="5 minutes">
    <!-- Ignore or print logback internal status messages on the console -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <!-- Propagate changes to logging level onto the java.util.logging framework. -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- Windows-specific configuration -->
    <property name="leos.log.contextName" value="${leos.log.contextName:-repository-app}" />
    <property name="leos.log.path" value="${leos.log.path:-D:/Users/candref/logs}" />
    <property name="leos.log.filePrefix" value="${leos.log.filePrefix:-repository}" />
    <property name="leos.log.level" value="${leos.log.level:-INFO}" />

    <contextName>${leos.log.contextName}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] [${leos.log.contextName}] %logger{36} .%M:%L - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${leos.log.path}/${leos.log.filePrefix}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${leos.log.path}/${leos.log.filePrefix}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 15 days' worth of history -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [${leos.log.contextName}] %logger{36} .%M:%L - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <!-- Application-specific loggers -->
    <logger name="eu.europa.ec.digit.leos" level="${leos.log.level}"/>
    <logger name="eu.europa.ec.leos.repository" level="DEBUG"/>
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="org.springframework.boot" level="INFO"/>
    <logger name="freemarker" level="WARN"/>

    <root level="${leos.log.level}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>