<eui-dialog
  #dialog
  [title]="'page.collection.milestone-view-dialog.title' | translate"
  width="calc(100vw - 2rem)"
  height="calc(100vh - 2rem - 50px - 70px)"
  [hasAcceptButton]="false"
  [dismissLabel]="'global.actions.close' | translate"
  (dismiss)="close()"
  (close)="close()"
  [isClosedOnEscape]="false"
  hasNoBodyPadding
>
  <div class="milestone-view-dialog__body">
    <!-- Description -->
    <div
      class="eui-u-mb-xl"
      [innerHTML]="
        'page.collection.milestone-view-dialog.description'
          | translate
            : {
                date: milestone.createdDate,
                user: (milestone.createdBy | escapeHtml),
                type: (milestone.title | escapeHtml)
              }
      "
    ></div>

    <div class="eui-u-p-absolute export-accept-reject-div">
      <div *ngIf="shouldDisplayButtons()" class="accept-reject-div" style="margin-right: 50px;">
        <button euiButton euiSizeS euiPrimary
                [euiDisabled]="shouldDisableButtons()"
                class="accept-reject-button"
                (click)="this.handleAcceptReject(documents[this.activeTabIndex], true)"
        >
          {{ 'page.collection.milestone-view-dialog.accept-button' | translate }}
        </button>
        <button euiButton euiSizeS euiPrimary
                [euiDisabled]="shouldDisableButtons()"
                class="accept-reject-button"
                (click)="handleAcceptReject(documents[this.activeTabIndex], false)">
          {{ 'page.collection.milestone-view-dialog.reject-button' | translate }}
        </button>
      </div>

      <div *ngIf="showPdfExport">
        <button euiButton (click)="exportPdf()" euiSizeS euiPrimary>
          {{ 'page.collection.milestone-view-dialog.export-button' | translate }}
        </button>
      </div>
    </div>

    <!-- Tabs -->
    <eui-tabs *ngIf="isOpened" (tabSelect)="onTabSelected($event)">
      <eui-tab *ngFor="let doc of documents; let tabIndex = index"
               hasBackgroundFilled
               [euiPrimary]="(doc.state === 'Accepted_Deleted' || doc.state === 'Accepted_Added')"
               [euiSecondary]="(doc.state === 'Rejected_Deleted' || doc.state === 'Rejected_Added')"
               [euiSuccess]="(doc.state === 'Added' || doc.state === 'Accepted_Added' || doc.state === 'Rejected_Added')"
               [euiWarning]="doc.state === 'Modified'"
               [euiDanger]="(doc.state === 'Deleted' || doc.state === 'Accepted_Deleted' || doc.state === 'Rejected_Deleted')"
               [euiAccent]="doc.selected === true"
          >
        <eui-tab-label>
          <div [title]="getIconTabHelp(doc.state)">
            {{ doc.label }}
            <small class="eui-u-font-regular"> [{{ doc.version }}] </small>
            <eui-icon-svg
              class="tab-icon"
              *ngIf="(doc.state === 'Rejected_Deleted' || doc.state === 'Rejected_Added') && !this.parentClonedProposal"
              size="s"
              icon="eui-close">
            </eui-icon-svg>
            <eui-icon-svg
              class="tab-icon"
              *ngIf="(doc.state === 'Accepted_Deleted' || doc.state === 'Accepted_Added') && !this.parentClonedProposal"
              size="s"
              icon="eui-check">
            </eui-icon-svg>
          </div>
        </eui-tab-label>
        <eui-tab-content *ngIf="activeTabIndex === tabIndex">
          <eui-page>
            <eui-page-content>
              <eui-page-columns>
                <!-- TOC -->
                <eui-page-column
                  #tocPane
                  class="toc-pane"
                  [label]="'page.editor.toc-pane.label' | translate"
                  isCollapsible
                  (collapsed)="onToggleTocPaneCollapsed()"

                  style="flex-basis: 400px"
                >
                  <eui-page-column-body>
                    <app-milestone-toc [toc]="doc.tocData"></app-milestone-toc>
                  </eui-page-column-body>
                </eui-page-column>

                <app-resize-handle
                  [leftEl]="tocPaneElement?.nativeElement"
                  [rightEl]="documentPaneElement?.nativeElement"
                  *ngIf="!isTocPaneCollapsed"
                ></app-resize-handle>

                <!-- Document -->
                <eui-page-column
                  #documentPane
                  class="eui-u-p-none eui-page-column--no-scrollbars document-pane"
                >
                  <eui-page-column-body
                    class="eui-u-flex eui-u-flex-column eui-u-flex-align-items-center eui-u-flex-grow"
                  >
                    <app-akn-document
                      [containerId]="containerId + '_' + doc.ref"
                      [docId]="doc.ref"
                      containerClass="leos-doc-content"
                      [documentType]="doc.type"
                      [xml]="doc.xml"
                    ></app-akn-document>
                  </eui-page-column-body>
                </eui-page-column>

                <app-resize-handle
                  [leftEl]="documentPaneElement?.nativeElement"
                  [rightEl]="annotationsPaneElement?.nativeElement"
                  *ngIf="!isAnnotationsPaneCollapsed"
                ></app-resize-handle>

                <!-- Annotations -->
                <eui-page-column
                  #annotationsPane
                  class="eui-page-column--right-column annotations-pane"
                  [label]="'page.editor.annotations-pane.label' | translate"
                  isCollapsible
                  (collapsed)="onToggleAnnotationsPaneCollapsed()"

                  style="flex-basis: 580px"
                >
                  <eui-page-column-body class="eui-u-flex-grow">
                    <app-document-annotations
                      [documentId]="doc.ref"
                      [containerId]="containerId + '_' + doc.ref"
                      [proposalRef]="milestone.proposalRef"
                      [permissions]="documentService.permissions$ | async"
                      [showGuideLinesButton]="false"
                      [operationMode]="milestone.clone || parentClonedProposal ? 'STORED_READ_ONLY' : 'READ_ONLY'"
                      canvasClass="leos-guideline-canvas--above-modals"
                    ></app-document-annotations>
                  </eui-page-column-body>
                </eui-page-column>
              </eui-page-columns>
            </eui-page-content>
          </eui-page>
        </eui-tab-content>
      </eui-tab>
    </eui-tabs>
  </div>
  <eui-dialog-footer>
    <div class="eui-dialog__footer-content responsive-chip-list">
      <span class="eui-legends">{{ 'page.collection.milestone-view-dialog.legend' | translate }}: </span>
      <eui-chip-list class="responsive-chip-list">
        <eui-chip euiDanger><span euiLabel>{{ 'page.collection.milestone-view-dialog.deleted' | translate }}</span></eui-chip>
        <eui-chip euiSuccess><span euiLabel>{{ 'page.collection.milestone-view-dialog.added' | translate }}</span></eui-chip>
        <eui-chip euiWarning><span euiLabel>{{ 'page.collection.milestone-view-dialog.updated' | translate }}</span></eui-chip>
      </eui-chip-list>
    </div>

    <div class="eui-dialog__footer-content">
      <button class="eui-button" (click)="close()">
        <span class="eui-button__container">
          {{ 'global.actions.close' | translate }}
        </span>
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>

<!-- DIALOG: CONFIRM ANNEX DELETE -->
<app-confirm-delete-dialog
  #confirmationForDelete
  [title]="'page.collection.drafts.annex.delete-dialog.title' | translate"
  [description]="'page.collection.drafts.annex.delete-dialog.desc' | translate"
  (confirmDeletion)="this.doAccept()"
></app-confirm-delete-dialog>
