<eui-dialog
  #dialog
  [title]="'page.collection.milestone-view-dialog.title' | translate"
  width="calc(100vw - 2rem)"
  height="calc(100vh - 2rem - 50px - 70px)"
  [hasAcceptButton]="false"
  [dismissLabel]="'global.actions.close' | translate"
  (dismiss)="close()"
  (close)="close()"
  [isClosedOnEscape]="false"
  hasNoBodyPadding
>
  <div class="milestone-view-dialog__body">
    <!-- Description -->
    <div
      class="eui-u-mb-xl"
      [innerHTML]="
        'page.collection.milestone-view-dialog.description'
          | translate
            : {
                date: milestone.createdDate,
                user: (milestone.createdBy | escapeHtml),
                type: (milestone.title | escapeHtml)
              }
      "
    ></div>

    <div class="eui-u-p-absolute export-button" *ngIf="showPdfExport">
      <button euiButton (click)="exportPdf()" euiSizeS euiPrimary>
        {{ 'page.collection.milestone-view-dialog.export-button' | translate }}
      </button>
    </div>

    <div class="eui-u-p-absolute accept-reject-button">
      <button euiButton euiSizeS euiPrimary>
          {{ 'page.collection.milestone-view-dialog.accept-button' | translate }}
      </button>
      <button euiButton euiSizeS euiPrimary>
        {{ 'page.collection.milestone-view-dialog.reject-button' | translate }}
      </button>
    </div>

    <!-- Tabs -->
    <eui-tabs (tabSelect)="onTabSelected($event)">
      <eui-tab *ngFor="let doc of documents; let tabIndex = index" hasBackgroundFilled
               [euiSecondary]="doc.state === 'Processed'"
               [euiSuccess]="doc.state === 'Added'"
               [euiWarning]="doc.state === 'Modified'"
               [euiDanger]="doc.state === 'Deleted'">
        <eui-tab-label>{{ doc.label }}
          <small class="eui-u-font-regular"> [{{ doc.version }}] </small>
        </eui-tab-label>
        <eui-tab-content *ngIf="activeTabIndex === tabIndex">
          <eui-page>
            <eui-page-content>
              <eui-page-columns>
                <!-- TOC -->
                <eui-page-column
                  #tocPane
                  class="toc-pane"
                  [label]="'page.editor.toc-pane.label' | translate"
                  isCollapsible
                  (collapsed)="onToggleTocPaneCollapsed()"
                  interactiveScrollbars
                  style="flex-basis: 400px"
                >
                  <eui-page-column-body>
                    <app-milestone-toc [toc]="doc.tocData"></app-milestone-toc>
                  </eui-page-column-body>
                </eui-page-column>

                <app-resize-handle
                  [leftEl]="tocPaneElement?.nativeElement"
                  [rightEl]="documentPaneElement?.nativeElement"
                  *ngIf="!isTocPaneCollapsed"
                ></app-resize-handle>

                <!-- Document -->
                <eui-page-column
                  #documentPane
                  class="eui-u-p-none eui-page-column--no-scrollbars document-pane"
                  [interactiveScrollbars]="false"
                >
                  <eui-page-column-body
                    class="eui-u-flex eui-u-flex-column align-items-center flex-grow-1"
                  >
                    <app-akn-document
                      [containerId]="containerId + '_' + doc.ref"
                      containerClass="leos-doc-content"
                      [documentType]="doc.type"
                      [xml]="doc.xml"
                    ></app-akn-document>
                  </eui-page-column-body>
                </eui-page-column>

                <app-resize-handle
                  [leftEl]="documentPaneElement?.nativeElement"
                  [rightEl]="annotationsPaneElement?.nativeElement"
                  *ngIf="!isAnnotationsPaneCollapsed"
                ></app-resize-handle>

                <!-- Annotations -->
                <eui-page-column
                  #annotationsPane
                  class="eui-page-column--right-column annotations-pane"
                  [label]="'page.editor.annotations-pane.label' | translate"
                  isCollapsible
                  (collapsed)="onToggleAnnotationsPaneCollapsed()"
                  interactiveScrollbars
                  style="flex-basis: 580px"
                >
                  <eui-page-column-body class="flex-grow-1">
                    <app-document-annotations
                      [documentId]="doc.ref"
                      [containerId]="containerId + '_' + doc.ref"
                      [proposalRef]="milestone.proposalRef"
                      [permissions]="documentService.permissions$ | async"
                      [showGuideLinesButton]="false"
                      operationMode="READ_ONLY"
                      canvasClass="leos-guideline-canvas--above-modals"
                    ></app-document-annotations>
                  </eui-page-column-body>
                </eui-page-column>
              </eui-page-columns>
            </eui-page-content>
          </eui-page>
        </eui-tab-content>
      </eui-tab>
    </eui-tabs>
  </div>
  <eui-dialog-footer>
    <div class="eui-dialog__footer-content responsive-chip-list">
      <span class="eui-legends">Legend:</span>
      <eui-chip-list class="responsive-chip-list">
        <eui-chip euiDanger><span euiLabel>Deleted</span></eui-chip>
        <eui-chip euiSuccess><span euiLabel>Added</span></eui-chip>
        <eui-chip euiWarning><span euiLabel>Modified</span></eui-chip>
        <eui-chip euiSecondary><span euiLabel>Processed</span></eui-chip>
      </eui-chip-list>
    </div>

    <div class="eui-dialog__footer-content">
      <button class="eui-button" (click)="close()">
        <span class="eui-button__container">
          {{ 'global.actions.close' | translate }}
        </span>
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
