<div class="zoom-scrollbar-container">
  <div class="zoom-controls">
    <span class="eui-icon eui-icon-minus" (click)="zoomOut()"></span>
    <input
      type="range"
      class="zoom-range"
      [min]="minDisplayValue"
      [max]="maxDisplayValue"
      [value]="zoomLevel"
      (input)="onZoomChange($event)"
      (mousedown)="clearTextSelection()"
      step="1"
    />
    <span class="eui-icon eui-icon-add" (click)="zoomIn()"></span>
  </div>
  <span class="zoom-value">{{ zoomLevel | number : '1.0-0' }}%</span>
</div>
