<div class="zoom-scrollbar-container">
  <span class="zoom-value">
    {{ zoombarService.getZoomLevel(mainContainerId) | number : '1.0-0' }}%
  </span>
  <div class="zoom-track-and-symbols">
    <input
      class="zoom-range"
      type="range"
      orient="vertical"
      [min]="minDisplayValue"
      [max]="maxDisplayValue"
      [value]="zoombarService.getZoomLevel(mainContainerId)"
      (input)="onZoomChange($event)"
      (mousedown)="clearTextSelection()"
      style="height: 96px; width: 17px"
    />
    <div class="zoom-symbols">
      <span class="eui-icon eui-icon-add" (click)="zoomIn()"></span>
      <span class="eui-icon eui-icon-minus" (click)="zoomOut()"></span>
    </div>
  </div>
  <div>{{ 'page.editor.zoom' | translate }}</div>
</div>
