<div class="zoom-scrollbar-container">
  <span class="zoom-value">
    {{ zoombarService.getZoomLevel(mainContainerId) | number : '1.0-0' }}%
  </span>
  <div class="zoom-track-and-symbols">
    <input
      class="zoom-range"
      type="range"
      orient="vertical"
      [min]="minDisplayValue"
      [max]="maxDisplayValue"
      [value]="zoombarService.getZoomLevel(mainContainerId)"
      (input)="onZoomChange($event)"
      (mousedown)="clearTextSelection()"
      style="height: 96px; width: 17px"
    />
    <div class="zoom-symbols">
      <eui-icon-svg class="eui-icon-add" icon="eui-add" size="xs" (click)="zoomIn()"></eui-icon-svg>
      <eui-icon-svg class="eui-icon-minus" icon="eui-remove" size="xs" (click)="zoomOut()"></eui-icon-svg>
    </div>
  </div>
  <div>{{ 'page.editor.zoom' | translate }}</div>
</div>
