<eui-page *ngIf="loadDocument" euiNoContentPadding>
  <eui-page-breadcrumb euiNoContentPadding class="p-0">
    <eui-breadcrumb>
      <eui-breadcrumb-item
        *ngFor="let item of breadcrumbService.breadcrumbs$ | async"
        [id]="item.id"
        [link]="item.link"
        [label]="item.label"
      >
      </eui-breadcrumb-item>
    </eui-breadcrumb>
  </eui-page-breadcrumb>
  <eui-page-content
    [ngClass]="{
      'eui-page-content--blocked':
        blockDocumentEditorService.isDocumentEditorBlocked$ | async
    }"
  >
    <eui-page-column-header-collapsed-content>
      <!-- Search & Refresh -->
      <div class="eui-u-flex eui-u-flex-row justify-content-between">
        <h4
          class="subtitle eui-u-font-size-s flex-grow-1 eui-u-mh-xs text-left"
        >
          {{ pageSubTitle }}
        </h4>
        <button
          *ngIf="documentConfig?.proposalMetadata"
          class="eui-u-ml-xs eui-u-mr-xs"
          euiButton
          euiSizeS
          euiPrimary
          translate="global.actions.close"
          (click)="handleClose()"
        ></button>
      </div>
    </eui-page-column-header-collapsed-content>

    <eui-page-columns>
      <!-- ToC -->
      <eui-page-column
        #tocPane
        class="toc-pane"
        isCollapsible
        [isCollapsed]="documentService.navigationSidebarCollapsed$ | async"
        (collapsed)="documentService.toggleNavigationSidebar(!$event)"
        style="flex-basis: 400px"
      >
        <eui-page-column-body>
          <eui-fieldset
            class="eui-u-mt-s"
            label="{{ 'page.editor.navigation-pane.label' | translate }}"
            isExpandable
            [isExpanded]="isTocPaneExpanded"
            (expanded)="onTocPaneExpanded($event)"
          >
            <div class="d-flex flex-row align-items-center">
              <!-- Expand all -->
              <button
                euiButton
                euiBasicButton
                euiSizeS
                class=""
                *ngIf="!isEditMode"
                [euiTooltip]="
                  (isCollapseToc
                    ? 'page.editor.toc.toc-pane.actions.expandAll'
                    : 'page.editor.toc.toc-pane.actions.collapseAll'
                  ) | translate
                "
                [position]="'right'"
                (click)="expandAll()"
              >
                <span class="eui-icon eui-icon-sitemap"></span>
              </button>
              <!-- Co edition Indicator -->
              <div class="">
                <app-co-edition-info [isToc]="true"></app-co-edition-info>
              </div>
              <!-- Edit mode -->
              <button
                euiButton
                euiBasicButton
                euiSizeS
                class=""
                euiTooltip="{{
                  'page.editor.toc.toc-pane.actions.edit' | translate
                }}"
                [position]="'right'"
                (click)="handleEdit()"
                *ngIf="
                  !isEditMode &&
                  !['coverPage', 'memorandum', 'stat_financ_legis'].includes(
                    documentType
                  )
                "
              >
                <span class="eui-icon eui-icon-edit"></span>
              </button>
              <!-- Actions menu-->
              <app-toc-actions-buttons
                [isEditMode]="isEditMode"
                [isUndoDisabled]="disableUndoButton()"
                [isSaveDisabled]="disableSaveButton()"
                [isCollapseToc]="isCollapseToc"
                [isAnnotationsPaneCollapsed]="isAnnotationsPaneCollapsed"
                [isVersionsPaneCollapsed]="isVersionsPaneCollapsed"
                (handleExpandAll)="expandAll()"
                (handleUndo)="handleUndo()"
                (handleSave)="handleSave()"
                (handleCancel)="handleCancel()"
                (handleSaveAndClose)="handleSaveAndClose()"
              >
              </app-toc-actions-buttons>
            </div>
            <app-document-toc
              [isEditMode]="isEditMode"
              [tocItems]="tocItems"
              [documentType]="documentType"
              [documentRef]="documentRef"
              (reBuildTocItems)="onRebuildTocItems($event)"
            ></app-document-toc>
          </eui-fieldset>
          <!-- versions -->
          <hr />
          <eui-fieldset
            class="eui-u-mt-s"
            label="{{ 'page.editor.versions-pane.label' | translate }}"
            isExpandable
            [isExpanded]="isVersionsPaneExpanded"
            (expanded)="onVersionsPaneExpanded($event)"
          >
            <div class="eui-u-display-flex app-u-gap-m eui-u-mb-m">
              <button
                euiButton
                euiIconButton
                euiSecondary
                euiOutline
                euiSizeS
                [title]="
                  ((documentService.compareModeEnabled$ | async)
                    ? 'page.editor.versions.compare-button.tooltip-disable'
                    : 'page.editor.versions.compare-button.tooltip-enable'
                  ) | translate
                "
                [attr.aria-label]="
                  ((documentService.compareModeEnabled$ | async)
                    ? 'page.editor.versions.compare-button.tooltip-disable'
                    : 'page.editor.versions.compare-button.tooltip-enable'
                  ) | translate
                "
                (click)="toggleVersionComparisonView()"
              >
                <eui-icon-svg icon="documents"></eui-icon-svg>
              </button>

              <button
                euiButton
                euiIconButton
                euiSecondary
                euiOutline
                euiSizeS
                [title]="
                  ((documentService.versionSearchOpen$ | async)
                    ? 'page.editor.versions.search-button.tooltip-disable'
                    : 'page.editor.versions.search-button.tooltip-enable'
                  ) | translate
                "
                [attr.aria-label]="
                  ((documentService.versionSearchOpen$ | async)
                    ? 'page.editor.versions.search-button.tooltip-disable'
                    : 'page.editor.versions.search-button.tooltip-enable'
                  ) | translate
                "
                (click)="documentService.toggleVersionsSearchPane()"
              >
                <eui-icon-svg icon="search"></eui-icon-svg>
              </button>
            </div>

            <div
              class="eui-u-display-flex eui-u-flex-column eui-u-mb-m search-version-pane"
              *ngIf="documentService.versionSearchOpen$ | async"
            >
              <eui-card euiNoShadow>
                <eui-card-content>
                  <form [formGroup]="versionSearchForm">
                    <div class="row g-0">
                      <div class="col-md-3 version-search-form-type-label">
                        {{
                          'page.editor.versions.search.form.type' | translate
                        }}:
                      </div>
                      <div class="col-md-7 no-g">
                        <div class="eui-u-display-flex eui-u-flex-row">
                          <div class="version-search-form-author-label">
                            <input
                              name="type"
                              euiInputRadio
                              id="type-all"
                              formControlName="type"
                              value="all"
                              label="All"
                              euiSizeXS
                            />
                          </div>
                          <div class="version-search-form-author-label">
                            <input
                              name="type"
                              euiInputRadio
                              id="type-save"
                              formControlName="type"
                              value="save"
                              label="Save"
                            />
                          </div>
                          <div class="version-search-form-author-label">
                            <input
                              name="type"
                              euiInputRadio
                              id="type-milestone"
                              formControlName="type"
                              value="milestone"
                              label="Milestone"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2" style="text-align: right">
                        <button
                          type="button"
                          class="eui-button eui-button--basic eui-button--icon-only eui-button--rounded eui-button--size-s ng-star-inserted"
                          (click)="documentService.toggleVersionsSearchPane()"
                        >
                          <span class="eui-button__container">
                            <span class="eui-icon eui-icon-close-m"></span>
                          </span>
                        </button>
                      </div>
                    </div>

                    <div class="row g-0">
                      <div class="col-md-4 version-search-form-author-label">
                        <label for="author"
                          >{{
                            'page.editor.versions.search.form.author'
                              | translate
                          }}:</label
                        >
                      </div>
                      <div class="col-md-8">
                        <input id="author" formControlName="author" />
                        <button
                          type="button"
                          class="eui-button eui-button--basic eui-button--icon-only eui-button--rounded eui-button--size-s ng-star-inserted"
                          (click)="this.onSearch()"
                        >
                          <span class="eui-button__container">
                            <span class="eui-icon eui-icon-search"></span>
                          </span>
                        </button>
                      </div>
                    </div>
                  </form>
                </eui-card-content>
              </eui-card>
              <eui-card
                *ngIf="documentService.getVersionSearchResultsIsEmpty()"
                class="search-versions-result"
                euiNoShadow
              >
                <eui-card-content>
                  <app-search-versions-pane
                    class="eui-u-display-block eui-u-width-100"
                    *ngFor="
                      let version of documentService.versionSearchResults$
                        | async;
                      trackByProperty: 'cmisVersionNumber'
                    "
                    [version]="version"
                    (exploreMilestone)="exploreMilestone($event)"
                  ></app-search-versions-pane>
                </eui-card-content>
              </eui-card>
            </div>
            <app-versions-pane
              (exploreMilestone)="exploreMilestone($event)"
            ></app-versions-pane>
          </eui-fieldset>
          <!-- contributions -->
          <hr *ngIf="showContributionsPane" />
          <eui-fieldset
            class="eui-u-mt-s"
            label="{{ 'page.editor.contribution-pane.label' | translate }}"
            isExpandable
            [isExpanded]="isContributionsPaneExpanded"
            *ngIf="showContributionsPane"
            (expanded)="onContributionsPaneExpanded($event)"
          >
            <div class="eui-u-display-flex app-u-gap-m eui-u-mb-m">
              <button euiButton euiIconButton euiSecondary euiOutline euiSizeS>
                <eui-icon-svg icon="search"></eui-icon-svg>
              </button>
            </div>
            <app-revision-pane
              [contributions]="contributions"
            ></app-revision-pane>
          </eui-fieldset>
        </eui-page-column-body>
      </eui-page-column>
      <!-- splitter: ToC & document -->
      <app-resize-handle
        [leftEl]="tocPaneElement?.nativeElement"
        [rightEl]="documentPaneElement?.nativeElement"
        *ngIf="(documentService.navigationSidebarCollapsed$ | async) === false"
      ></app-resize-handle>

      <eui-page-column
        #documentPane
        class="eui-u-p-none eui-page-column--no-scrollbars document-pane"
        [interactiveScrollbars]="false"
      >
        <eui-page-column-header-body>
          <app-ribbon-toolbar-container></app-ribbon-toolbar-container>
        </eui-page-column-header-body>
        <!-- leos-editing-pane is used in leosFloatingSpacePlugin.js -->
        <eui-page-column-body
          class="eui-u-flex eui-u-flex-column align-items-center flex-grow-1 leos-editing-pane"
          euiNoContentPadding
        >
          <!-- Search panel -->
          <eui-card
            class="eui-u-font-size-s"
            euiNoShadow
            [ngClass]="{ 'toc-edit-mode': isEditMode }"
            *ngIf="documentService.searchPaneOpen$ | async"
          >
            <eui-card-content class="eui-u-overflow-auto">
              <app-document-search></app-document-search>
            </eui-card-content>
          </eui-card>
          <!-- Drag elements -->
          <div class="tree-drag-content" *ngIf="isEditMode && tocItems.length">
            <h3 class="">{{ 'page.editor.drag-items.title' | translate }}</h3>
            <ul
              euiList
              class=""
              #elementList="cdkDropList"
              cdkDropList
              [cdkDropListData]="dragItems"
              cdkDropListConnectedTo="tree"
              [cdkDropListSortingDisabled]="true"
              [cdkDropListDisabled]="false"
              cdkDragBoundary=".tree"
            >
              <li
                euiListItem
                euiPrimary
                class=""
                cdkDrag
                [cdkDragData]="item"
                (cdkDragMoved)="hanldeListItemDragged($event, true)"
                *ngFor="let item of dragItems"
              >
                <span>{{ getTocItemDisplayTitle(item.tocItem) }}</span>
                <div
                  *cdkDragPlaceholder
                  euiListItem
                  euiPrimary
                  class="drag-preview"
                >
                  <span>{{ getTocItemDisplayTitle(item.tocItem) }}</span>
                </div>
              </li>
            </ul>
          </div>
          <!-- Document with editor -->
          <app-document
            [containerId]="containerId"
            [documentType]="documentType"
            [readonly]="
              environmentService.isCouncil() &&
              documentService.documentType === 'memorandum'
            "
            [containerClass]="{
              'leos-doc-content': true,
              'sync-scroll': true,
              'toc-edit-mode': isEditMode
            }"
          ></app-document>
        </eui-page-column-body>
      </eui-page-column>
      <!--       splitter: document & document:viewVersion -->
      <app-resize-handle
        [leftEl]="documentPaneElement?.nativeElement"
        [rightEl]="versionForViewPaneElement?.nativeElement"
        *ngIf="pageMode === PageMode.ViewVersion"
      ></app-resize-handle>
      <!-- document:viewVersion -->
      <eui-page-column
        #versionForViewPane
        class="eui-u-p-none eui-page-column--no-scrollbars document-pane"
        [interactiveScrollbars]="false"
        *ngIf="pageMode === PageMode.ViewVersion"
      >
        <eui-page-column-header-body>
          <div
            class="eui-u-flex eui-u-flex-row justify-content-between w-100 app-u-gap-xs"
            style="min-height: 35.99px"
          >
            <button
              euiButton
              euiIconButton
              euiSizeS
              [euiPrimary]="isSyncScrollEnabled$ | async"
              [euiSecondary]="(isSyncScrollEnabled$ | async) === false"
              (click)="toggleSyncScroll()"
            >
              <span euiSizeS class="eui-icon eui-icon-sync"></span>
            </button>
            <h4 class="eui-u-font-size-s">{{ versionForViewHeaderTitle }}</h4>
            <button
              euiButton
              euiIconButton
              euiSecondary
              euiSizeS
              euiOutline
              (click)="closeVersionView()"
            >
              <eui-icon euiSizeS iconClass="eui-icon-close-m"></eui-icon>
            </button>
          </div>
        </eui-page-column-header-body>
        <eui-page-column-body
          class="eui-u-flex eui-u-flex-column align-items-center flex-grow-1"
        >
          <app-document
            containerId="versionContainer"
            [xml]="versionForView"
            [containerClass]="{
              'leos-double-comparison-content': isCNInstance,
              'leos-marked-content': !isCNInstance,
              'sync-scroll': true
            }"
          ></app-document>
        </eui-page-column-body>
      </eui-page-column>

      <!-- splitter: document & document:compareVersions -->
      <app-resize-handle
        [leftEl]="documentPaneElement?.nativeElement"
        [rightEl]="compareModePaneElement?.nativeElement"
        *ngIf="pageMode === PageMode.CompareVersions"
      ></app-resize-handle>
      <!-- document:compareVersions -->
      <eui-page-column
        #compareModePane
        class="eui-u-p-none eui-page-column--no-scrollbars document-pane"
        [interactiveScrollbars]="false"
        *ngIf="pageMode === PageMode.CompareVersions"
      >
        <eui-page-column-header-body>
          <div
            class="eui-u-flex eui-u-flex-row justify-content-between w-100 app-u-gap-xs"
            style="min-height: 35.99px"
          >
            <div
              class="eui-u-flex eui-u-flex-row app-u-gap-xs"
              style="max-width: fit-content"
            >
              <button
                euiButton
                euiIconButton
                euiSizeS
                [euiPrimary]="isSyncScrollEnabled$ | async"
                [euiSecondary]="(isSyncScrollEnabled$ | async) === false"
                *ngIf="versionsComparisonForView"
                (click)="toggleSyncScroll()"
                [euiTooltip]="
                  ((isSyncScrollEnabled$ | async)
                    ? 'page.editor.versions.compare.actions.synchronous-scrolling.disable'
                    : 'page.editor.versions.compare.actions.synchronous-scrolling.enable'
                  ) | translate
                "
                [showDelay]="tooltipsDelay"
              >
                <eui-icon euiSizeS iconClass="eui-icon-sync"></eui-icon>
              </button>
              <button
                id="prev-change"
                euiButton
                euiIconButton
                euiBasicButton
                euiPrimary
                euiSizeS
                *ngIf="versionsComparisonForView"
                (click)="handlePrevChange()"
                [disabled]="navigationAnchorIndex === -1"
                [euiTooltip]="
                  'page.editor.versions.compare.actions.prev-change' | translate
                "
                [showDelay]="tooltipsDelay"
              >
                <span class="eui-icon eui-icon-sort-asc"></span>
              </button>

              <button
                id="next-change"
                euiButton
                euiIconButton
                euiBasicButton
                euiPrimary
                euiSizeS
                *ngIf="versionsComparisonForView"
                [disabled]="
                  navigationAnchorsList.length - 1 === navigationAnchorIndex
                "
                (click)="handleNextChange()"
                [euiTooltip]="
                  'page.editor.versions.compare.actions.next-change' | translate
                "
                [showDelay]="tooltipsDelay"
              >
                <span class="eui-icon eui-icon-sort-desc"></span>
              </button>
            </div>
            <h4 class="eui-u-font-size-s">
              {{ versionsComparisonForViewHeaderTitle$ | async }}
            </h4>
            <div
              class="eui-u-flex eui-u-flex-row app-u-gap-xs"
              style="max-width: fit-content"
            >
              <button
                euiButton
                euiBasicButton
                euiSecondary
                euiSizeS
                *ngIf="versionsComparisonForView"
                (click)="downloadXmlFile(versionsComparisonForView)"
                [euiTooltip]="
                  'page.editor.versions.compare.actions.download-xml-files'
                    | translate
                "
                [showDelay]="tooltipsDelay"
              >
                <eui-icon-svg
                  icon="cloud-download"
                  set="sharp"
                  size="m"
                  fillColor="grey-100"
                ></eui-icon-svg>
              </button>
              <button
                euiButton
                euiBasicButton
                euiSecondary
                euiSizeS
                *ngIf="versionsComparisonForView && isCNInstance"
                (click)="downloadVersionOfFileEConsil()"
                [euiTooltip]="
                  'page.editor.versions.compare.actions.download-eConsilium'
                    | translate
                "
                [showDelay]="tooltipsDelay"
              >
                <span
                  class="eui-icon eui-icon-filetype-unknown"
                  euiIconColored
                ></span>
              </button>
              <button
                euiButton
                euiBasicButton
                euiSecondary
                euiSizeS
                *ngIf="versionsComparisonForView"
                (click)="
                  isCNInstance
                    ? downloadVersionOfFile()
                    : downloadVersionOfPDF()
                "
                euiTooltip="{{
                  (isCNInstance
                    ? 'page.editor.versions.compare.actions.download-docuwrite'
                    : 'page.editor.versions.compare.actions.download-pdf'
                  ) | translate
                }}"
                [showDelay]="tooltipsDelay"
              >
                <span
                  class="eui-icon eui-icon-ecl-download"
                  euiIconColored
                ></span>
              </button>
              <button
                euiButton
                euiIconButton
                euiSecondary
                euiSizeS
                euiOutline
                (click)="closeVersionComparisonView()"
              >
                <eui-icon euiSizeS iconClass="eui-icon-close-m"></eui-icon>
              </button>
            </div>
          </div>
        </eui-page-column-header-body>
        <eui-page-column-body
          class="eui-u-flex eui-u-flex-column align-items-center"
          style="position: relative; overflow: auto"
        >
          <app-document
            containerId="versionComparisonContainer"
            [xml]="versionsComparisonForView"
            [containerClass]="{
              'leos-double-comparison-content': isCNInstance,
              'leos-marked-content': !isCNInstance,
              'sync-scroll': true,
              'leos-simple-comparison-content':
                isCNInstance &&
                (documentService.versionCompareIds$ | async)?.length === 2
            }"
          ></app-document>
        </eui-page-column-body>
      </eui-page-column>

      <!-- splitter: document & document annotations -->
      <app-resize-handle
        [leftEl]="documentPaneElement?.nativeElement"
        [rightEl]="annotationsPaneElement?.nativeElement"
        *ngIf="
          (pageMode === PageMode.Normal ||
            pageMode === PageMode.Contribution) &&
          !isAnnotationsPaneCollapsed
        "
      ></app-resize-handle>
      <!-- splitter: document:viewVersion & document annotations -->
      <app-resize-handle
        [leftEl]="versionForViewPaneElement?.nativeElement"
        [rightEl]="annotationsPaneElement?.nativeElement"
        *ngIf="pageMode === PageMode.ViewVersion && !isAnnotationsPaneCollapsed"
      ></app-resize-handle>
      <!-- splitter: document:compareVersions & document annotations -->
      <app-resize-handle
        [leftEl]="compareModePaneElement?.nativeElement"
        [rightEl]="annotationsPaneElement?.nativeElement"
        *ngIf="
          pageMode === PageMode.CompareVersions && !isAnnotationsPaneCollapsed
        "
      ></app-resize-handle>
      <!-- document annotations -->
      <eui-page-column
        #annotationsPane
        class="eui-page-column--right-column annotations-pane"
        [label]="'page.editor.annotations-pane.label' | translate"
        isCollapsible
        [isCollapsed]="isAnnotationsPaneCollapsed"
        (collapsed)="onToggleAnnotationsPaneCollapsed()"
        style="flex-basis: 580px"
      >
        <eui-page-column-body class="flex-grow-1">
          <app-document-annotations
            [containerId]="containerId"
            [connectedEntity]="connectedEntity"
            [proposalRef]="proposalRef"
            [permissions]="documentService.permissions$ | async"
            [showStatusFilter]="showStatusFilter"
            [collapsed]="isAnnotationsPaneCollapsed"
            (sidebarShown)="onSidebarShown()"
            *ngIf="!milestoneViewData"
          ></app-document-annotations>
        </eui-page-column-body>
      </eui-page-column>

      <!-- splitter: document annotations & document:contribution
                 Note: It actually resizes the two document panes -->
      <app-resize-handle
        [leftEl]="documentPaneElement?.nativeElement"
        [rightEl]="contributionViewPaneElement?.nativeElement"
        *ngIf="pageMode === PageMode.Contribution"
      ></app-resize-handle>
      <!-- document:contribution (view and merge pane) -->
      <eui-page-column
        #contributionViewPane
        class="eui-u-p-none eui-page-column--no-scrollbars document-pane contribution-view-merge-pane"
        [interactiveScrollbars]="false"
        *ngIf="pageMode === PageMode.Contribution"
      >
        <eui-page-column-header-body>
          <div
            class="eui-u-flex eui-u-flex-row eui-u-overflow-auto justify-content-between w-100 app-u-gap-xs"
            style="min-height: 35.99px"
          >
            <div
              class="eui-u-flex eui-u-flex-row app-u-gap-xs"
              style="max-width: fit-content"
            >
              <button
                euiButton
                euiIconButton
                euiSizeS
                [euiPrimary]="isSyncScrollEnabled$ | async"
                [euiSecondary]="(isSyncScrollEnabled$ | async) === false"
                *ngIf="contributionForView"
                (click)="toggleSyncScroll()"
                [euiTooltip]="
                  ((isSyncScrollEnabled$ | async)
                    ? 'page.editor.contribution.view.actions.synchronous-scrolling.disable'
                    : 'page.editor.contribution.view.actions.synchronous-scrolling.enable'
                  ) | translate
                "
                [showDelay]="tooltipsDelay"
                [disabled]="
                  documentService.isContributionDeclinedOrProcessed$ | async
                "
              >
                <eui-icon euiSizeS iconClass="eui-icon-sync"></eui-icon>
              </button>
              <button
                id="prev-change-contribution"
                euiButton
                euiIconButton
                euiBasicButton
                euiPrimary
                euiSizeS
                *ngIf="contributionForView"
                (click)="handlePrevChangeContribution()"
                [euiTooltip]="
                  'page.editor.contribution.view.actions.prev-change'
                    | translate
                "
                [showDelay]="tooltipsDelay"
                [disabled]="
                  documentService.isContributionDeclinedOrProcessed$ | async
                "
              >
                <span class="eui-icon eui-icon-sort-asc"></span>
              </button>

              <button
                id="next-change-contribution"
                euiButton
                euiIconButton
                euiBasicButton
                euiPrimary
                euiSizeS
                *ngIf="contributionForView"
                (click)="handleNextChangeContribution()"
                [euiTooltip]="
                  'page.editor.contribution.view.actions.next-change'
                    | translate
                "
                [showDelay]="tooltipsDelay"
                [disabled]="
                  documentService.isContributionDeclinedOrProcessed$ | async
                "
              >
                <span class="eui-icon eui-icon-sort-desc"></span>
              </button>
            </div>
            <h4
              class="eui-u-font-size-s"
              *ngIf="(documentService.contributionSelections$ | async) === 0"
            >
              {{
                'page.editor.contribution.view.text.select-revisions'
                  | translate
              }}
            </h4>
            <h4
              class="eui-u-font-size-s"
              *ngIf="(documentService.contributionSelections$ | async) > 0"
            >
              {{
                'page.editor.contribution.view.text.revisions-selected'
                  | translate
                    : {
                        selected:
                          documentService.contributionSelections$ | async,
                        all: (contributionChanges$ | async).length
                      }
              }}
            </h4>
            <div
              class="eui-u-flex eui-u-flex-row app-u-gap-xs"
              style="max-width: fit-content"
            >
              <select
                euiSelect
                name="action_nolabel"
                aria-label="action nolabel"
                [disabled]="
                  documentService.isContributionDeclinedOrProcessed$ | async
                "
                (change)="onSelectAction($event)"
              >
                <option value="accept_selected" selected>
                  {{
                    'page.editor.contribution.view.actions.accept.selected'
                      | translate
                  }}
                </option>
                <option value="accept_proposed_version">
                  {{
                    'page.editor.contribution.view.actions.accept.proposed.version'
                      | translate
                  }}
                </option>
              </select>
              <button
                euiButton
                euiPrimary
                euiSizeS
                *ngIf="contributionForView"
                (click)="handleMerge()"
                [euiTooltip]="
                  'page.editor.contribution.view.actions.apply' | translate
                "
                [showDelay]="tooltipsDelay"
                [disabled]="
                  ((documentService.contributionSelections$ | async) === 0 &&
                    contributionActionSelected === 'accept_selected') ||
                  (documentService.isContributionDeclinedOrProcessed$ | async)
                "
              >
                {{ 'page.editor.contribution.view.actions.apply' | translate }}
              </button>
              <span class="eui-u-ml-s eui-u-mr-s processed-span">{{
                'page.editor.contribution.view.actions.processed' | translate
              }}</span>
              <eui-slide-toggle
                (changed)="onChangeProcessedToggle($event)"
                [isChecked]="processed"
                [disabled]="
                  documentService.isContributionDeclinedOrProcessed$ | async
                "
              ></eui-slide-toggle>

              <button
                euiButton
                euiIconButton
                euiSecondary
                euiSizeS
                euiOutline
                (click)="closeContributionsView()"
                [euiTooltip]="
                  'page.editor.contribution.view.actions.close-view' | translate
                "
                [showDelay]="tooltipsDelay"
              >
                <eui-icon euiSizeS iconClass="eui-icon-close-m"></eui-icon>
              </button>
            </div>
          </div>
        </eui-page-column-header-body>
        <eui-page-column-body
          class="eui-u-flex eui-u-flex-column align-items-center"
          style="position: relative; overflow: auto"
        >
          <app-document
            #contributionViewContainer
            containerId="contributionViewContainer"
            [xml]="contributionForView"
            [containerClass]="{
              'leos-revision-content': true,
              'sync-scroll': true,
              'contribution-disabled-mode': processed
            }"
          >
          </app-document>
        </eui-page-column-body>
      </eui-page-column>

      <!-- splitter: document:contribution & document:contribution annotations -->
      <app-resize-handle
        [leftEl]="contributionViewPaneElement?.nativeElement"
        [rightEl]="contributionAnnotationsPaneElement?.nativeElement"
        *ngIf="
          pageMode === PageMode.Contribution &&
          !isContributionAnnotationsPaneCollapsed
        "
      ></app-resize-handle>
      <!-- document:contribution annotations -->
      <eui-page-column
        #contributionAnnotationsPane
        class="eui-page-column--right-column annotations-pane"
        [label]="'page.editor.annotations-pane.label' | translate"
        isCollapsible
        [isCollapsed]="isContributionAnnotationsPaneCollapsed"
        (collapsed)="onToggleContributionAnnotationsPaneCollapsed()"
        style="flex-basis: 580px"
        *ngIf="pageMode === PageMode.Contribution"
      >
        <eui-page-column-body class="flex-grow-1">
          <app-document-annotations
            containerId="contributionViewContainer"
            [permissions]="documentService.permissions$ | async"
            [showStatusFilter]="showStatusFilter"
            operationMode="READ_ONLY"
            sidebarAppId="revision-01"
            [temporaryDataId]="contributionTemporaryDataId"
            [temporaryDataDocument]="contributionTemporaryDataDocument"
            [collapsed]="isContributionAnnotationsPaneCollapsed"
            (sidebarShown)="onContributionAnnotationsSidebarShown()"
            *ngIf="!milestoneViewData && contributionForView"
          ></app-document-annotations>
        </eui-page-column-body>
      </eui-page-column>
    </eui-page-columns>
  </eui-page-content>
</eui-page>

<app-download-econsilium-modal
  *ngIf="documentRef"
  #eConsiliumModal
></app-download-econsilium-modal>
<app-proposal-milestone-view
  #milestoneViewDialog
  [milestone]="milestoneViewData"
  (closed)="onMilestoneViewDialogClosed()"
  *ngIf="milestoneViewData"
></app-proposal-milestone-view>
<eui-dialog
  #openEditorDialog
  [title]="'page.editor.open.editor.dialog.title' | translate"
  [acceptLabel]="'global.actions.confirm' | translate"
  [width]="'25vw'"
  [isHandleCloseOnAccept]="true"
  [isHandleCloseOnDismiss]="true"
  [hasCloseButton]="false"
  (clickOutside)="onCancelClose()"
  (close)="onCancelClose()"
  (accept)="onConfirmClose()"
  (dismiss)="onCancelClose()"
>
  <p>{{ 'page.editor.open.editor.dialog.body' | translate }}</p>
</eui-dialog>
<eui-dialog
  #markContributionAsProcessedDialog
  [title]="
    'page.editor.contribution.view.mark-contribution-as-processed.modal-title'
      | translate
  "
  [acceptLabel]="'global.actions.continue' | translate"
  [dismissLabel]="'global.actions.cancel' | translate"
  [width]="'25vw'"
  [isHandleCloseOnAccept]="true"
  [isHandleCloseOnDismiss]="true"
  [hasCloseButton]="false"
  (clickOutside)="onCancelMarkContributionAsProcessed()"
  (close)="onCancelMarkContributionAsProcessed()"
  (accept)="onAcceptMarkContributionAsProcessed()"
  (dismiss)="onCancelMarkContributionAsProcessed()"
>
  <p class="eui-u-mb-s">
    {{
      'page.editor.contribution.view.mark-contribution-as-processed.modal-text'
        | translate
    }}
  </p>
</eui-dialog>
<eui-dialog
  #mergeAllContributionsChangesDialog
  [title]="
    'page.editor.contribution.view.merge-contributions.accept-all.modal-title'
      | translate
  "
  [acceptLabel]="'global.actions.continue' | translate"
  [dismissLabel]="'global.actions.cancel' | translate"
  [width]="'25vw'"
  [isHandleCloseOnAccept]="true"
  [isHandleCloseOnDismiss]="true"
  [hasCloseButton]="false"
  (clickOutside)="onCancelMergeAllContributions()"
  (close)="onCancelMergeAllContributions()"
  (accept)="onAcceptMergeAllContributions()"
  (dismiss)="onCancelMergeAllContributions()"
>
  <p class="eui-u-mb-s">
    {{
      'page.editor.contribution.view.merge-contributions.accept-all.modal-text'
        | translate
    }}
  </p>
</eui-dialog>

<!-- unsaved data dialog -->
<eui-dialog
  #unSavedDialog
  [title]="getTranlsations('page.editor.toc.unsaved-changes-dialog.title')"
  [isHandleCloseOnAccept]="true"
  [isHandleCloseOnDismiss]="true"
>
  <p euiSizeXL>
    {{ 'page.editor.toc.unsaved-changes-dialog.body' | translate }}
  </p>
  <eui-dialog-footer>
    <div class="d-flex flex-row justify-content-end" style="gap: 0.5rem">
      <button
        euiButton
        class="mr-2"
        euiSecondary
        (click)="hanldeUnSaveDialogClose(false)"
      >
        {{ 'page.editor.toc.unsaved-changes-dialog.close' | translate }}
      </button>
      <button
        class=""
        euiButton
        euiPrimary
        (click)="hanldeUnSaveDialogClose(true)"
      >
        {{ 'page.editor.toc.unsaved-changes-dialog.save' | translate }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
