<eui-page *ngIf="xml" euiNoContentPadding>
  <eui-page-breadcrumb euiNoContentPadding class="p-0">
    <eui-breadcrumb>
      <eui-breadcrumb-item
        *ngFor="let item of breadcrumbService.breadcrumbs$ | async"
        [id]="item.id"
        [link]="item.link"
        [label]="item.label"
      >
      </eui-breadcrumb-item>
    </eui-breadcrumb>
  </eui-page-breadcrumb>
  <eui-page-header class="" [label]="pageTitle">
    <eui-page-header-action-items>
      <app-annex-actions-dropdown
        (annexChangeStructure)="confirmAnnexStructureChange()"
      ></app-annex-actions-dropdown>
      <button
        *ngIf="documentConfig?.proposalMetadata"
        class="mt-1"
        euiButton
        euiSizeS
        euiPrimary
        translate="global.actions.close"
        (click)="handleClose()"
      ></button>
    </eui-page-header-action-items>
  </eui-page-header>

  <eui-page-content>
    <eui-page-columns>
      <!-- ToC -->
      <eui-page-column
        [label]="'page.editor.toc-column.label' | translate"
        isCollapsible
        [isCollapsed]="documentService.navigationPaneCollapse$ | async"
        (collapsed)="onToggleTOCColumnCollapsed()"
        [title]="
          (this.isTOCColumnCollapsed
            ? 'global.actions.show'
            : 'global.actions.hide'
          ) | translate
        "
      >
        <eui-page-column-header-right-content>
          <div class="d-flex flex-row align-items-center">
            <!-- Expand all -->
            <button
              euiButton
              euiBasicButton
              euiSizeS
              class=""
              *ngIf="!isEditMode"
              [euiTooltip]="getTooltipForToggleTree()"
              (click)="expandAll()"
            >
              <span class="eui-icon eui-icon-sitemap"></span>
            </button>
            <!-- Co edition Indicator -->
            <div class="">
              <app-co-edition-info [isToc]="true"></app-co-edition-info>
            </div>
            <!-- Edit mode -->
            <button
              euiButton
              euiBasicButton
              euiSizeS
              class=""
              euiTooltip="{{
                'page.editor.toc.toc-column.actions.edit' | translate
              }}"
              (click)="handleEdit()"
              *ngIf="
                !isEditMode &&
                !['coverPage', 'memorandum'].includes(documentType)
              "
            >
              <span class="eui-icon eui-icon-edit"></span>
            </button>
            <!-- Actions menu-->
            <app-toc-actions-buttons
              [isEditMode]="isEditMode"
              [isUndoDisabled]="disableUndoButton()"
              [isSaveDisabled]="disableSaveButton()"
              [isCollapseToc]="isCollapseToc"
              [isAnnotationsColumnCollapsed]="isAnnotationsColumnCollapsed"
              [isVersionsColumnCollapsed]="isVersionsColumnCollapsed"
              (handleExpandAll)="expandAll()"
              (handleUndo)="handleUndo()"
              (handleSave)="handleSave()"
              (handleCancel)="handleCancel()"
              (handleSaveAndClose)="handleSaveAndClose()"
            >
            </app-toc-actions-buttons>
          </div>
        </eui-page-column-header-right-content>
        <eui-page-column-body>
          <app-document-toc
            [tocItems]="tocItems"
            [isEdit]="isEditMode"
            [documentType]="documentType"
            [documentRef]="documentRef"
            (reBuildTocItems)="onRebuildTocItems($event)"
          ></app-document-toc>
        </eui-page-column-body>
      </eui-page-column>

      <!-- document -->
      <eui-page-column
        class="eui-u-p-none eui-page-column--no-scrollbars"
        [interactiveScrollbars]="false"
      >
        <eui-page-column-header-body>
          <!-- Search & Refresh -->
          <div class="eui-u-flex eui-u-flex-row">
            <h4 class="eui-u-font-size-s flex-grow-1 eui-u-mh-xs text-center">
              {{ pageSubTitle }}
            </h4>
            <app-actions-toolbar
              class="eui-u-flex app-u-gap-s app-u-flex-basis-0 mt-1"
              [disabled]="isEditMode"
            ></app-actions-toolbar>
          </div>
        </eui-page-column-header-body>
        <!-- leos-editing-pane is used in leosFloatingSpacePlugin.js -->
        <eui-page-column-body
          class="eui-u-flex eui-u-flex-column align-items-center flex-grow-1 leos-editing-pane"
          euiNoContentPadding
        >
          <!-- Search panel -->
          <eui-card
            class="eui-u-font-size-s"
            euiNoShadow
            [ngClass]="{ 'toc-edit-mode': isEditMode }"
            *ngIf="documentService.searchPaneOpen$ | async"
          >
            <eui-card-content class="eui-u-overflow-auto">
              <app-document-search></app-document-search>
            </eui-card-content>
          </eui-card>

          <!-- Drag elements -->
          <div class="tree-drag-content" *ngIf="isEditMode && tocItems.length">
            <h3 class="">{{ 'page.editor.drag-items.title' | translate }}</h3>
            <ul
              euiList
              class=""
              #elementList="cdkDropList"
              cdkDropList
              [cdkDropListData]="dragItems"
              cdkDropListConnectedTo="tree"
              [cdkDropListSortingDisabled]="true"
              [cdkDropListDisabled]="false"
              cdkDragBoundary=".tree"
            >
              <li
                euiListItem
                euiPrimary
                class=""
                cdkDrag
                [cdkDragData]="item"
                (cdkDragMoved)="hanldeListItemDragged($event, true)"
                *ngFor="let item of dragItems"
              >
                <span>{{ getTocItemDisplayTitle(item.tocItem) }}</span>
                <div
                  *cdkDragPlaceholder
                  euiListItem
                  euiPrimary
                  class="drag-preview"
                >
                  <span>{{ getTocItemDisplayTitle(item.tocItem) }}</span>
                </div>
              </li>
            </ul>
          </div>
          <!-- Document with editor -->
          <app-annex-document
            [id]="containerId"
            [xml]="xml"
            [reloadTrigger]="reloadTrigger"
            [readonly]="
              enviromentService.isCouncil() &&
              documentService.documentType === 'memorandum'
            "
            class="leos-doc-content sync-scroll"
            [ngClass]="{ 'toc-edit-mode': isEditMode }"
          ></app-annex-document>
        </eui-page-column-body>
      </eui-page-column>

      <!-- compare -> compare with this Version -->
      <eui-page-column interactiveScrollbars *ngIf="isVersionForViewOpen">
        <!-- <eui-page-column-header-left-content class="font-inherit-header">{{
          versionForViewHeaderTitle
        }}</eui-page-column-header-left-content> -->
        <eui-page-column-header-body>
          <div
            class="eui-u-flex eui-u-flex-row justify-content-between w-100 app-u-gap-xs"
            style="min-height: 35.99px"
          >
            <button
              euiButton
              euiIconButton
              euiSizeS
              [euiPrimary]="isAsyncScrollEnabled"
              [euiSecondary]="!isAsyncScrollEnabled"
              (click)="handleAsyncScroll()"
            >
              <span euiSizeS class="eui-icon eui-icon-sync"></span>
            </button>
            <h4 class="eui-u-font-size-s">{{ versionForViewHeaderTitle }}</h4>
            <button
              euiButton
              euiIconButton
              euiSecondary
              euiSizeS
              euiOutline
              (click)="closeVersionView()"
            >
              <eui-icon euiSizeS iconClass="eui-icon-close-m"></eui-icon>
            </button>
          </div>
        </eui-page-column-header-body>
        <eui-page-column-body
          class="eui-u-flex eui-u-flex-column align-items-center flex-grow-1"
        >
          <!--          <div class="eui-u-flex eui-u-flex-row">-->
          <!--            <h4 class="eui-u-font-size-s flex-grow-1 eui-u-mh-xs text-center">-->
          <!--              {{ versionForViewHeaderTitle }}-->
          <!--            </h4>-->
          <!--            <button-->
          <!--              euiButton-->
          <!--              euiIconButton-->
          <!--              euiBasicButton-->
          <!--              euiRounded-->
          <!--              euiSizeS-->
          <!--              [title]="-->
          <!--                'page.editor.close-compare-view-button.tooltip' | translate-->
          <!--              "-->
          <!--              [attr.aria-label]="-->
          <!--                'page.editor.close-compare-view-button.tooltip' | translate-->
          <!--              "-->
          <!--              (click)="closeVersionView()"-->
          <!--            >-->
          <!--              <span class="eui-icon eui-icon-close-m"></span>-->
          <!--            </button>-->
          <!--          </div>-->

          <app-annex-document
            id="versionContainer"
            [xml]="versionForView"
            class="leos-doc-content sync-scroll"
          ></app-annex-document>
        </eui-page-column-body>
      </eui-page-column>

      <!-- compare: b -->
      <eui-page-column
        class="eui-u-p-none"
        interactiveScrollbars
        *ngIf="documentService.compareModeEnabled$ | async"
      >
        <eui-page-column-header-body>
          <div
            class="eui-u-flex eui-u-flex-row justify-content-between w-100 app-u-gap-xs"
            style="min-height: 35.99px"
          >
            <div
              class="eui-u-flex eui-u-flex-row app-u-gap-xs"
              style="max-width: fit-content"
            >
              <button
                euiButton
                euiIconButton
                euiSizeS
                [euiPrimary]="isAsyncScrollEnabled"
                [euiSecondary]="!isAsyncScrollEnabled"
                *ngIf="versionsComparisonForView"
                (click)="handleAsyncScroll()"
                [euiTooltip]="
                  'page.editor.versions.compare.actions.synchronous-scrolling'
                    | translate
                "
                [showDelay]="tooltipsDelay"
              >
                <eui-icon euiSizeS iconClass="eui-icon-sync"></eui-icon>
              </button>
              <button
                id="prev-change"
                euiButton
                euiIconButton
                euiBasicButton
                euiPrimary
                euiSizeS
                *ngIf="versionsComparisonForView"
                (click)="handlePrevChange()"
                [disabled]="compareIndex === 0"
                [euiTooltip]="
                  'page.editor.versions.compare.actions.next-change' | translate
                "
                [showDelay]="tooltipsDelay"
              >
                <span class="eui-icon eui-icon-sort-asc"></span>
              </button>

              <button
                id="next-change"
                euiButton
                euiIconButton
                euiBasicButton
                euiPrimary
                euiSizeS
                *ngIf="versionsComparisonForView"
                (click)="handleNextChange()"
                [disabled]="compareIndex >= compareChanges.length"
                [euiTooltip]="
                  'page.editor.versions.compare.actions.prev-change' | translate
                "
                [showDelay]="tooltipsDelay"
              >
                <span class="eui-icon eui-icon-sort-desc"></span>
              </button>
            </div>
            <h4 class="eui-u-font-size-s">
              {{ versionsComparisonForViewHeaderTitle$ | async }}
            </h4>
            <div
              class="eui-u-flex eui-u-flex-row app-u-gap-xs"
              style="max-width: fit-content"
            >
              <button
                euiButton
                euiBasicButton
                euiSecondary
                euiSizeS
                *ngIf="versionsComparisonForView"
                (click)="downloadXmlFile(versionsComparisonForView)"
                [euiTooltip]="
                  'page.editor.versions.compare.actions.download-xml-files'
                    | translate
                "
                [showDelay]="tooltipsDelay"
              >
                <span class="eui-icon eui-icon-ecl-download"></span>
              </button>
              <button
                euiButton
                euiBasicButton
                euiSecondary
                euiSizeS
                *ngIf="versionsComparisonForView && isCNInstance"
                (click)="downloadVersionOfFile()"
                [euiTooltip]="
                  'page.editor.versions.compare.actions.download-docuwrite'
                    | translate
                "
                [showDelay]="tooltipsDelay"
              >
                <span
                  class="eui-icon eui-icon-filetype-doc"
                  euiIconColored
                ></span>
              </button>
              <button
                euiButton
                euiBasicButton
                euiSecondary
                euiSizeS
                *ngIf="versionsComparisonForView"
                (click)="downloadVersionOfFileEConsil()"
                [euiTooltip]="
                  'page.editor.versions.compare.actions.download-eConsilium'
                    | translate
                "
                [showDelay]="tooltipsDelay"
              >
                <span
                  class="eui-icon eui-icon-filetype-unknown"
                  euiIconColored
                ></span>
              </button>
              <button
                euiButton
                euiIconButton
                euiSecondary
                euiSizeS
                euiOutline
                (click)="closeVersionComparisonView()"
              >
                <eui-icon euiSizeS iconClass="eui-icon-close-m"></eui-icon>
              </button>
            </div>
          </div>
        </eui-page-column-header-body>
        <eui-page-column-body
          class="eui-u-flex eui-u-flex-column align-items-center"
          style="position: relative; overflow: auto"
        >
          <app-annex-document
            id="versionComparisonContainer"
            [xml]="versionsComparisonForView"
            class="sync-scroll"
          ></app-annex-document>
        </eui-page-column-body>
      </eui-page-column>

      <eui-dialog
        #unSavedDialog
        [title]="
          getTranlsations('page.editor.toc.unsaved-changes-dialog.title')
        "
        [isHandleCloseOnAccept]="true"
        [isHandleCloseOnDismiss]="true"
      >
        <p euiSizeXL>
          {{ 'page.editor.toc.unsaved-changes-dialog.body' | translate }}
        </p>
        <eui-dialog-footer>
          <div class="d-flex flex-row justify-content-end" style="gap: 0.5rem">
            <button
              euiButton
              class="mr-2"
              euiSecondary
              (click)="hanldeUnSaveDialogClose(false)"
            >
              {{ 'page.editor.toc.unsaved-changes-dialog.close' | translate }}
            </button>
            <button
              euiButton
              class=""
              euiPrimary
              (click)="hanldeUnSaveDialogClose(true)"
            >
              {{ 'page.editor.toc.unsaved-changes-dialog.save' | translate }}
            </button>
          </div>
        </eui-dialog-footer>
      </eui-dialog>

      <!-- annotations -->
      <eui-page-column
        class="eui-page-column--right-column"
        [label]="'page.editor.annotations-column.label' | translate"
        isCollapsible
        [isCollapsed]="isAnnotationsColumnCollapsed"
        (collapsed)="onToggleAnnotationsColumnCollapsed()"
        style="width: calc(620px + 330px)"
      >
        <eui-page-column-body class="flex-grow-1">
          <app-document-annotations
            [documentId]="documentRef"
            [containerId]="containerId"
            [connectedEntity]="connectedEntity"
            [proposalRef]="proposalRef"
            [permissions]="documentService.permissions$ | async"
            [showStatusFilter]="showStatusFilter"
            *ngIf="!milestoneViewData"
          ></app-document-annotations>
        </eui-page-column-body>
      </eui-page-column>

      <!-- versions -->
      <eui-page-column
        class="eui-page-column--right-column"
        [label]="'page.editor.versions-column.label' | translate"
        size="4xl"
        isCollapsible
        [isCollapsed]="isVersionsColumnCollapsed"
        interactiveScrollbars
        (collapsed)="onToggleVersionsColumn()"
      >
        <eui-page-column-header-body
          class="eui-u-display-flex eui-u-flex-column eui-u-pb-s app-u-gap-s"
        >
          <div class="eui-u-display-flex app-u-gap-m">
            <button
              euiButton
              euiIconButton
              euiSecondary
              euiOutline
              euiSizeS
              [title]="
                ((documentService.compareModeEnabled$ | async)
                  ? 'page.editor.versions.compare-button.tooltip-disable'
                  : 'page.editor.versions.compare-button.tooltip-enable'
                ) | translate
              "
              [attr.aria-label]="
                ((documentService.compareModeEnabled$ | async)
                  ? 'page.editor.versions.compare-button.tooltip-disable'
                  : 'page.editor.versions.compare-button.tooltip-enable'
                ) | translate
              "
              (click)="toggleVersionComparisonView()"
            >
              <eui-icon-svg icon="documents"></eui-icon-svg>
            </button>

            <button
              euiButton
              euiIconButton
              euiSecondary
              euiOutline
              euiSizeS
              [title]="
                ((documentService.versionSearchOpen$ | async)
                  ? 'page.editor.versions.search-button.tooltip-disable'
                  : 'page.editor.versions.search-button.tooltip-enable'
                ) | translate
              "
              [attr.aria-label]="
                ((documentService.versionSearchOpen$ | async)
                  ? 'page.editor.versions.search-button.tooltip-disable'
                  : 'page.editor.versions.search-button.tooltip-enable'
                ) | translate
              "
              (click)="documentService.toggleVersionsSearchPane()"
            >
              <eui-icon-svg icon="search"></eui-icon-svg>
            </button>
          </div>

          <div
            class="eui-u-display-flex app-u-gap-m"
            *ngIf="documentService.versionSearchOpen$ | async"
          >
            <eui-card euiNoShadow>
              <eui-card-content>
                <form [formGroup]="versionSearchForm">
                  <div class="row g-0">
                    <div class="col-md-3">
                      {{ 'version.search.form.type' | translate }}
                    </div>
                    <div class="col-md-3 no-g">
                      <div class="eui-u-display-flex eui-u-flex-row">
                        <input
                          name="type"
                          euiInputRadio
                          id="type-all"
                          formControlName="type"
                          value="all"
                          label="All"
                          euiSizeXS
                        />
                        <div>
                          <input
                            name="type"
                            euiInputRadio
                            id="type-save"
                            formControlName="type"
                            value="save"
                            label="Save"
                          />
                        </div>
                        <div>
                          <input
                            name="type"
                            euiInputRadio
                            id="type-milestone"
                            formControlName="type"
                            value="milestone"
                            label="Milestone"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row g-0">
                    <div class="col-md-4 version-search-form-author-label">
                      <label for="author">{{
                        'version.search.form.author' | translate
                      }}</label>
                    </div>
                    <div class="col-md-8">
                      <input id="author" formControlName="author" />
                    </div>
                  </div>
                </form>
              </eui-card-content>
            </eui-card>
          </div>
        </eui-page-column-header-body>
        <eui-page-column-body>
          <app-versions-pane
            (exploreMilestone)="exploreMilestone($event)"
          ></app-versions-pane>
        </eui-page-column-body>
      </eui-page-column>
    </eui-page-columns>
  </eui-page-content>
</eui-page>

<app-download-econsilium-modal
  *ngIf="documentRef"
  #eConsiliumModal
></app-download-econsilium-modal>
<app-proposal-milestone-view
  #milestoneViewDialog
  [milestone]="milestoneViewData"
  (closed)="onMilestoneViewDialogClosed()"
  *ngIf="milestoneViewData"
></app-proposal-milestone-view>
<eui-dialog
  #openEditorDialog
  [title]="'page.editor.open.editor.dialog.title' | translate"
  [acceptLabel]="'global.actions.confirm' | translate"
  [width]="'25vw'"
  [isHandleCloseOnAccept]="true"
  [isHandleCloseOnDismiss]="true"
  [hasCloseButton]="false"
  (clickOutside)="onCancelClose()"
  (close)="onCancelClose()"
  (accept)="onConfirmClose()"
  (dismiss)="onCancelClose()"
>
  <p>{{ 'page.editor.open.editor.dialog.body' | translate }}</p>
</eui-dialog>

<!-- <app-confirm-delete-dialog
  #confirmAnnexStructureChangeDialog
  [title]="'editor.annex-structure-change-title' | translate"
  [description]="'editor-switch-annex-structure-content' | translate"
  (confirmDeletion)="handleAnnexChangeStructure()"
></app-confirm-delete-dialog> -->
