:host ::ng-deep {
  .eui-page-column__header-right-content {
    align-self: start;
  }

  .eui-page-column--right-column .eui-page-column__header-toggle .eui-icon {
    transform: rotate(180deg);
  }

  .scrollable-page-column {
    overflow: scroll;
    width: 40%;
  }

  .eui-page-column__header-right-content {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .eui-page-column__header-left-content {
    font-size: inherit;
  }

  .eui-page-column__body {
    overflow: scroll !important;
  }
}

.tree-drag-content {
  background-color: var(--eui-app-body-bg-color);
  border-radius: 1rem;
  gap: 1.25rem;
  left: 0%;
  margin-left: 1rem;
  padding: 1rem;
  position: absolute;
  top: 1.2%;
  z-index: 9999;

  h3 {
    padding: 0.2rem;
  }

  li,
  .toc-item {
    border: solid var(--eui-base-color-primary);
    border-radius: 1rem;
    border-width: 2px;
    font-size: 14px;
    margin: 0.5rem;
    padding: 0.6rem;
    text-align: center;
  }
}
