:host ::ng-deep {
  .eui-page-column__header-right-content {
    align-self: start;
  }

  .scrollable-page-column {
    overflow: scroll;
    width: 40%;
  }

  .eui-page-column__header-right-content {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .eui-page-column__header-left-content {
    font-size: inherit;
  }

  /* Migrated from modules/ui/src/main/resources/VAADIN/themes/leos/scss/component/_documentView.scss */

  .bookmark-container {
    $HEADER_BLUE: #0065a2;
    $WHITE: #fff;

    background: $HEADER_BLUE;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 125px;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 30px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.4s ease-in, width 0.4s ease-out;
    white-space: nowrap;
    width: 0;

    .bookmark-link {
      align-items: center;
      color: $WHITE;
      display: none;
      gap: 4px;
    }

    .bookmark-icon {
      font-size: 20px;
    }

    &.displayed {
      opacity: 1;
      padding: 5px;
      width: auto;

      .bookmark-link {
        display: flex;
      }
    }
  }
}

.tree-drag-content {
  background-color: var(--eui-app-body-bg-color);
  border-radius: 1rem;
  gap: 1.25rem;
  left: 0%;
  margin-left: 1rem;
  padding: 1rem;
  position: absolute;
  top: 1.2%;
  z-index: 9999;

  h3 {
    padding: 0.2rem;
  }

  li,
  .toc-item {
    border: solid var(--eui-base-color-primary);
    border-radius: 1rem;
    border-width: 2px;
    font-size: 14px;
    margin: 0.5rem;
    padding: 0.6rem;
    text-align: center;
  }
}

.version-search-form-author-label {
  width: 26%;
}
