<eui-page *ngIf="xml">
  <eui-page-breadcrumb>
    <eui-breadcrumb>
      <eui-breadcrumb-item link="/" label="Home"></eui-breadcrumb-item>
      <eui-breadcrumb-item label="Annex"></eui-breadcrumb-item>
    </eui-breadcrumb>
  </eui-page-breadcrumb>

  <eui-page-header class="eui-u-mb-l" [label]="pageTitle">
    <eui-page-header-action-items>
      <app-annex-actions-dropdown></app-annex-actions-dropdown>

      <button
        euiButton
        euiPrimary
        translate="page.editor.close-button.label"
        (click)="handleClose()"
      ></button>
    </eui-page-header-action-items>

    <eui-page-header-body class="eui-u-flex app-u-gap-m eui-u-mt-s">
      <span class="flex-grow-1 eui-u-font-xl">{{ pageSubTitle }}</span>
      <app-actions-toolbar
        class="eui-u-flex app-u-gap-m app-u-flex-basis-0"
      ></app-actions-toolbar>
    </eui-page-header-body>
  </eui-page-header>

  <eui-page-content>
    <eui-page-columns>
      <eui-page-column
        [label]="'page.editor.toc-column.label' | translate"
        isCollapsible
        [isCollapsed]="isTOCColumnCollapsed"
        interactiveScrollbars
        (collapsed)="onToggleTOCColumnCollapsed()"
        class="scrollable-page-column"
      >
        <eui-page-column-header-body>
          <span
            *ngIf="!isEditMode"
            [euiTooltip]="getTooltipForToggleTree()"
            class="eui-icon eui-icon-sitemap"
            (click)="expandAll()"
          ></span>
          <button
            euiButton
            euiBasicButton
            euiSizeS
            class="eui-u-mr-s"
            (click)="handleEdit()"
            *ngIf="!isEditMode"
          >
            {{ 'page.editor.toc.toc-column.actions.title' | translate }}
            <span class="eui-icon eui-icon-edit"></span>
          </button>
          <div
            class="d-flex flex-row justify-content-around align-items-center mt-10"
            *ngIf="isEditMode"
          >
            <span
              [euiTooltip]="getTooltipForToggleTree()"
              class="eui-icon eui-icon-sitemap"
              (click)="expandAll()"
            ></span>
            <button
              euiButton
              euiBasicButton
              class="eui-u-ml-s"
              [disabled]="disableUndoButton()"
              (click)="handleUndo()"
            >
              {{ 'page.editor.toc.toc-column.actions.undo' | translate }}
              <span class="eui-icon eui-icon-undo"></span>
            </button>
            <button
              euiButton
              euiBasicButton
              class="eui-u-mr-s"
              [disabled]="disableSaveButton()"
              (click)="handleSave()"
            >
              {{ 'page.editor.toc.toc-column.actions.save' | translate }}
            </button>
            <button
              euiButton
              euiBasicButton
              class="eui-u-mr-s"
              (click)="handleCancel()"
            >
              {{ 'page.editor.toc.toc-column.actions.cancel' | translate }}
              <span class="eui-icon eui-icon-times"></span>
            </button>
          </div>
        </eui-page-column-header-body>
        <eui-page-column-body>
          <app-document-toc
            [tocItems]="tocItems"
            [isEdit]="isEditMode"
            [documentType]="documentType"
            [documentRef]="documentRef"
            (reBuildTocItems)="onRebuildTocItems($event)"
          ></app-document-toc>
        </eui-page-column-body>
      </eui-page-column>

      <eui-page-column interactiveScrollbars>
        <eui-page-column-header-body
          *ngIf="documentService.searchPaneOpen$ | async"
        >
          <eui-card class="eui-u-font-size-m eui-u-mb-l" euiNoShadow>
            <eui-card-content class="eui-u-overflow-auto">
              <app-document-search></app-document-search>
            </eui-card-content>
          </eui-card>
        </eui-page-column-header-body>

        <eui-page-column-body
          class="eui-u-flex eui-u-flex-column align-items-center"
        >
          <div class="tree-drag-content" *ngIf="isEditMode && tocItems.length">
            <h3 class="">{{ 'page.editor.drag-items.title' | translate }}</h3>
            <ul
              euiList
              class=""
              #elementList="cdkDropList"
              cdkDropList
              [cdkDropListData]="dragItems"
              cdkDropListConnectedTo="tree"
              [cdkDropListSortingDisabled]="true"
              [cdkDropListDisabled]="false"
            >
              <li
                euiListItem
                euiPrimary
                class=""
                cdkDrag
                [cdkDragData]="item"
                (cdkDragMoved)="hanldeListItemDragged($event, true)"
                *ngFor="let item of dragItems"
              >
                <span>{{ getTocItemDisplayTitle(item.tocItem) }}</span>
                <div *cdkDragPlaceholder></div>
              </li>
            </ul>
          </div>
          <app-annex-document
            id="docContainer"
            [xml]="xml"
          ></app-annex-document>
        </eui-page-column-body>
      </eui-page-column>
      <eui-page-column interactiveScrollbars *ngIf="isVersionForViewOpen">
        <eui-page-column-header-left-content class="font-inherit-header">{{
          versionForViewHeaderTitle
        }}</eui-page-column-header-left-content>
        <eui-page-column-header-right-content>
          <eui-icon
            euiSizeS
            iconClass="eui-icon-close-m"
            (click)="closeVersionView()"
          ></eui-icon>
        </eui-page-column-header-right-content>
        <eui-page-column-body
          class="eui-u-flex eui-u-flex-column align-items-center"
        >
          <app-annex-document
            id="versionContainer"
            [xml]="versionForView"
          ></app-annex-document>
        </eui-page-column-body>
      </eui-page-column>
      <eui-dialog
        #unSavedDialog
        [title]="
          getTranlsations('page.editor.toc.unsaved-changes-dialog.title')
        "
        [isHandleCloseOnAccept]="true"
        [isHandleCloseOnDismiss]="true"
      >
        <p euiSizeXL>
          {{ 'page.editor.toc.unsaved-changes-dialog.body' | translate }}
        </p>
        <eui-dialog-footer>
          <div class="d-flex flex-row justify-content-end" style="gap: 0.5rem">
            <button
              euiButton
              class="mr-2"
              euiSecondary
              (click)="hanldeUnSaveDialogClose(false)"
            >
              {{ 'page.editor.toc.unsaved-changes-dialog.close' | translate }}
            </button>
            <button
              euiButton
              class=""
              euiPrimary
              (click)="hanldeUnSaveDialogClose(true)"
            >
              {{ 'page.editor.toc.unsaved-changes-dialog.save' | translate }}
            </button>
          </div>
        </eui-dialog-footer>
      </eui-dialog>
      <eui-page-column
        class="eui-page-column--right-column"
        [label]="'page.editor.annotations-column.label' | translate"
        isCollapsible
        [isCollapsed]="isAnnotationsColumnCollapsed"
        interactiveScrollbars
        (collapsed)="onToggleAnnotationsColumnCollapsed()"
        style="width: calc(620px + 330px)"
      >
        <eui-page-column-body class="flex-grow-1">
          <app-document-annotations
            [documentId]="documentRef"
          ></app-document-annotations>
        </eui-page-column-body>
      </eui-page-column>

      <eui-page-column
        class="eui-page-column--right-column"
        [label]="'page.editor.versions-column.label' | translate"
        size="4xl"
        isCollapsible
        [isCollapsed]="isVersionsColumnCollapsed"
        interactiveScrollbars
        (collapsed)="onToggleVersionsColumn()"
      >
        <eui-page-column-header-body
          class="eui-u-display-flex eui-u-flex-column eui-u-pb-s app-u-gap-s"
        >
          <div class="eui-u-display-flex app-u-gap-m">
            <button
              euiButton
              euiIconButton
              euiSecondary
              euiOutline
              euiSizeS
              [title]="
                ((documentService.compareModeEnabled$ | async)
                  ? 'page.editor.versions.compare-button.tooltip-disable'
                  : 'page.editor.versions.compare-button.tooltip-enable'
                ) | translate
              "
              [attr.aria-label]="
                ((documentService.compareModeEnabled$ | async)
                  ? 'page.editor.versions.compare-button.tooltip-disable'
                  : 'page.editor.versions.compare-button.tooltip-enable'
                ) | translate
              "
              (click)="documentService.toggleCompareMode()"
            >
              <eui-icon-svg icon="documents"></eui-icon-svg>
            </button>

            <button
              euiButton
              euiIconButton
              euiSecondary
              euiOutline
              euiSizeS
              [title]="
                ((documentService.versionSearchOpen$ | async)
                  ? 'page.editor.versions.search-button.tooltip-disable'
                  : 'page.editor.versions.search-button.tooltip-enable'
                ) | translate
              "
              [attr.aria-label]="
                ((documentService.versionSearchOpen$ | async)
                  ? 'page.editor.versions.search-button.tooltip-disable'
                  : 'page.editor.versions.search-button.tooltip-enable'
                ) | translate
              "
              (click)="documentService.toggleVersionsSearchPane()"
            >
              <eui-icon-svg icon="search"></eui-icon-svg>
            </button>
          </div>

          <div
            class="eui-u-display-block eui-u-pt-m_"
            *ngIf="documentService.versionSearchOpen$ | async"
          >
            <!-- TODO : add search controls [search-controls] -->
          </div>
        </eui-page-column-header-body>
        <eui-page-column-body>
          <app-versions-pane></app-versions-pane>
        </eui-page-column-body>
      </eui-page-column>
    </eui-page-columns>
  </eui-page-content>
</eui-page>
