<button class="eui-u-mb-s" euiButton euiPrimary (click)="openDialog()">
  {{ 'global.actions.add' | translate }}
</button>

<eui-dialog
  #addCollaboratorsModal
  [title]="'page.collection.collaborators.dialog.header' | translate"
  isDraggable
  isClosedOnClickOutside
  [isHandleCloseOnDismiss]="true"
  [isHandleCloseOnEscape]="true"
  [isHandleCloseOnClose]="true"
  (clickOutside)="closeDialog()"
  (dismiss)="closeDialog()"
  (escape)="closeDialog()"
  (close)="closeDialog()"
>
  <!-- Body -->
  <div euiInputGroup class="row justify-content-center">
    <div class="col-md-3">
      <label euiLabel for="quantity">
        {{ 'page.collection.collaborators.dialog.quantity' | translate }}</label
      >
    </div>
    <div class="col-md-9">
      <input
        type="number"
        euiInputText
        id="quantity"
        name="quantity"
        [min]="MIN_QUANTITY_USER"
        [max]="MAX_QUANTITY_USER"
        [(ngModel)]="quantity"
        (ngModelChange)="handleQuantityChange($event)"
        [isInvalid]="isQuantityValid"
      />
      <eui-feedback-message euiDanger [hidden]="isQuantityValid">
        {{ 'page.collection.collaborators.dialog.max-quantity' | translate }}
        {{ MAX_QUANTITY_USER }}</eui-feedback-message
      >
    </div>
  </div>
  <div [formGroup]="collaboratorsForm">
    <div formArrayName="collaborators">
      <div
        *ngFor="let item of collaboratorsFormList.controls; let i = index"
        class="eui-u-p-xs"
        [ngClass]="{ 'eui-u-bg-color-danger-5': item.errors }"
      >
        <div [formGroupName]="i" class="row align-items-center">
          <div class="col-md-5">
            <label euiLabel for="item">{{
              'page.collection.collaborators.dialog.form.name' | translate
            }}</label>
            <eui-autocomplete
              [panelWidth]="'auto'"
              [autocompleteData]="userAutocompleteData"
              name="item"
              id="item"
              formControlName="item"
              (selectionChange)="handleNameSelect($event, i)"
            ></eui-autocomplete>
          </div>
          <div class="col-md-3">
            <label euiLabel for="entity">{{
              'page.collection.collaborators.dialog.form.entity' | translate
            }}</label>
            <input
              euiInputText
              name="entity"
              id="entity"
              formControlName="entity"
              type="text"
            />
          </div>
          <div class="col-md-3">
            <label euiLabel for="role">{{
              'page.collection.collaborators.dialog.form.role' | translate
            }}</label>
            <select
              euiSelect
              id="role"
              name="role"
              formControlName="role"
              (change)="handleRoleSelect($event, i)"
            >
              <option value="OWNER">
                {{ 'page.collection.collaborators.role.author' | translate }}
              </option>
              <option value="CONTRIBUTOR">
                {{
                  'page.collection.collaborators.role.contributor' | translate
                }}
              </option>
              <option value="REVIEWER">
                {{ 'page.collection.collaborators.role.reviewer' | translate }}
              </option>
            </select>
          </div>
          <div class="col-md-1 eui-u-mt-l">
            <span
              euiIcon
              euiDanger
              (click)="removeCollaborator(i)"
              class="eui-icon eui-icon-close-m"
            ></span>
          </div>
        </div>
        <div class="row" *ngIf="item.errors">
          <div class="col-12">
            <eui-feedback-message
              euiDanger
              translate="page.collection.collaborators.dialog.form.errors.duplicate-user"
            ></eui-feedback-message>
          </div>
        </div>
      </div>
    </div>
  </div>

  <eui-alert class="eui-u-mt-l eui-u-mh-xs" euiDanger *ngIf="addUsersError">
    {{
      'page.collection.collaborators.dialog.form.errors.api-failure' | translate
    }}
  </eui-alert>

  <!-- Footer -->
  <eui-dialog-footer>
    <div class="d-flex flex-row justify-content-end">
      <button
        type="button"
        class="eui-u-mr-xs"
        euiButton
        euiSecondary
        (click)="closeDialog()"
      >
        {{ 'global.actions.cancel' | translate }}
      </button>
      <button
        [disabled]="!isFormValid"
        type="button"
        euiButton
        euiPrimary
        (click)="handleAddUsers()"
      >
        {{
          'page.collection.collaborators.dialog.footer.add-users' | translate
        }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
