<eui-app [userInfos]="userInfos?.fullName" isSidebarOpen="true">
  <eui-app-toolbar>
    <eui-toolbar>
      <eui-toolbar-logo></eui-toolbar-logo>
      <eui-toolbar-app appName="appName"></eui-toolbar-app>
      <eui-toolbar-environment>MOCK</eui-toolbar-environment>
      <eui-toolbar-items euiPositionRight>
        <eui-toolbar-item-user-profile>
          <eui-user-profile-menu>
            <eui-user-profile-menu-item>
              <eui-icon iconClass="eui-icon-person-thin"></eui-icon>
              {{ 'eui.my-profile-informations' | translate }}
            </eui-user-profile-menu-item>
            <eui-user-profile-menu-item>
              <eui-icon iconClass="eui-icon-logout-thin"></eui-icon>
              {{ 'eui.sign-out' | translate }}
            </eui-user-profile-menu-item>
          </eui-user-profile-menu>
        </eui-toolbar-item-user-profile>
      </eui-toolbar-items>
    </eui-toolbar>
  </eui-app-toolbar>
  <eui-app-footer [className]="'leos-footer'">
    <eui-footer euiPrimary [className]="'leos-footer-content'">
      Developed by DIGIT.B2 | Version: v4.0.1 | Revision: LEOS Open Source |
      Date: 2023-02-14 08:00 CEST
    </eui-footer>
  </eui-app-footer>
</eui-app>
