<eui-app [userInfos]="userInfos?.fullName" isSidebarOpen="true">
  <eui-app-toolbar>
    <eui-toolbar>
      <eui-toolbar-items style="margin-left: 0">
        <eui-toolbar-logo *ngIf="!headerLogoUrl"></eui-toolbar-logo>
        <img
          class="eui-toolbar-logo eui-toolbar-logo--custom"
          [src]="headerLogoUrl"
          *ngIf="headerLogoUrl"
        />
        <div class="eui-toolbar-app" [innerHTML]="headerTitleHtml"></div>
      </eui-toolbar-items>
      <eui-toolbar-items euiPositionRight> </eui-toolbar-items>
    </eui-toolbar>
  </eui-app-toolbar>
  <eui-app-footer [className]="'leos-footer'">
    <eui-footer euiPrimary [className]="'leos-footer-content'">
      Developed by DIGIT.A3 | Version: {{ 'NG_APP_LEOS_VERSION' | env }} |
      Revision: {{ 'NG_APP_LEOS_SOURCE_REVISION' | env }} | Date:
      {{ 'NG_APP_LEOS_VERSION_BUILD_DATE' | env }}
    </eui-footer>
  </eui-app-footer>
</eui-app>
