@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: inline-block !important;
  }
}

@media (min-width: 769px) {
  .mobile-only {
    display: none !important;
  }
  .desktop-only {
    display: inline-block !important;
  }
}

@media (max-width: 768px) {
  eui-toolbar button {
    padding: 0.25rem !important;
    font-size: 0.75rem !important;
    min-width: 32px !important;
    height: 32px !important;
  }
  
  eui-toolbar eui-icon-svg {
    width: 16px !important;
    height: 16px !important;
  }
}