<eui-app [userInfos]="userInfos?.fullName" isSidebarOpen="true">
  <eui-app-toolbar>
    <eui-toolbar>
      <eui-toolbar-items style="margin-left: 0">
        <eui-toolbar-logo
          *ngIf="!headerLogoImgUrl"
          [homeUrl]="headerLogoUrl"
        ></eui-toolbar-logo>
        <a [href]="headerLogoUrl" *ngIf="headerLogoImgUrl"
          ><img
            class="eui-toolbar-logo eui-toolbar-logo--custom"
            [alt]="
              'app.header.logo-alt'
                | translate : { title: headerTitleHtml | htmlToPlaintext }
            "
            [src]="headerLogoImgUrl"
        /></a>
        <div class="eui-toolbar-app" [innerHTML]="headerTitleHtml"></div>
      </eui-toolbar-items>
      <eui-toolbar-items euiPositionRight>
        <eui-toolbar-item-user-profile></eui-toolbar-item-user-profile>
      </eui-toolbar-items>
    </eui-toolbar>
  </eui-app-toolbar>
  <eui-app-footer>
    <eui-footer euiPrimary [className]="'leos-footer-content'">
      <a
        href="https://webgate.ec.europa.eu/fpfis/wikis/display/DIGITB2Support/EdiT"
        target="_target"
        ><span>Help </span></a
      >
      | Privacy Statement | Developed by DIGIT.A3 | Version:
      {{ 'NG_APP_LEOS_VERSION' | env }} | Revision:
      {{ 'NG_APP_LEOS_SOURCE_REVISION' | env }} | Date:
      {{ 'NG_APP_LEOS_VERSION_BUILD_DATE' | env }}
    </eui-footer>
  </eui-app-footer>
</eui-app>
