<app-zoom-scrollbar
  style="display: flex"
  *ngIf="item.id === 'DISPLAY_SECTION_ID'"
  [mainContainerId]="mainContainerId"
>
</app-zoom-scrollbar>
<div class="section-container" [ngClass]="item.sectionContainerCssClasses">
    <!-- Normal rendering for items not resized or sections with one children in this case children = section -->
    <div
            [id]="item.id"
            class="section-content"
            [ngClass]="item.cssClasses"
            *ngIf="
      (!resizeMap.get(item.id) && item.children?.length > 0) ||
      item.children.length === 1
    "
    >
        <button *ngIf="item.closable"
                euiSizeS
                euiBasicButton
                euiRounded
                euiButton
                [euiVariant]="item.closableBtnStyle"
                (click)="item.closeFn()" class="section-close-icon">
          <eui-icon-svg
                  icon="eui-ecl-close-filled"
                  set="eui"
          ></eui-icon-svg>
        </button>

        <ng-template *ngTemplateOutlet="sectionItems; context: { items: item.children }"></ng-template>
    </div>
    <!-- Case where the item gets resized (sections with more than 1 children) -->
    <div
            class="section-content"
            [id]="item.id"
            *ngIf="resizeMap.get(item.id) && item.children?.length > 1"
    >
        <eui-dropdown class="eui-u-mb-s">
            <button euiButton euiSecondary euiIconButton euiSizeS>
        <eui-icon-svg
                *ngIf="item.icon"
                icon="eui-ellipsis-vertical"
                set="eui"
        ></eui-icon-svg>
                <eui-icon-svg
                        *ngIf="item.icon"
                        [euiTooltip]="itemLabelValue"
                        [set]="item.svgType"
                        [icon]="item.icon"
                ></eui-icon-svg>
            </button>
            <eui-dropdown-content>
                <div class="eui-u-m-xs">
                    <ng-template *ngTemplateOutlet="sectionItems; context: { items: item.children }"></ng-template>
                </div>
            </eui-dropdown-content>
        </eui-dropdown>
    </div>
    <!-- Label (only shown when not resized) -->
    <div
            *ngIf="!resizeMap.get(item.id)"
            euiLabel
            euiSizeS
            class="align-self-center text-center"
            style="max-width: 250px"
            class="align-self-center eui-u-text-center"
    >
        {{ itemLabelValue }}
    </div>
</div>

<app-zoom-scrollbar
  *ngIf="item.id === 'COMPARE_SECTION_ID'"
  [mainContainerId]="versionComparisonMainContainerId"
>
</app-zoom-scrollbar>
<app-zoom-scrollbar
  *ngIf="item.id === 'VIEW_VERSION_SECTION_ID'"
  [mainContainerId]="versionMainContainerId"
></app-zoom-scrollbar>
<app-zoom-scrollbar
  *ngIf="item.id === 'MERGE_SECTION_ID'"
  [mainContainerId]="contributionViewMainContainerId"
></app-zoom-scrollbar>

<ng-template #sectionItems let-items="items">
    <ng-container
            *ngFor="let actionItem of items"
            class="section-items"
    >
        <div *ngIf="actionItem.type === IRibbonToolbarType.GROUP"
             [ngClass]="actionItem.cssClasses">
            <ng-template *ngTemplateOutlet="sectionItems; context: { items: actionItem.children }"></ng-template>
        </div>
        <app-ribbon-toolbar-label *ngIf="actionItem.type === IRibbonToolbarType.LABEL"
                                  [item]="actionItem"
                                  [isOverflow]="resizeMap.get(item.id)"
        ></app-ribbon-toolbar-label>
        <app-ribbon-toolbar-button
                *ngIf="actionItem.type === IRibbonToolbarType.BUTTON"
                [item]="actionItem"
                [isOverflow]="resizeMap.get(item.id)"
        ></app-ribbon-toolbar-button>
        <app-ribbon-toolbar-checkbox
                *ngIf="actionItem.type === IRibbonToolbarType.CHECKBOX"
                [item]="actionItem"
                [isOverflow]="resizeMap.get(item.id)"
        ></app-ribbon-toolbar-checkbox>
        <!-- && !resizeMap.get(item.id) -->
        <app-ribbon-toolbar-dropdown
                *ngIf="actionItem.type === IRibbonToolbarType.DROPDOWN"
                [item]="actionItem"
                [isOverflow]="resizeMap.get(item.id)"
        >
        </app-ribbon-toolbar-dropdown>
        <!-- case for dropdown when over-sized and put inside a dropdown
         button, the click events get messed and the dropdown doesn't behave as expected -->
        <!--    <div class="eui-u-flex eui-u-flex-column"-->
        <!--         *ngIf="shouldRenderDropdownItemsAsRibbonItems(actionItem)"-->
        <!--    >-->
        <!--      <ng-template-->
        <!--        *ngTemplateOutlet="sectionItems; context: { items: mapEuiDropdownMenuItemToRibbonToolbarItems(actionItem?.items) }"></ng-template>-->
        <!--    </div>-->
    </ng-container>
</ng-template>
